@charset "UTF-8";

// font size
@mixin fs($fontSize, $baseFontSize:10){
	font-size: #{$fontSize / $baseFontSize}em;
}

// clearfix（float解除）
%cf {
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

// clearfix（float解除）
@mixin cf{
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

// display center
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
	@include sp{
		width: auto;
	}
}

// breakpoint
@mixin sp {
 	@media screen and (max-width: #{$bp767}) {
    @content;
 	}
}
