@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body{
	font-size: 1.4rem;
	line-height: 1.6;
    @include sp{
		padding-top: 60px;
    	font-size: 1.2rem;
    }
}
/* layout container
------------------------------------------------------------*/
.l-container{
	@include center;
	@include sp{
    	width: 100%;
    }
}
/* layout main
------------------------------------------------------------*/
.l-main{
	width: 800px;
	margin-top: 50px;
	float: left;
    @include sp{
    	width: auto;
    	margin-top: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    }
}
/* layout side
------------------------------------------------------------*/
.l-side{
	width: 220px;
	margin-top: 50px;
	float: right;
    @include sp{
    	width: 100%;
    	margin-top: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
 	}
}
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
/* PC
------------------------------------------------------------*/
.c-header-PC {
	border-bottom: 1px solid #CCC;
	//-------------------------------------------------------
	&__inner{
		height: 80px;
		@include center;
		@extend %cf;
		padding: 15px 0;
	}
	//-------------------------------------------------------
	.c-logo-PC{
		float: left;
	}
	//-------------------------------------------------------
	.c-link-PC{
		ul{
			float: right;
			padding: 15px 0;
		}
		li{
			display: inline-block;
			margin-left: 20px;
			a{
				text-decoration: none;
				font-size: 1.6rem;
				color: #333;
			}
		}
	}
}
/* SP
------------------------------------------------------------*/
.c-header-SP{
	border-bottom: 1px solid #CCC;
	background: #FFF;
	height: 60px;
	padding-left: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	padding-top: 10px;
	//-------------------------------------------------------
	&__inner{
	    position: relative;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
}

.c-menuSP {
	$root:&;
	width: 30px;
	height: 30px;
	top: 11px;
	right: 10px;
	cursor: pointer;
	position: absolute;
	//-------------------------------------------------------
	&__bar{
		width: 100%;
		height: 5px;
		background: #000;
		margin: 6px auto;
		backface-visibility: hidden;
	}
	//-------------------------------------------------------
	&.is-open {
		#{$root}__bar:first-child {
			transform:rotate(45deg) translate(7px, 7px);
		}

		#{$root}__bar:nth-child(2) {
			opacity: 0;
		}

		#{$root}__bar:last-child {
			transform:rotate(-45deg) translate(8px, -8px);
		}
	}
}


.c-menulistSP {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	display: none;
	//-------------------------------------------------------
	ul{
		background: #FFF;
	}
	//-------------------------------------------------------
	li{
		border-bottom:1px solid #CCC;
	}
	//-------------------------------------------------------
	a{
		text-decoration: none;
		display: block;
		color: #333;
		padding: 10px 10px;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.c-gnavi-PC {
	border-bottom: 1px solid #CCC;
	//-------------------------------------------------------
	ul{
		@include center;
		@extend %cf;
		border-left: 1px solid #CCC;
	}
	//-------------------------------------------------------
	li {
		width: 20%;
		border-right: 1px solid #CCC;
		background-color: #efefef;
		float: left;
	}
	//-------------------------------------------------------
	a {
		padding: 10px 0;
		display: block;
		text-decoration: none;
		text-align: center;
		color: #333;
		height: 40px;
		font-size: 1.4rem;
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
.c-breadcrumb {
	padding: 10px 10px;
	//-------------------------------------------------------
	ul {
		@include center;
		text-align: left;
	}
	//-------------------------------------------------------
	li {
		line-height: 1;
		font-size: 1.2rem;
		display: inline;
		@include sp {
			font-size: 1.0rem;
		}
	}
	//-------------------------------------------------------
	li+li:before{
		content:"›";
		margin: 0 7px;
	}
	//-------------------------------------------------------
	a{
		color: #333;
	}
	//-------------------------------------------------------
    &--topline{
	    border-top:1px solid #CCC;
    }
	//-------------------------------------------------------
    &--botline{
	    border-bottom:1px solid #CCC;
    }
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
.c-side{
	border-radius: 5px;
    border:1px solid #CCC;
    margin-bottom: 30px;
	//-------------------------------------------------------
    &__head{
    	border-bottom:1px solid #CCC;
    	padding: 12px 10px;
    	background: #E6E9ED;
    	p{
    		font-size: 1.4rem;
    		line-height: 1;
    	}
    }
	//-------------------------------------------------------
    &__body{
    	padding: 13px 10px;
    }
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer{
	margin-top: 30px;
}
footer
/* Navigatot foooter
------------------------------------------------------------*/
.c-foot-nav{
	border-top: 1px solid #CCC;
    background: #EFEFEE;
	padding: 30px 0;
	@include sp{
		padding: 15px 10px 5px 10px;
    }
	//-------------------------------------------------------
	&__inner{
	    @include center;
	    @extend %cf;
	    @include sp{
	    }
    }
	//-------------------------------------------------------
	&__block{
		width: 20%;
		float: left;
	    @include sp{
	    	width: 48%;
	    	margin-bottom: 20px;
	    	&:first-child{
	    		margin-top: 0;
	    	}
	    }
	}
	//-------------------------------------------------------
	p{
		font-weight: bold;
		font-size: 1.4rem;
	}

	//-------------------------------------------------------
	ul{
	}

	//-------------------------------------------------------
	li{
		margin-top: 6px;
	}

	//-------------------------------------------------------
	a{
		text-decoration: none;
		color: #000;
	}
}
/* Copyright
------------------------------------------------------------*/
.c-footCopy{
	padding: 20px 0;
	border-top: 1px solid #CCC;
    @include sp{
    	padding: 10px 0;
    }
	//-------------------------------------------------------
	p{
		text-align: center;
		font-size: 1.2rem;
		line-height: 1;
	    @include sp{
	    	font-size: 1.0rem;
	    }
	}
}