@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout
@import "components/_01_title.scss";
@import "components/_02_button.scss";
@import "components/_03_navi.scss";
@import "components/_04_contentBox.scss";
@import "components/_05_list.scss";
@import "components/_06_table.scss";
@import "components/_07_line.scss";
@import "components/_08_other.scss";
// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-headline1,
.c-headline2,
.c-headline3{
	line-height: 1;
	font-size: 1.3rem;
	padding: 6px 0 6px 15px;
	margin: 40px 0 20px 0;
    border-radius: 5px;
}

.c-headline2,
.c-headline3{
	margin-top: 20px;
}


.c-headline1{
	font-size: 1.6rem;
	background: #000;
	color: #FFF;
}

.c-headline2{
	background: #888;
	color: #FFF;
	padding-left: 30px;
}

.c-headline3{
	background: #DDD;
	color: #000;
	padding-left: 35px;
}