@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
.p-company-1{
	margin-bottom: 40px;
	p{
		margin-bottom: 20px;
	}
}

.p-company-2{
	margin-bottom: 40px;
	.c-table{
		margin-bottom: 30px;
	}
}
.p-company-3{
	p{
		margin-bottom: 10px;
		&:nth-child(8){
			color: #F00;
			font-size: 1.2rem;
		}
	}
	.c-list-type2{
		margin-bottom: 30px;
	}
	.c-line{
		margin-top: 30px;
    	margin-bottom: 30px;
	}
	.c-contentBox{
		border: none;
		padding-left: 0;
		&__img{
			width: 180px;
			@include sp{
				width: 30%;
				img{
					width: 100%;
				}
			}
		}
		&__text{
			p{
				font-size: 1.4rem;
			}
			@include sp{
				width: 65%;
				float: right;
			}
		}
	}
}