@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function

.p-service-1{
	margin-bottom: 30px;
}
.p-service-2{
	margin-bottom: 30px;
}
.p-service-3{
	margin-bottom: 30px;
	.text{
		margin-bottom: 20px;
	}
}
.p-service-4{
	margin-bottom: 30px;
	.c-table{
		margin-bottom: 30px;
	}
	.l-btn{
		margin-top: 30px
	}
}
.p-service-5{
	&__text{
		margin: 20px 0;
	}
}