@charset "UTF-8";
//*******************************
// Utilities custom
//********************************

// Clearfix
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// Display PC or SP
.pc-only{
	display: block;
	@include sp{
		display: none;
	}
}
.sp-only{
	display: none;
	@include sp{
		display: block;
	}
}
// Break
.breakline-sp{
	@include sp{
		&:after{
		    content: '\A';
		    white-space: pre;
		}
	}
}

//background SP when click icon menu
.bg-white{
	background: $white;
	border-bottom: solid 1px #0075a9;
	@include ani('fade .5s');
}

//body noscroll
.no-scroll{
	overflow: hidden;
}

//position fixed when scroll
.stick{
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	border-bottom: solid 1px #0075a9;
	@include ani('fade .25s');
	z-index: 99999;
}

@include keyframes(fade){
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}