@charset "UTF-8";

/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.c-title {
	&--section2{
		font-size: 3rem;
		color: #5ea6e8;
		margin-bottom: 35px;
		@include sp{
			margin-bottom: 15px;
			font-size: 2rem;
		}
	}
	&--section3{
		text-align: center;
		font-size: 30px;
		color: #5ea6e8;
		margin-bottom: 80px;
		@include sp{
			margin-bottom: 35px;
			img{
				margin: auto;
			}
		}
	}
}
