@charset "UTF-8";

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/* button base
------------------------------------------------------------*/
.c-btn{
	font-size: 1.6rem;
	text-decoration: none;
	font-weight: 500;
	color: #3386c2;
	padding: 13px 16px;
	border: solid 1px #4c86c2;
	background: #fff;
	position: relative;
	transition: all 0.25s;
	display: inline;
	@include sp{
		font-size: 1.4rem;
	}
	//-------------------------------------------------------
	&:after{
		content: '';
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-bottom: 10px solid #e69824;
		position: absolute;
		bottom: 4px;
		right: 7px;
		transition: all 0.25s;
		@include sp{
			border-width: 8px;
		}
	}
	&:hover{
		background-color: #5ea6e8;
		color: #fff;
		border: solid 1px #5ea6e8;
		&:after{
			border-bottom: 10px solid  #fff;
		}
	}
	/* button email
	-------------------------------------------------------*/
	&--email{
		background: #e69800;
		color: #fff;
		border: solid 1px #e69800;
		transition: all 0.25s;
		//-------------------------------------------------------
		&:after{
			border-bottom: 10px solid #fff;
			transition: all 0.25s;
		}
		//-------------------------------------------------------
		img{
			margin-top: 3px;
			margin-right: 3px;
		}
		//-------------------------------------------------------
		&:hover{
			background: #fff;
			color: #e69800;
			border-color: #fff;
			&:after{
				border-bottom: 10px solid #e69800;
			}
		}
	}
	/* button reverse
	-------------------------------------------------------*/
	&--reverse{
		background: #5ea6e8;
		color: #fff;
		border: solid 1px #5ea6e8;
		transition: all 0.25s;
		//-------------------------------------------------------
		&:after{
			border-bottom: 10px solid #fff;
			transition: all 0.25s;
		}
		//-------------------------------------------------------
		img{
			margin-top: 3px;
			margin-right: 3px;
		}
		//-------------------------------------------------------
		&:hover{
			background: #fff;
			color: #5ea6e8;
			border-color: #5ea6e8;
			&:after{
				border-bottom: 10px solid #5ea6e8;
			}
		}
	}
}