@charset "UTF-8";

/*------------------------------------------------------------
	Navigator
------------------------------------------------------------*/

.c-navi{
	//-------------------------------------------------------
	ul{
		list-style: none;
	}
	//-------------------------------------------------------
	li{
		display: inline-block;
		font-size: 1.6rem;
		width: 150px;
		text-align: center;
		position: relative;
		&+li:before{
			content: '/';
			color: #fff;
			position: absolute;
			left: 0;
		}
		&:hover{
			:after{
				content: "";
				position: absolute;
				background: #fff;
				height: 4px;
				left: 5px;
			 	right: 3px;
			  	top: 48px;
			}
		}
	}
	//-------------------------------------------------------
	a{
		text-decoration: none;
		color: #fff;
		padding: 24px;
	}
}


/* navi sp
-------------------------------------------------------*/
.c-navi-sp{
	width: 85%;
    background: #03a8ec;
    z-index: 99999;
    position: fixed;
    right: 0;
    top: 45px;
    font-size: 1.4rem;
    display: none;
    //-------------------------------------------------------
    ul{

    }
    //-------------------------------------------------------
    li{
    	border-bottom: solid 1px #fff;
    	padding: 15px 20px;
    	position: relative;
    	&:after{
    		content: '';
		    width: 20px;
		    height: 20px;
		    background: url(../img/common/sp/arrow_right_l.png);
		    background-repeat: no-repeat;
		    background-size: 7px;
		    top: 18px;
		    right: 0px;
		    position: absolute;
		    display: inline-block;
		    cursor: pointer;
    	}
    	&:last-child{
    		border-bottom: 0;
    	}
    }
    //-------------------------------------------------------
    a{
    	color: #fff;
    	padding: 15px 130px 15px 0;
    }
}