@charset "UTF-8";

.u-text-line{
	//border-bottom: solid 1px #777777;
	text-decoration: underline;
}
/*------------------------------------------------------------
	List
------------------------------------------------------------*/
.c-list-1{
	font-size: 1.4rem;
	@include sp{
		border-right: solid 1px #ededed;
		border-left: solid 1px #ededed;
	}
	//-------------------------------------------------------
	ul{
	}
	//-------------------------------------------------------
	li{
		padding: 20px 0;
		border-bottom: solid 1px #ededed;
		border-top: solid 1px #ededed;
		&:first-child{
		}
		@include sp{
			padding: 20px;
		}
	}
	//-------------------------------------------------------
	a{
		color: #333333;
		transition: all 0.25s;
	}
	.u-text-line{
		transition: all 0.25s;
		&:hover{
			border-bottom: solid 1px #e69800;
			color: #e69800;
		}
	}
	//-------------------------------------------------------
	.date{
		color: #3386c2;
		padding-right: 40px;
		&:after{
			content: '';
			@include sp{
				content: '\A';
   				white-space: pre;
			}
		}
	}
	//-------------------------------------------------------
	/* custom scroll bar */
	&::-webkit-scrollbar {
    	width: 10px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
	    background: #ededed;
	}
	/* Handle */
	&::-webkit-scrollbar-thumb {
	    background: #7c7c7c;
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	    background: #555;
	}
}

/* list blog
------------------------------------------------------------*/
.c-list-2{
	font-size: 1.6rem;
	@include sp{
		font-size: 1.4rem;
	}
	ul{
		border-top: solid 1px #ededed;
	}
	//-------------------------------------------------------
	li{
		padding: 30px 0;
		border-bottom: solid 1px #ededed;
		@include sp{
			padding: 15px 0;
		}
	}
	//-------------------------------------------------------
	a{
		color: #333333;
	}
	//-------------------------------------------------------
	.tag{
		border: solid 1px #e69800;
		color: #e69800;
		font-size: 1.2rem;
		width: 88px;
		height: 20px;
		text-align: center;
		display: inline-block;
		margin-left: 10px;
		@include sp{
			font-size: 1rem;
			width: 60px;
			height: 15px;
			margin-left: 5px;
		}
	}
	//-------------------------------------------------------
	.date{
		padding-bottom: 10px;
		@include sp{
			padding-bottom: 5px;
		}
	}

}
/* list blog
------------------------------------------------------------*/
.c-list-3{
	font-size: 1.6rem;
	@include sp{
		font-size: 1.4rem;
	}
	ul{
		border-top: solid 1px #ededed;
	}
	//-------------------------------------------------------
	li{
		padding: 20px 0;
		border-bottom: solid 1px #ededed;
		@include sp{
			padding: 10px;
		}
	}
	//-------------------------------------------------------
	a{
		color: #333333;
		&:before{
			content: '';
			background: url('/assets/img/blog/arrow_right_l.png');
			width: 6px;
			height: 12px;
			background-repeat: no-repeat;
		   	padding-left: 10px;
		    display: inline-block;
		}
	}
	//-------------------------------------------------------

}