@charset "UTF-8";

/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.c-banner{
	width: 100%;
	height: 270px;
	&__title{
		text-align: center;
		padding-top: 100px;
		img{
			margin: auto;
		}
		@include sp{
			padding-top: 45px;
		}
	}
	@include sp{
		height: 135px;
	}
}