@charset "UTF-8";
/*------------------------------------------------------------
	table
------------------------------------------------------------*/
.c-table{
	text-align: left;
	font-size: 1.6rem;
	@include sp{
		font-size: 1.4rem;
	}
	//-------------------------------------------------------
	table{
		width: 100%;
		border-collapse: collapse;
	}
	//-------------------------------------------------------
	th,td{
		border-top: 1px solid #dbdbdb;
		border-bottom: 1px solid #dbdbdb;
	}
	//-------------------------------------------------------
	th{
		color: #3386c2;
		font-weight: bold;
	}
	//-------------------------------------------------------
	&--large{
		//-------------------------------------------------------
		th,td{
			padding: 30px 0;
		}
		//-------------------------------------------------------
		th{
			width: 205px;
			padding-left: 40px;
		}
		@include sp{
			table{
				border-bottom: 1px solid #dbdbdb;
			}
			th, td{
				display: block;
				width: 100%;
				text-align: center;
				padding: 15px 0;
				border-bottom: 0;
				border-left: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;
			}
			th{
				background: #eee;
			}
		}
	}
	//-------------------------------------------------------
	&--shop{
		//-------------------------------------------------------
		table{
			height: 224px;
			@include sp{
				border-top: 1px solid #dbdbdb;
			}
		}
		//-------------------------------------------------------
		td{
			padding: 15px 0;
			border-top: 1px solid #dbdbdb;
			border-bottom: 1px solid #dbdbdb;
			@include sp{
				display: block;
				border-top: 0;
				padding-top: 0;
			}
		}
		//-------------------------------------------------------
		th{
			width: 132px;
			padding: 15px 0 15px 30px;
			border-top: 1px solid #dbdbdb;
			border-bottom: 1px solid #dbdbdb;
			@include sp{
				width: 100%;
				display: block;
				padding-left: 0;
				border: 0;
				padding-bottom: 0;
			}
		}
	}
}