@charset "UTF-8";

/*------------------------------------------------------------
------------------------------------------------------------*/
.c-imgbox{
	@extend %cf;
	//-------------------------------------------------------
	&__image{
		float: left;
		@include sp{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	//-------------------------------------------------------
	&__content{
		float: left;
		padding-left: 20px;
		@include sp{
			width: 100%;
			padding: 0;
		}
	}
	//-------------------------------------------------------

}