@charset "UTF-8";

/*------------------------------------------------------------
	Page
------------------------------------------------------------*/
.c-pagination{
	text-align: center;
	font-size: 1.6rem;
	display: flex;
  	justify-content: center;
	@extend %cf;
	@include sp{
		font-size: 1.4rem;
	}
	//-------------------------------------------------------
	a{
		width: 45px;
		height: 45px;
		padding-top: 10px;
		border: solid 1px #d2d2d2;
		color: #333333;
		margin: 0 5px;
		float: left;
		@include sp{
			width: 25px;
			height: 25px;
			font-size: 1.4rem;
			padding-top: 2px;
		}
	}
	//-------------------------------------------------------
	.is-here{
		background: #5ea6e8;
		border: solid 1px  #5ea6e8;
		color: #fff;
	}
	//-------------------------------------------------------
	.is-none{
		border: none;
		width: auto;
		height: auto;
		@include sp{
			display: none;
		}
	}
	//-------------------------------------------------------
	.page-number{
		@include sp{
			display: none;
		}
	}
	//-------------------------------------------------------
	.direct{
		width: 90px;
		position: relative;
		margin: 0 40px;
		@include sp{
			width: 80px;
			margin: 0 5px;
		}
		//-------------------------------------------------------
		&:after{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
		}
		//-------------------------------------------------------
		&--next:after{
			border-left: 10px solid transparent;
			border-bottom: 10px solid #5ea6e8;
			bottom: 4px;
			right: 7px;
			margin-left: 40px;
			@include sp{
				border-width: 6px;
			}
		}
		//-------------------------------------------------------
		&--pre:after{
			border-right: 10px solid transparent;
			border-bottom: 10px solid #5ea6e8;
			bottom: 4px;
			left: 7px;
			@include sp{
				border-width: 6px;
			}
		}
	}
	//-------------------------------------------------------
	.all-blog{
		width: 140px;
		@include sp{
			width: 90px;
		}
	}
}