@charset "UTF-8";

/*------------------------------------------------------------
 aside
------------------------------------------------------------*/
.c-aside{
	position: relative;
	margin-bottom: 60px;
	@include sp{
		margin-bottom: 30px;
	}
	//-------------------------------------------------------
	&__header{
		margin-bottom: 20px;
		height: 31px;
		@include sp{
			margin-bottom: 10px;
		}
		//-------------------------------------------------------
		&:before{
			content: '';
			background: url('/assets/img/blog/border.png');
			position: absolute;
			width: 9px;
			height: 31px;
			left: 0px;
			background-repeat: no-repeat;
		    background-size: 9px;
		    display: inline-block;
		}
		//-------------------------------------------------------
		h4{
			color: #333333;
			font-size: 1.6rem;
			padding-left: 24px;
			padding-top: 6px;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}
	//-------------------------------------------------------
	&__content{
		//-------------------------------------------------------
		li{
			padding-left: 22px;
			padding-right: 22px;
		}
	}
}