@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Blog detail
------------------------------------------------------------*/
.c-blog-detail{
	//-------------------------------------------------------
	&__title{
		margin-bottom: 40px;
		@include sp{
			margin-bottom: 20px;
		}
		//-------------------------------------------------------
		p{
			font-size: 1.6rem;
			padding-bottom: 20px;
			@include sp{
				font-size: 1.4rem;
				padding-bottom: 10px;
			}
			.tag{
				border: solid 1px #e69800;
				color: #e69800;
				font-size: 1.2rem;
				width: 88px;
				height: 20px;
				text-align: center;
				display: inline-block;
				margin-left: 10px;
				@include sp{
					font-size: 1rem;
					width: 60px;
					height: 15px;
					margin-left: 5px;
				}
			}
		}
		//-------------------------------------------------------
		h2{
			font-size: 2.4rem;
			border-bottom: solid 3px #5ea6e8;
			padding-bottom: 18px;
			@include sp{
				font-size: 2rem;
				padding-bottom: 10px;
			}
		}
	}
	//-------------------------------------------------------
	&__image{
		@include sp{
			img{
				width: 100%;
			}
		}
	}
	//-------------------------------------------------------
	&__content{
		font-size: 1.6rem;
		@include sp{
			font-size: 1.4rem;
		}
		p{
			padding-top: 40px;
			@include sp{
				padding-top: 20px;
			}
		}
	}
}