@charset "UTF-8";
/*******************************
- Style
********************************/
/* Base*/
/*******************************
- Reset default style of browser
********************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html, body {
  font-size: 62.5%;
  margin: 0;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

table {
  border-collapse: collapse;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins, a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

/* Layout */
/*******************************
- Header
********************************/
/* header pc */
@media screen and (max-width: 768px) {
  .headerPC {
    display: none;
  }
}

.headerPC .l-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerPC .c-contact {
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* header sp */
.headerSP {
  display: none;
}

.headerSP__block {
  border-top: solid 1px #dddddd;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .headerSP {
    display: block;
  }
}

.headerSP h1 {
  font-size: 1rem;
  font-weight: normal;
  padding: 10px 15px;
}

.headerSP .c-logoSP {
  padding-left: 15px;
}

.headerSP .c-menu-icon {
  width: 40px;
  height: 40px;
  background: #4471c6;
  padding: 7px 13px;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.headerSP .c-menu-icon span {
  display: block;
  width: 15px;
  height: 2px;
  background: #fff;
  margin-top: 5px;
}

.headerSP #menu-icon:checked + .c-menu-icon span {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.headerSP #menu-icon:checked + .c-menu-icon span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px) scaleX(1.4);
          transform: rotate(-45deg) translate(-4px, 5px) scaleX(1.4);
}

.headerSP #menu-icon:checked + .c-menu-icon span:nth-child(2) {
  opacity: 0;
}

.headerSP #menu-icon:checked + .c-menu-icon span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-4px, -6px) scaleX(1.4);
          transform: rotate(45deg) translate(-4px, -6px) scaleX(1.4);
}

.headerSP #menu-icon:checked ~ .c-navSP ul {
  height: 80%;
}

/*******************************
- Footer
********************************/
.footer {
  border-top: solid 1px #cccccc;
}

.footer__1 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer__1 {
    padding: 45px 0;
  }
}

.footer__1 p {
  color: #585550;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  .footer__1 p {
    font-size: 1.3rem;
  }
}

.footer__1 .c-contact {
  width: 460px;
  margin: auto;
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .footer__1 .c-contact {
    width: 100%;
  }
}

.footer__1 .c-btn {
  margin-bottom: 10px;
}

.footer__1 .c-btn--default:after {
  top: 25px;
}

.footer__2 {
  height: 56px;
  background: #4471c6;
  text-align: center;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .footer__2 {
    border-top: solid 1px #4471c6;
    background: #fff;
    padding-top: 0;
    height: auto;
  }
}

.footer__2 .c-ft-navSP {
  text-align: left;
}

.footer__3 {
  height: 50px;
  background: #4471c6;
  text-align: center;
  padding-top: 10px;
  font-size: 1rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer__3 {
    height: 44px;
  }
}

.footer__map {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .footer__map {
    height: 250px;
  }
}

/*******************************
- Layout
********************************/
/* body
------------------------------------------------------------*/
body {
  font-size: 1.4rem;
  color: #333;
  min-width: 1200px;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

html, body {
  height: 100%;
}

/* container
------------------------------------------------------------*/
.l-container {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .l-container {
    padding: 0 15px;
  }
}

/* main
------------------------------------------------------------*/
/* Components */
/* breadcrumb */
.c-breadcrumb {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-breadcrumb {
    display: none;
  }
}

.c-breadcrumb li {
  display: inline;
  color: #333;
  font-size: 1.2rem;
}

.c-breadcrumb li + li:before {
  content: ' > ';
  margin: 0 4px;
}

.c-breadcrumb li a {
  color: #4471c6;
  border-bottom: solid 1px #4471c6;
}

/* button */
.c-btn {
  background-color: #4471c6;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 230px;
  display: inline-block;
  -webkit-transition: all .25s;
  transition: all .25s;
}

@media screen and (max-width: 768px) {
  .c-btn {
    width: 100%;
  }
}

.c-btn:hover {
  opacity: 0.7;
}

.c-btn--default {
  padding: 15px 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-btn--default {
    padding: 12px 0;
  }
}

.c-btn--default:after {
  content: '';
  background: url(".././img/common/icon_button.png") no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
}

.c-btn--mail {
  padding: 17px 20px;
}

.c-btn--mail:before {
  content: '';
  background: url(".././img/common/icon_mail.png") no-repeat;
  background-position: center;
  padding-left: 30px;
}

/* card */
.c-card {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.c-card__image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .c-card__image img {
    height: auto;
  }
}

.c-card__content {
  text-align: center;
  background: #4471c6;
  padding: 20px;
}

.c-card__content2 {
  text-align: center;
  background: #fff;
  color: #333;
  padding: 20px;
}

.c-card:hover {
  opacity: .7;
}

.c-card--no-hover:hover {
  opacity: 1;
}

/* navigator */
.c-global-nav {
  border-top: solid 1px #cccccc;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .c-global-nav {
    display: none;
  }
}

.c-global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(".././img/common/bg_li.png") no-repeat;
  background-position: right;
  height: 70px;
}

.c-global-nav li {
  width: 167px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: url(".././img/common/bg_li.png") no-repeat;
  background-position: left;
}

.c-global-nav li:hover {
  background: #4471c6;
}

.c-global-nav li:hover a {
  color: #fff;
}

.c-global-nav a {
  width: 167px;
  color: #000;
  padding: 25px;
}

.c-global-nav .is-current {
  background: #4471c6;
}

.c-global-nav .is-current a {
  color: #fff;
}

/* navigator footer */
.c-ft-nav {
  font-size: 1.4rem;
}

.c-ft-nav li {
  display: inline-block;
}

.c-ft-nav li:last-child a:after {
  content: '';
}

.c-ft-nav a {
  color: #fff;
}

.c-ft-nav a:after {
  content: '｜';
  padding: 5px;
}

/* navigator sp */
.c-navSP ul {
  background: rgba(68, 113, 198, 0.9);
  position: fixed;
  width: 100%;
  height: 0;
  overflow: scroll;
  z-index: 999;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 102px;
}

.c-navSP li {
  position: relative;
  padding: 20px 15px;
  border-bottom: solid 1px #ddd;
}

.c-navSP li:after {
  content: '';
  background: url(".././img/common/sp/icon_arrow-white.png") no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 15px;
}

.c-navSP li:last-child:after {
  content: '';
  background: none;
}

.c-navSP li:last-child img {
  margin-bottom: 15px;
}

.c-navSP a {
  color: #fff;
  padding: 20px 100px 20px 0;
}

/* navigator footer sp */
.c-ft-navSP {
  font-size: 1.4rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .c-ft-navSP {
    display: block;
  }
}

.c-ft-navSP li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #dddddd;
}

.c-ft-navSP li:last-child {
  text-align: center;
}

.c-ft-navSP li:last-child a:after {
  content: '';
  background: none;
}

.c-ft-navSP li a:first-child {
  border-right: solid 1px #dddddd;
}

.c-ft-navSP a {
  width: 50%;
  display: block;
  color: #333;
  padding: 20px 15px;
  position: relative;
}

.c-ft-navSP a:after {
  content: '';
  background: url(".././img/common/sp/bg-li-sp.png") no-repeat;
  background-size: 14px 15px;
  width: 14px;
  height: 15px;
  right: 15px;
  position: absolute;
}

/* table */
.c-table table {
  width: 100%;
  border: solid 1px #cccccc;
  border-collapse: collapse;
}

@media screen and (max-width: 768px) {
  .c-table table {
    border: 0;
    border-bottom: solid 1px #cccccc;
  }
}

.c-table th, .c-table td {
  border: solid 1px #cccccc;
  border-collapse: collapse;
  font-weight: normal;
  text-align: left;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .c-table th, .c-table td {
    display: block;
    text-align: center;
    padding: 15px;
    border-bottom: none;
  }
}

.c-table th {
  background: #f6f6f6;
}

/* title */
.c-headTitle {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-headTitle {
    height: 150px;
  }
}

.c-title1 {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .c-title1 {
    padding-bottom: 25px;
  }
}

/* tab */
.c-tab ul {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}

.c-tab li {
  display: inline-block;
  padding: 20px 0;
  position: relative;
}

.c-tab li:first-child a {
  border-left: 0;
  padding-left: 0;
}

.c-tab a {
  color: #4471c6;
  border-left: solid 1px #cccccc;
  padding-left: 20px;
}

.c-tab a:after {
  content: '';
  border: solid #4471c6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 5px;
  margin-bottom: 2px;
  margin-right: 20px;
}

/* image box content */
.c-imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-imgbox__title {
  border-bottom: solid 1px #4471c6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.c-imgbox__title h3, .c-imgbox__title h4, .c-imgbox__title h5, .c-imgbox__title h6 {
  color: #4471c6;
  font-weight: normal;
}

.c-imgbox__text {
  line-height: 2.2rem;
  margin-top: -0.4rem;
}

.c-imgbox__list {
  padding-left: 20px;
}

.c-imgbox__list li {
  list-style: disc url(".././img/business/list-style.png");
}

.c-imgbox__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-imgbox__img img {
  width: 100%;
  height: auto;
}

/* contact */
.c-contact {
  font-weight: bold;
  color: #585550;
  font-family: Meiryo sans-serif;
}

.c-contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-contact__info {
    display: none;
  }
}

.c-contact__info img {
  margin: 0 10px;
}

.c-contact__text {
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .c-contact__text {
    font-size: 1.4rem;
  }
}

/* news */
.c-news {
  height: 53px;
  background: #e9eff2;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: -24px;
  font-size: 1.4rem;
  color: #333;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .c-news {
    background: #fff;
    margin-top: 0;
    padding: 0 15px;
    position: relative;
    height: auto;
  }
}

.c-news span:not(.breakline-sp):after {
  content: ' | ';
  color: #2e4d88;
}

@media screen and (max-width: 768px) {
  .c-news span:not(.breakline-sp) {
    display: none;
  }
}

.c-news a {
  color: #333;
}

/* box-overlay */
.c-box-overlay {
  background: #fff;
  text-align: center;
  padding: 50px 56px;
  font-size: 1.4rem;
  color: #333;
}

@media screen and (max-width: 768px) {
  .c-box-overlay {
    padding: 30px 20px 0;
    text-align: left;
  }
}

.c-box-overlay h2 {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .c-box-overlay h2 {
    padding-bottom: 15px;
  }
}

.c-box-overlay p {
  padding-bottom: 20px;
  line-height: 2.2rem;
  margin-top: -0.4rem;
}

@media screen and (max-width: 768px) {
  .c-box-overlay p {
    padding-bottom: 36px;
  }
  .c-box-overlay p:nth-last-child(2) {
    padding-bottom: 10px;
  }
}

/* c-reward */
.c-reward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  width: 228px;
  height: 80px;
  border: solid 1px #4471c6;
  border-radius: 5px;
}

.c-reward span {
  padding-right: 10px;
}

/* Page */
/*******************************
- Index page
********************************/
/* Section 1 */
.p-index-1 {
  background: url(".././img/top/bg.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .p-index-1 {
    background: url(".././img/top/sp/bg-sp.jpg") no-repeat;
    background-size: cover;
    height: 230px;
    margin-bottom: 190px;
  }
  .p-index-1 h3 {
    margin-top: 290px;
  }
}

/* Section 2 */
.p-index-2 {
  position: relative;
  margin-bottom: 83px;
}

@media screen and (max-width: 768px) {
  .p-index-2 {
    margin-bottom: 30px;
  }
}

/* Section 3 */
.p-index-3 {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .p-index-3 {
    margin-bottom: 45px;
  }
}

.p-index-3 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-3 .l-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-index-3 .c-card {
  width: 313px;
}

@media screen and (max-width: 768px) {
  .p-index-3 .c-card {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Section 4 */
.p-index-4 {
  background: url(".././img/top/bg2.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .p-index-4 {
    background: url(".././img/top/sp/bg2-sp.jpg") no-repeat;
    background-size: cover;
    background-size: 100% 215px;
    padding-bottom: 45px;
  }
}

.p-index-4 .l-container {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .p-index-4 .l-container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-index-4 .c-box-overlay {
  width: 533px;
  height: 441px;
}

@media screen and (max-width: 768px) {
  .p-index-4 .c-box-overlay {
    width: 100%;
    height: auto;
    margin-top: 135px;
  }
}

/* Section 5 */
.p-index-5 {
  padding: 60px 0;
  background: #e9eff2;
}

@media screen and (max-width: 768px) {
  .p-index-5 {
    padding: 45px 0;
  }
}

.p-index-5 .c-card {
  width: 228px;
}

@media screen and (max-width: 768px) {
  .p-index-5 .c-card {
    width: 100%;
    margin-bottom: 15px;
  }
}

.p-index-5__block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-5__block {
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-index-5__content {
  margin-top: 30px;
  color: #333;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-index-5__content {
    margin-top: 15px;
    text-align: left;
  }
}

.p-index-5__content p {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-index-5__content p {
    padding-bottom: 15px;
  }
}

/*******************************
- Company page
********************************/
/* heading */
.p-company .c-headTitle {
  background: url(".././img/company/bg.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .p-company .c-headTitle {
    background: url(".././img/company/sp/bg.jpg") no-repeat;
    background-size: cover;
  }
}

/* section 1 */
.p-company-1 {
  padding-top: 30px;
  padding-bottom: 70px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-company-1 {
    padding-bottom: 10px;
  }
}

.p-company-1__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-company-1__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
}

.p-company-1__imageSP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .p-company-1__imageSP img {
    margin: 0 10px;
  }
}

.p-company-1__text {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-company-1__text {
    display: none;
  }
}

/* section 2 */
.p-company-2 {
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .p-company-2 {
    padding-bottom: 30px;
  }
}

/* section 3 */
.p-company-3 {
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .p-company-3 {
    padding-bottom: 30px;
  }
}

.p-company-3__map {
  height: 500px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-company-3__map {
    height: 250px;
    margin-bottom: 15px;
  }
}

.p-company-3__text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-company-3__text {
    font-size: 1.2rem;
  }
  .p-company-3__text img {
    margin-bottom: 5px;
  }
}

/* section 4 */
.p-company-4 {
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .p-company-4 {
    padding-bottom: 30px;
  }
}

/* section 5 */
.p-company-5 {
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .p-company-5 {
    padding-bottom: 30px;
  }
}

.p-company-5__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .p-company-5__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
}

.p-company-5__block {
  width: 313px;
}

@media screen and (max-width: 768px) {
  .p-company-5__block {
    width: 100%;
  }
  .p-company-5__block h4 {
    margin-bottom: 15px;
  }
}

.p-company-5__list {
  margin-top: 10px;
  padding: 20px;
  background: #e9eff2;
  height: 449px;
}

@media screen and (max-width: 768px) {
  .p-company-5__list {
    display: none;
  }
}

.p-company-5__list li {
  list-style: none;
  padding-bottom: 7px;
}

.p-company-5__content2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-company-5__content2 {
    display: none;
  }
}

.p-company-5__content2 p {
  padding-bottom: 30px;
}

/*******************************
- Business page
********************************/
/* heading */
.p-business .c-headTitle {
  background: url(".././img/business/bg.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .p-business .c-headTitle {
    background: url(".././img/business/sp/bg.jpg") no-repeat;
    background-size: cover;
  }
}

/* section 1 */
.p-business-1,
.p-business-2 {
  padding-top: 65px;
}

.p-business-1__text,
.p-business-2__text {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 60px;
}

.p-business-1__block,
.p-business-2__block {
  text-align: left;
}

.p-business-1 .c-imgbox,
.p-business-2 .c-imgbox {
  padding-bottom: 120px;
}

.p-business-1 .c-imgbox__content,
.p-business-2 .c-imgbox__content {
  width: 448px;
}

.p-business-1 .c-imgbox__img,
.p-business-2 .c-imgbox__img {
  width: 490px;
}

.p-business-1 .c-imgbox__content2,
.p-business-2 .c-imgbox__content2 {
  width: 100%;
  margin-top: 28px;
}

.p-business-2 {
  padding-top: 0;
}

/* Utilities*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.pc-only {
  display: block;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .breakline-sp:after {
    content: '\A';
    white-space: pre;
  }
}

.u-blue {
  color: #4471c6;
}

.u-hidden {
  display: none;
}

.u-mgAuto {
  margin: auto;
}

.no-scroll {
  overflow: hidden;
}
