@charset "UTF-8";
/*******************************
- Footer
********************************/
.footer{
	border-top: solid 1px #cccccc;
	//-------------------------------------------------------
	&__1{
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: center;
		@include sp{
			padding: 45px 0;
		}
		p{
			color: #585550;
			padding-top: 15px;
			@include sp{
				font-size: 1.3rem;
			}
		}
		.c-contact{
			width: 460px;
			margin: auto;
			padding-top: 25px;
			@include sp{
				width: 100%;
			}
		}
		.c-btn{
			margin-bottom: 10px;
			&--default{
				&:after{
					top: 25px;
				}
			}
		}
	}
	//-------------------------------------------------------
	&__2{
		height: 56px;
		background: $main;
		text-align: center;
		padding-top: 30px;
		@include sp{
			border-top: solid 1px $main;
			background: $white;
			padding-top: 0;
			height: auto;
		}
		.c-ft-navSP{
			text-align: left;
		}
	}
	//-------------------------------------------------------
	&__3{
		height: 50px;
		background: $main;
		text-align: center;
		padding-top: 10px;
		font-size: 1rem;
		color: $white;
		@include sp{
			height: 44px;
		}
	}
	//-------------------------------------------------------
	&__map{
		height: 500px;
		@include sp{
			height: 250px;
		}
	}
}