@charset "UTF-8";
/*******************************
- Header
********************************/
/* header pc */
.headerPC{
	@include sp{
		display: none;
	}
	//-------------------------------------------------------
	.l-container{
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	//-------------------------------------------------------
	.c-contact{
		width: 465px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	//-------------------------------------------------------
}

/* header sp */
.headerSP{
	display: none;
	&__block{
		border-top: solid 1px #dddddd;
		height: 60px;
		display: flex;
    	align-items: center;
	}
	@include sp{
		display: block;
	}
	//-------------------------------------------------------
	h1{
		font-size: 1rem;
		font-weight: normal;
		padding: 10px 15px;
	}
	//-------------------------------------------------------
	.c-logoSP{
		padding-left: 15px;
	}
	//-------------------------------------------------------
	.c-menu-icon{
		width: 40px;
		height: 40px;
		background: $main;
	    padding: 7px 13px;
	    border-radius: 5px;
	    position: absolute;
	    right: 15px;
	    cursor: pointer;
		span{
			display: block;
			width: 15px;
			height: 2px;
			background: #fff;
			margin-top: 5px;
		}
	}

	#menu-icon:checked + .c-menu-icon span {
	      transition: all 0.25s ease;
	}

	#menu-icon:checked + .c-menu-icon span:nth-child(1) {
	      transform:rotate(-45deg) translate(-4px, 5px) scaleX(1.4);
	}

	#menu-icon:checked + .c-menu-icon span:nth-child(2) {
	      opacity: 0;
	}

	#menu-icon:checked + .c-menu-icon span:nth-child(3) {
	      transform: rotate(45deg) translate(-4px, -6px) scaleX(1.4);
	}

	#menu-icon:checked ~ .c-navSP{
		ul{
			height: 80%;
		}
	}

}