@charset "UTF-8";
/*******************************
- Layout
********************************/

/* body
------------------------------------------------------------*/
body{
	font-size: 1.4rem;
	color: #333;
	min-width: 1200px;
	@include sp{
		min-width: 320px;
	}
}

html, body{
	height: 100%;
}

/* container
------------------------------------------------------------*/
.l-container{
	@include center;
	@include sp{
		padding: 0 15px;
	}
}

/* main
------------------------------------------------------------*/
.l-main{
	
}