@charset "UTF-8";
//*******************************
// Utilities custom
//********************************

// Clearfix
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// Display PC or SP
.pc-only{
	display: block;
	@include sp{
		display: none;
	}
}
.sp-only{
	display: none;
	@include sp{
		display: block;
	}
}
// Break
.breakline-sp{
	@include sp{
		&:after{
		    content: '\A';
		    white-space: pre;
		}
	}
}

// text color
.u-blue{
	color: $main;
}

//hidden
.u-hidden{
	display: none;
}

// text color
.u-mgAuto{
	margin: auto;
}

// text color
.no-scroll{
	overflow: hidden;
}