/*------------------------------------------------------------
	Blog page
------------------------------------------------------------*/
.c-banner {
  background: url("../img/blog/blog_banner.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/*
------------------------------------------------------------*/
.p-blog {
  background: url("../img/company/bg_company.png") no-repeat;
  background-position: top left;
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .p-blog {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

.p-blog-main,
.p-blog-side {
  float: left;
}

.p-blog-side {
  padding-left: 60px;
  padding-top: 105px;
}

@media (max-width: 768px) {
  .p-blog-side {
    padding-left: 0;
    padding-top: 50px;
  }
}

.p-blog-side .c-list-2 li {
  padding-top: 15px;
}

.c-pagination {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .c-pagination {
    padding-top: 30px;
  }
}
