@charset "UTF-8";
.c-imgbox:after, .c-pagination:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background: transparent;
}

.c-imgbox:after, .c-pagination:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*uderline text*/
/* border text*/
.u-text-border {
  border: solid 1px #fff;
  padding: 2px 8px;
  margin: 0 5px;
}

.u-red {
  color: #f00;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mAuto {
  margin: auto !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	hover affect
------------------------------------------------------------*/
/* hover change image */
.hover-show img:last-child {
  display: none;
}

.hover-show:hover img:first-child {
  display: none;
}

.hover-show:hover img:last-child {
  display: inline-block;
}

@media (max-width: 768px) {
  .hover-show:hover img:last-child {
    display: none;
  }
}

.c-3img {
  display: inline-block;
}

@media (max-width: 768px) {
  .c-3img img:first-child {
    display: none;
  }
}

/*------------------------------------------------------------
	For display or not on PC and SP
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media (max-width: 768px) {
  .break-sp:after {
    content: '\A';
    white-space: pre;
  }
}

/*------------------------------------------------------------
------------------------------------------------------------*/
.u-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 45px;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

/*------------------------------------------------------------
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  line-height: 1.5;
  min-width: 1000px;
}

@media (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  margin: 0 auto;
  width: 1000px;
}

@media (max-width: 768px) {
  .l-container {
    width: 100%;
    padding: 0 20px;
  }
}

.l-main {
  width: 680px;
  float: left;
}

@media (max-width: 768px) {
  .l-main {
    width: 100%;
  }
}

.l-side {
  width: 260px;
  float: left;
}

@media (max-width: 768px) {
  .l-side {
    width: 100%;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.header {
  height: 82px;
  background: #5ea6e8;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .header {
    height: 45px;
    padding-top: 0;
    background: #fff;
    padding-left: 20px;
  }
}

.header__logo {
  float: left;
}

@media (max-width: 768px) {
  .header__logo {
    padding-top: 16px;
    font-size: 1.2rem;
    color: #3386c2;
    font-weight: 600;
  }
}

.header__nav {
  float: left;
  margin-left: 40px;
}

.header__mail {
  float: right;
}

.header__text {
  float: left;
  padding-top: 12px;
  padding-left: 20px;
  font-size: 0.9rem;
}

.header__btn {
  width: 45px;
  height: 45px;
  float: right;
  background: #03a8ec;
  padding: 15px;
  cursor: pointer;
}

.header .bar {
  width: 15px;
  height: 2px;
  background: #fff;
  margin-bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .is-open .bar:first-child {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
          transform: rotate(-45deg) translate(-4px, 5px);
}

.header .is-open .bar:nth-child(2) {
  opacity: 0;
}

.header .is-open .bar:last-child {
  -webkit-transform: rotate(45deg) translate(-3px, -5px);
          transform: rotate(45deg) translate(-3px, -5px);
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.footer {
  background: #eff3f7;
  padding-bottom: 20px;
}

.footer__1 {
  padding-top: 60px;
  padding-bottom: 35px;
  background: #5ea6e8;
}

@media (max-width: 768px) {
  .footer__1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__1 .c-btn--email {
  text-align: center;
  font-size: 2.2rem;
  width: 470px;
  padding: 15px 0;
  display: block;
  float: left;
}

.footer__1 .c-btn--email img {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .footer__1 .c-btn--email {
    font-size: 1.4rem;
    width: 100%;
    padding: 8px 0;
    margin-bottom: 10px;
  }
  .footer__1 .c-btn--email img:nth-child(2) {
    display: inline;
  }
}

.footer__1 .phone-ft {
  float: right;
}

.footer__1 .btn-phone {
  height: 40px;
  padding-top: 10px;
  display: none;
}

@media (max-width: 768px) {
  .footer__1 .btn-phone {
    display: block;
  }
}

.footer__1 .btn-btop {
  margin-top: 30px;
  float: right;
}

.footer__2 {
  height: 83px;
  padding-top: 30px;
  border-bottom: solid 1px #d4d4d4;
}

@media (max-width: 768px) {
  .footer__2 {
    height: auto;
    padding-top: 18px;
  }
}

.footer__2 .footer__logo {
  float: left;
}

.footer__2 .footer__nav {
  float: left;
  margin-left: 40px;
}

.footer__2 .footer__mail {
  float: right;
}

.footer__3 {
  font-size: 13px;
  padding: 22px 0;
  color: #666666;
  position: relative;
}

@media (max-width: 768px) {
  .footer__3 {
    padding: 15px 0;
  }
}

.footer__3 p {
  float: left;
}

.footer__3 p.copyright {
  float: right;
}

@media (max-width: 768px) {
  .footer__3 p.copyright {
    float: none;
    text-align: center;
    font-size: 1rem;
  }
}

.footer__3 p.info-ft {
  padding-right: 30px;
}

.footer__3 .btn-btop-sp {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

@media (max-width: 768px) {
  .footer .c-navi {
    text-align: center;
  }
}

.footer .c-navi ul {
  margin-bottom: 10px;
}

.footer .c-navi li + li:before {
  color: #3386c2;
}

.footer .c-navi li:hover :after {
  background: #3386c2;
}

@media (max-width: 768px) {
  .footer .c-navi li:hover :after {
    content: '';
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .footer .c-navi li {
    width: auto;
    font-size: 1.1rem;
  }
}

.footer .c-navi a {
  color: #3386c2;
}

@media (max-width: 768px) {
  .footer .c-navi a {
    padding: 20px;
  }
}

/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.c-title--section2 {
  font-size: 3rem;
  color: #5ea6e8;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .c-title--section2 {
    margin-bottom: 15px;
    font-size: 2rem;
  }
}

.c-title--section3 {
  text-align: center;
  font-size: 30px;
  color: #5ea6e8;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .c-title--section3 {
    margin-bottom: 35px;
  }
  .c-title--section3 img {
    margin: auto;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/* button base
------------------------------------------------------------*/
.c-btn {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  color: #3386c2;
  padding: 13px 16px;
  border: solid 1px #4c86c2;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: inline;
  /* button email
	-------------------------------------------------------*/
  /* button reverse
	-------------------------------------------------------*/
}

@media (max-width: 768px) {
  .c-btn {
    font-size: 1.4rem;
  }
}

.c-btn:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #e69824;
  position: absolute;
  bottom: 4px;
  right: 7px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 768px) {
  .c-btn:after {
    border-width: 8px;
  }
}

.c-btn:hover {
  background-color: #5ea6e8;
  color: #fff;
  border: solid 1px #5ea6e8;
}

.c-btn:hover:after {
  border-bottom: 10px solid  #fff;
}

.c-btn--email {
  background: #e69800;
  color: #fff;
  border: solid 1px #e69800;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.c-btn--email:after {
  border-bottom: 10px solid #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.c-btn--email img {
  margin-top: 3px;
  margin-right: 3px;
}

.c-btn--email:hover {
  background: #fff;
  color: #e69800;
  border-color: #fff;
}

.c-btn--email:hover:after {
  border-bottom: 10px solid #e69800;
}

.c-btn--reverse {
  background: #5ea6e8;
  color: #fff;
  border: solid 1px #5ea6e8;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.c-btn--reverse:after {
  border-bottom: 10px solid #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.c-btn--reverse img {
  margin-top: 3px;
  margin-right: 3px;
}

.c-btn--reverse:hover {
  background: #fff;
  color: #5ea6e8;
  border-color: #5ea6e8;
}

.c-btn--reverse:hover:after {
  border-bottom: 10px solid #5ea6e8;
}

/*------------------------------------------------------------
	Navigator
------------------------------------------------------------*/
.c-navi ul {
  list-style: none;
}

.c-navi li {
  display: inline-block;
  font-size: 1.6rem;
  width: 150px;
  text-align: center;
  position: relative;
}

.c-navi li + li:before {
  content: '/';
  color: #fff;
  position: absolute;
  left: 0;
}

.c-navi li:hover :after {
  content: "";
  position: absolute;
  background: #fff;
  height: 4px;
  left: 5px;
  right: 3px;
  top: 48px;
}

.c-navi a {
  text-decoration: none;
  color: #fff;
  padding: 24px;
}

/* navi sp
-------------------------------------------------------*/
.c-navi-sp {
  width: 85%;
  background: #03a8ec;
  z-index: 99999;
  position: fixed;
  right: 0;
  top: 45px;
  font-size: 1.4rem;
  display: none;
}

.c-navi-sp li {
  border-bottom: solid 1px #fff;
  padding: 15px 20px;
  position: relative;
}

.c-navi-sp li:after {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/common/sp/arrow_right_l.png);
  background-repeat: no-repeat;
  background-size: 7px;
  top: 18px;
  right: 0px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.c-navi-sp li:last-child {
  border-bottom: 0;
}

.c-navi-sp a {
  color: #fff;
  padding: 15px 130px 15px 0;
}

.u-text-line {
  text-decoration: underline;
}

/*------------------------------------------------------------
	List
------------------------------------------------------------*/
.c-list-1 {
  font-size: 1.4rem;
  /* custom scroll bar */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 768px) {
  .c-list-1 {
    border-right: solid 1px #ededed;
    border-left: solid 1px #ededed;
  }
}

.c-list-1 li {
  padding: 20px 0;
  border-bottom: solid 1px #ededed;
  border-top: solid 1px #ededed;
}

@media (max-width: 768px) {
  .c-list-1 li {
    padding: 20px;
  }
}

.c-list-1 a {
  color: #333333;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.c-list-1 .u-text-line {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.c-list-1 .u-text-line:hover {
  border-bottom: solid 1px #e69800;
  color: #e69800;
}

.c-list-1 .date {
  color: #3386c2;
  padding-right: 40px;
}

.c-list-1 .date:after {
  content: '';
}

@media (max-width: 768px) {
  .c-list-1 .date:after {
    content: '\A';
    white-space: pre;
  }
}

.c-list-1::-webkit-scrollbar {
  width: 10px;
}

.c-list-1::-webkit-scrollbar-track {
  background: #ededed;
}

.c-list-1::-webkit-scrollbar-thumb {
  background: #7c7c7c;
}

.c-list-1::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* list blog
------------------------------------------------------------*/
.c-list-2 {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .c-list-2 {
    font-size: 1.4rem;
  }
}

.c-list-2 ul {
  border-top: solid 1px #ededed;
}

.c-list-2 li {
  padding: 30px 0;
  border-bottom: solid 1px #ededed;
}

@media (max-width: 768px) {
  .c-list-2 li {
    padding: 15px 0;
  }
}

.c-list-2 a {
  color: #333333;
}

.c-list-2 .tag {
  border: solid 1px #e69800;
  color: #e69800;
  font-size: 1.2rem;
  width: 88px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .c-list-2 .tag {
    font-size: 1rem;
    width: 60px;
    height: 15px;
    margin-left: 5px;
  }
}

.c-list-2 .date {
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .c-list-2 .date {
    padding-bottom: 5px;
  }
}

/* list blog
------------------------------------------------------------*/
.c-list-3 {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .c-list-3 {
    font-size: 1.4rem;
  }
}

.c-list-3 ul {
  border-top: solid 1px #ededed;
}

.c-list-3 li {
  padding: 20px 0;
  border-bottom: solid 1px #ededed;
}

@media (max-width: 768px) {
  .c-list-3 li {
    padding: 10px;
  }
}

.c-list-3 a {
  color: #333333;
}

.c-list-3 a:before {
  content: '';
  background: url("/assets/img/blog/arrow_right_l.png");
  width: 6px;
  height: 12px;
  background-repeat: no-repeat;
  padding-left: 10px;
  display: inline-block;
}

/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.c-banner {
  width: 100%;
  height: 270px;
}

.c-banner__title {
  text-align: center;
  padding-top: 100px;
}

.c-banner__title img {
  margin: auto;
}

@media (max-width: 768px) {
  .c-banner__title {
    padding-top: 45px;
  }
}

@media (max-width: 768px) {
  .c-banner {
    height: 135px;
  }
}

/*------------------------------------------------------------
	table
------------------------------------------------------------*/
.c-table {
  text-align: left;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .c-table {
    font-size: 1.4rem;
  }
}

.c-table table {
  width: 100%;
  border-collapse: collapse;
}

.c-table th, .c-table td {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.c-table th {
  color: #3386c2;
  font-weight: bold;
}

.c-table--large th, .c-table--large td {
  padding: 30px 0;
}

.c-table--large th {
  width: 205px;
  padding-left: 40px;
}

@media (max-width: 768px) {
  .c-table--large table {
    border-bottom: 1px solid #dbdbdb;
  }
  .c-table--large th, .c-table--large td {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 0;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
  }
  .c-table--large th {
    background: #eee;
  }
}

.c-table--shop table {
  height: 224px;
}

@media (max-width: 768px) {
  .c-table--shop table {
    border-top: 1px solid #dbdbdb;
  }
}

.c-table--shop td {
  padding: 15px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

@media (max-width: 768px) {
  .c-table--shop td {
    display: block;
    border-top: 0;
    padding-top: 0;
  }
}

.c-table--shop th {
  width: 132px;
  padding: 15px 0 15px 30px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

@media (max-width: 768px) {
  .c-table--shop th {
    width: 100%;
    display: block;
    padding-left: 0;
    border: 0;
    padding-bottom: 0;
  }
}

/*------------------------------------------------------------
------------------------------------------------------------*/
.c-imgbox__image {
  float: left;
}

@media (max-width: 768px) {
  .c-imgbox__image {
    width: 100%;
  }
  .c-imgbox__image img {
    width: 100%;
  }
}

.c-imgbox__content {
  float: left;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .c-imgbox__content {
    width: 100%;
    padding: 0;
  }
}

/*------------------------------------------------------------
	Page
------------------------------------------------------------*/
.c-pagination {
  text-align: center;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .c-pagination {
    font-size: 1.4rem;
  }
}

.c-pagination a {
  width: 45px;
  height: 45px;
  padding-top: 10px;
  border: solid 1px #d2d2d2;
  color: #333333;
  margin: 0 5px;
  float: left;
}

@media (max-width: 768px) {
  .c-pagination a {
    width: 25px;
    height: 25px;
    font-size: 1.4rem;
    padding-top: 2px;
  }
}

.c-pagination .is-here {
  background: #5ea6e8;
  border: solid 1px  #5ea6e8;
  color: #fff;
}

.c-pagination .is-none {
  border: none;
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .c-pagination .is-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .c-pagination .page-number {
    display: none;
  }
}

.c-pagination .direct {
  width: 90px;
  position: relative;
  margin: 0 40px;
}

@media (max-width: 768px) {
  .c-pagination .direct {
    width: 80px;
    margin: 0 5px;
  }
}

.c-pagination .direct:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
}

.c-pagination .direct--next:after {
  border-left: 10px solid transparent;
  border-bottom: 10px solid #5ea6e8;
  bottom: 4px;
  right: 7px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .c-pagination .direct--next:after {
    border-width: 6px;
  }
}

.c-pagination .direct--pre:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #5ea6e8;
  bottom: 4px;
  left: 7px;
}

@media (max-width: 768px) {
  .c-pagination .direct--pre:after {
    border-width: 6px;
  }
}

.c-pagination .all-blog {
  width: 140px;
}

@media (max-width: 768px) {
  .c-pagination .all-blog {
    width: 90px;
  }
}

/*------------------------------------------------------------
 aside
------------------------------------------------------------*/
.c-aside {
  position: relative;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .c-aside {
    margin-bottom: 30px;
  }
}

.c-aside__header {
  margin-bottom: 20px;
  height: 31px;
}

@media (max-width: 768px) {
  .c-aside__header {
    margin-bottom: 10px;
  }
}

.c-aside__header:before {
  content: '';
  background: url("/assets/img/blog/border.png");
  position: absolute;
  width: 9px;
  height: 31px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: 9px;
  display: inline-block;
}

.c-aside__header h4 {
  color: #333333;
  font-size: 1.6rem;
  padding-left: 24px;
  padding-top: 6px;
}

@media (max-width: 768px) {
  .c-aside__header h4 {
    font-size: 1.4rem;
  }
}

.c-aside__content li {
  padding-left: 22px;
  padding-right: 22px;
}

.c-imgbox:after, .c-pagination:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Blog detail
------------------------------------------------------------*/
.c-blog-detail__title {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .c-blog-detail__title {
    margin-bottom: 20px;
  }
}

.c-blog-detail__title p {
  font-size: 1.6rem;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .c-blog-detail__title p {
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
}

.c-blog-detail__title p .tag {
  border: solid 1px #e69800;
  color: #e69800;
  font-size: 1.2rem;
  width: 88px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .c-blog-detail__title p .tag {
    font-size: 1rem;
    width: 60px;
    height: 15px;
    margin-left: 5px;
  }
}

.c-blog-detail__title h2 {
  font-size: 2.4rem;
  border-bottom: solid 3px #5ea6e8;
  padding-bottom: 18px;
}

@media (max-width: 768px) {
  .c-blog-detail__title h2 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .c-blog-detail__image img {
    width: 100%;
  }
}

.c-blog-detail__content {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .c-blog-detail__content {
    font-size: 1.4rem;
  }
}

.c-blog-detail__content p {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .c-blog-detail__content p {
    padding-top: 20px;
  }
}
