/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner {
  background: url("../img/company/banner_company.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/*
------------------------------------------------------------*/
.p-company {
  background: url("../img/company/bg_company.png") no-repeat;
  background-position: top left;
}

/* section 1
------------------------------------------------------------*/
.p-company-1 {
  padding-top: 120px;
  margin-bottom: 115px;
}

.p-company-1 p {
  text-align: center;
}

@media (max-width: 768px) {
  .p-company-1 p img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .p-company-1 {
    padding-top: 40px;
    margin-bottom: 50px;
  }
}

/* section 2
------------------------------------------------------------*/
.p-company-2 {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .p-company-2 {
    margin-bottom: 50px;
  }
}

/* section 3
------------------------------------------------------------*/
.p-company-3 {
  padding-bottom: 120px;
}

.p-company-3 .map {
  width: 100%;
  height: 450px;
}

@media (max-width: 768px) {
  .p-company-3 {
    padding-bottom: 50px;
  }
}
