@charset "UTF-8";
/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner {
  background: url("../img/contact/banner_contact.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/*
------------------------------------------------------------*/
.p-contact {
  background: url("../img/company/bg_company.png") no-repeat;
  background-position: top left;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .p-contact {
    padding-bottom: 60px;
  }
}

/*
------------------------------------------------------------*/
.btn-submit {
  text-align: center;
  margin: auto;
  padding-top: 60px;
  display: inherit;
}

.btn-submit .c-btn {
  display: inline-block;
}

@media (max-width: 768px) {
  .btn-submit {
    padding-top: 30px;
  }
}

.c-btn {
  width: 250px;
}

.c-table table, .c-table th {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.c-table th {
  width: 260px;
  padding-left: 40px;
  background: #f6f6f6;
  color: #333333;
}

@media (max-width: 768px) {
  .c-table th {
    padding-left: 10px;
    width: 100%;
    text-align: left;
  }
}

.c-table .warning {
  background: #fbe1e1;
}

.c-table td {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .c-table td {
    padding: 10px 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.c-table select {
  border: solid 1px #dbdbdb;
  margin: 10px 0;
  font-size: 1.4rem;
  color: #757575;
}

.c-table input[type=text],
.c-table input[type=email] {
  width: 450px;
  height: 28px;
  margin-bottom: 10px;
  border: solid 1px #dbdbdb;
}

.c-table input[type=text]::-webkit-input-placeholder,
.c-table input[type=email]::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #757575;
  padding-left: 10px;
}

.c-table input[type=text]:-ms-input-placeholder,
.c-table input[type=email]:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #757575;
  padding-left: 10px;
}

.c-table input[type=text]::-ms-input-placeholder,
.c-table input[type=email]::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #757575;
  padding-left: 10px;
}

.c-table input[type=text]::placeholder,
.c-table input[type=email]::placeholder {
  font-size: 1.4rem;
  color: #757575;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .c-table input[type=text],
  .c-table input[type=email] {
    width: 90%;
  }
}

.c-table input[type=radio] {
  cursor: pointer;
}

.c-table textarea {
  border: solid 1px #dbdbdb;
  width: 100%;
  padding: 18px;
  resize: none;
  margin: 20px 0;
  height: 140px;
}

@media (max-width: 768px) {
  .c-table textarea {
    height: auto;
    padding: 10px;
    margin: 10px 0;
  }
}

/*
------------------------------------------------------------*/
.p-contact-1 {
  padding-top: 118px;
}

@media (max-width: 768px) {
  .p-contact-1 {
    padding-top: 50px;
  }
}

.p-contact-1 p {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .p-contact-1 p {
    font-size: 1.4rem;
    padding-bottom: 20px;
  }
}

.p-contact-2 {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .p-contact-2 {
    padding-top: 20px;
  }
}

.p-contact-2 .required {
  color: #fff;
  float: right;
  margin-right: 30px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .p-contact-2 .required {
    font-size: 0.9rem;
    margin-right: 10px;
  }
}

.p-contact-2 .yes:after {
  padding: 3px 6px;
  content: '必須';
  background: #5ea6e8;
}

.p-contact-2 .no:after {
  padding: 3px 6px;
  content: '任意';
  background: #999999;
}

@media (max-width: 768px) {
  .p-contact-2 .c-radiobtn {
    text-align: left;
    padding-left: 10px;
  }
}
