/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Image top page
------------------------------------------------------------*/
.banner-top {
  background: url("../img/top/bg-color.png") center no-repeat, url("../img/top/bg-top-page.jpg") center no-repeat;
  background-size: cover, cover;
  width: 100%;
  height: 700px;
}

@media (max-width: 768px) {
  .banner-top {
    width: 100%;
    height: 285px;
  }
}

.banner-top p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding-top: 32px;
}

.banner-top h1 {
  padding-top: 90px;
}

@media (max-width: 768px) {
  .banner-top h1 {
    padding-top: 25px;
  }
  .banner-top h1 img {
    width: 100%;
    height: auto;
  }
}

/* background page top
------------------------------------------------------------*/
.p-top {
  background: url("../img/common/bg-page.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Section 1
------------------------------------------------------------*/
.p-top-1 {
  padding-top: 100px;
  padding-bottom: 130px;
}

@media (max-width: 768px) {
  .p-top-1 {
    padding-top: 40px;
    padding-bottom: 46px;
  }
}

.p-top-1__text {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .p-top-1__text {
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

.p-top-1__image {
  margin-bottom: 40px;
}

.p-top-1__image img {
  width: 330px;
  height: auto;
  padding: 0 1px;
}

@media (max-width: 768px) {
  .p-top-1__image img {
    width: 32%;
    padding: 0;
  }
}

.p-top-1__btn {
  text-align: center;
}

.p-top-1__btn .c-btn {
  padding: 10px 30px;
}

/* Section 2
------------------------------------------------------------*/
.p-top-2 {
  background: rgba(239, 243, 247, 0.5);
  padding-top: 60px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .p-top-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.p-top-2__btn {
  text-align: center;
}

.p-top-2__btn button {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .p-top-2__btn button {
    margin: 0 0 10px 0;
  }
}

.p-top-2 .c-btn {
  width: 360px;
  height: 120px;
  padding: 0;
  border: solid 2px #5ea6e8;
}

@media (max-width: 768px) {
  .p-top-2 .c-btn {
    width: 100%;
    height: 90px;
  }
}

/* Section 3
------------------------------------------------------------*/
.p-top-3 {
  padding-top: 115px;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .p-top-3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.p-top-3 .c-list-1 {
  height: 190px;
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .p-top-3 .c-list-1 {
    height: 295px;
    overflow: hidden;
  }
  .p-top-3 .c-list-1 li:nth-child(n+4) {
    display: none;
  }
}
