/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner {
  background: url("../img/recruit/banner_recruit.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/*
------------------------------------------------------------*/
.p-recruit {
  background: url("../img/company/bg_company.png") no-repeat;
  background-position: top left;
}

/* section 1
------------------------------------------------------------*/
.p-recruit-1 {
  padding-top: 120px;
  padding-bottom: 115px;
}

@media (max-width: 768px) {
  .p-recruit-1 {
    padding-top: 50px;
    padding-bottom: 65px;
  }
}

/* section 2
------------------------------------------------------------*/
.p-recruit-2 {
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .p-recruit-2 {
    padding-bottom: 60px;
  }
}

.p-recruit-2 .c-imgbox__content {
  padding-left: 40px;
}

.p-recruit-2 .c-imgbox__content p {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .p-recruit-2 .c-imgbox__content {
    padding-top: 20px;
    padding-left: 0;
  }
  .p-recruit-2 .c-imgbox__content img {
    width: 100%;
  }
}

.p-recruit-2 .icon-arrow {
  text-align: center;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .p-recruit-2 .icon-arrow {
    padding: 20px 0;
  }
}
