/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner {
  background: url("../img/shop/banner_shop.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@media (max-width: 768px) {
  .c-banner {
    background: url("../img/shop/banner_shop-sp.jpg");
    background-position: center;
  }
}

/*
------------------------------------------------------------*/
.p-shop {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .p-shop {
    background: url("../img/shop/bg_shop.png") no-repeat;
    background-position: top right;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.p-shop h3 {
  font-size: 1.8rem;
  margin-bottom: 60px;
  text-align: center;
  font-weight: normal;
}

@media (max-width: 768px) {
  .p-shop h3 {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 20px;
  }
}

.p-shop .c-imgbox {
  margin-bottom: 40px;
}

.p-shop .c-imgbox:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .p-shop .c-imgbox {
    margin-bottom: 30px;
  }
}

.p-shop .c-imgbox__content {
  width: 566px;
}

@media (max-width: 768px) {
  .p-shop .c-imgbox__content {
    width: 100%;
    margin-top: 10px;
  }
}
