/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head {
  background: url("../img/business/bg_business.jpg");
  background-size: cover;
  background-position: bottom center;
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-business-1 {
  margin-bottom: 80px;
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-business-2 {
  margin-bottom: 80px;
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-business-3 {
  margin-bottom: 120px;
}

.p-business-3 .biz .content {
  width: 100%;
}

.p-business-3 .biz .image {
  display: none;
}

/*------------------------------------------------------------
	block of 1 bisuness
------------------------------------------------------------*/
.biz {
  border: solid 1px #009fbb;
  padding: 36px;
}

.biz .content {
  width: 540px;
  float: left;
}

.biz .content .title-section {
  font-size: 2rem;
  color: #025995;
}

.biz .content .title-section span {
  color: #009fbb;
}

.biz .content .text {
  font-size: 1.4rem;
}

.biz .image {
  float: right;
  text-align: right;
}
