.case-block .content:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head {
  background: url("../img/case/bg_case.jpg");
  background-size: cover;
}

/*------------------------------------------------------------
	section seclect case
------------------------------------------------------------*/
.button-case {
  text-align: center;
}

.button-case button {
  margin: 0 20px;
  cursor: pointer;
}

/*------------------------------------------------------------
	block of 1 case
------------------------------------------------------------*/
.case-block {
  margin-bottom: 80px;
}

.case-block .type {
  color: #025995;
  font-size: 2rem;
  padding: 12px 16px;
  background: #e1f0fa;
}

.case-block .content {
  margin-top: 30px;
}

.case-block .content .image {
  width: 430px;
  float: left;
}

.case-block .content .info {
  font-size: 1.3rem;
  float: right;
}

.case-block .content .info table {
  width: 570px;
  border-top: solid 1px #d4d4d4;
  border-spacing: 0;
}

.case-block .content .info th {
  color: #025995;
  padding: 18px 0 18px 28px;
  border-bottom: solid 1px #d4d4d4;
}

.case-block .content .info td {
  border-bottom: solid 1px #d4d4d4;
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-case-1 {
  margin-bottom: 76px;
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-case-2 {
  margin-bottom: 128px;
}

.p-case-2 .case-type {
  color: #025995;
  font-size: 2.3rem;
  padding-bottom: 10px;
  border-bottom: solid 1px #015294;
  margin-bottom: 60px;
}
