@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.hidden {
  visibility: hidden;
}

/*------------------------------------------------------------
	hover effect
------------------------------------------------------------*/
/* hover change display */
.hover-change img:last-child {
  display: none;
}

.hover-change:hover img:first-child {
  display: none;
}

.hover-change:hover img:last-child {
  display: inline-block;
}

/* hover change display with opacity*/
.hover-change-opacity {
  position: relative;
  display: inline-block;
}

.hover-change-opacity img.hoverImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -web-kit-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.hover-change-opacity:hover img {
  opacity: 0;
  -web-kit-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.hover-change-opacity:hover img.hoverImg {
  opacity: 1;
}

/* hover border effect*/
.hover-border {
  position: relative;
}

.hover-border:after {
  content: "";
  position: absolute;
  background: #009fbb;
  height: 4px;
  left: 50%;
  right: 50%;
  top: 37px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hover-border:hover:after, .hover-border:focus:after {
  left: 3px;
  right: 3px;
}

/* for page is open*/
.is-open {
  position: relative;
}

.is-open:after {
  content: "";
  position: absolute;
  background: #009fbb;
  height: 4px;
  left: 3px;
  right: 3px;
  top: 37px;
}

/*------------------------------------------------------------
	Animation
------------------------------------------------------------*/
/* Fading animation */
.appear {
  opacity: 0;
}

.scroll-appear {
  opacity: 1;
  transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  min-width: 1080px;
}

.container {
  margin: 0 auto;
  width: 1080px;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  position: relative;
  border-bottom: solid 1px #cecece;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi:after {
  display: block;
  clear: both;
  content: "";
}

#gNavi ul {
  float: right;
  margin-top: 6px;
  border-right: solid 1px #cecece;
}

#gNavi li {
  float: left;
}

#gNavi li a {
  padding: 0 24px 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-left: solid 1px #cecece;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer .footer-1 {
  background: url("../img/common/img-footer.jpg");
  width: 100%;
  height: 108px;
  background-size: cover;
  background-repeat: no-repeat;
}

#footer .footer-2 {
  font-size: 1.2rem;
  background: #003c7f;
  color: #ffffff;
  position: relative;
  padding: 40px 0;
}

#footer .footer-2 .logo {
  float: left;
  border-right: solid 1px #ffffff;
  width: 426px;
}

#footer .footer-2 .logo p {
  padding-top: 15px;
}

#footer .footer-2 .contact {
  float: left;
  padding-left: 25px;
}

#footer .footer-2 .contact img {
  margin: 8px 0;
}

#footer .footer-2 .nav-ft {
  width: 330px;
  float: right;
  font-size: 1.4rem;
}

#footer .footer-2 .nav-ft .nav-item {
  float: left;
  width: 33%;
}

#footer .footer-2 .nav-ft .nav-item a {
  color: #ffffff;
}

#footer .footer-2 .nav-ft .nav-item a:hover {
  color: #3b75b5;
  -webkit-transition: color .25s;
  transition: color .25s;
}

#footer .footer-2 .nav-ft .nav-item:first-child {
  width: 34%;
}

#footer .footer-2 .nav-ft img {
  margin-top: 5px;
}

#footer .footer-3 {
  color: #608fbf;
  font-size: 1.2rem;
  background: #002f64;
  padding: 10px 0;
}

/*------------------------------------------------------------
	Top navigator
------------------------------------------------------------*/
.top-nav {
  background: #015294;
  color: #ffffff;
  height: 47px;
  padding-top: 10px;
}

.top-nav h1 {
  padding-top: 6px;
  font-size: 1.2rem;
  font-weight: normal;
  float: left;
}

.top-nav .contact {
  float: right;
}

.top-nav .contact .tel {
  float: left;
  margin-right: 17px;
}

.top-nav .contact .email {
  float: right;
}

.main-nav {
  height: 72px;
  padding-top: 15px;
}

.main-nav .logo {
  float: left;
}

/*------------------------------------------------------------
	Banner and title on each page
------------------------------------------------------------*/
.banner-head {
  width: 100%;
  height: 276px;
  margin-bottom: 120px;
}

.title-head {
  text-align: center;
  padding-top: 110px;
}

/*------------------------------------------------------------
	Button back to top
------------------------------------------------------------*/
.btn-top {
  position: absolute;
  right: 30px;
  bottom: 40px;
  background: transparent;
  cursor: pointer;
}

/*------------------------------------------------------------
	title for each section
------------------------------------------------------------*/
.title-section {
  margin-bottom: 30px;
}

/*------------------------------------------------------------
	table
------------------------------------------------------------*/
.table-common {
  background: #ffffff;
  border-top: solid 1px #d4d4d4;
  border-spacing: 0;
  width: 100%;
}

.table-common th, .table-common td {
  padding: 24px 0 24px 40px;
  border-bottom: solid 1px #d4d4d4;
}

.table-common th {
  background-color: #e7f5ff;
  color: #0361a7;
  width: 215px;
}
