/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head {
  background: url("../img/company/bg_company.jpg");
  background-size: cover;
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-company-1 {
  font-size: 1.4rem;
  margin-bottom: 80px;
}

.p-company-1 .greeting p {
  padding-bottom: 16px;
}

.p-company-1 .greeting .sign {
  padding: 38px 0;
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-company-2 {
  padding: 80px 0 66px;
  margin-bottom: 80px;
  background: #f7f7f7;
  font-size: 1.4rem;
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-company-3 {
  margin-bottom: 75px;
}

.p-company-3 .staff {
  width: 250px;
  float: left;
}

.p-company-3 .staff-avt {
  width: 240px;
  border: solid 1px #d4d4d4;
  padding: 4px;
}

.p-company-3 .staff-name {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 10px;
}

.p-company-3 .row {
  margin-bottom: 55px;
}

.p-company-3 .row .staff {
  margin-left: 26px;
}

.p-company-3 .row .staff:first-child {
  margin-left: 0;
}

/*------------------------------------------------------------
	section 4
------------------------------------------------------------*/
.p-company-4 {
  background: #f7f7f7;
  padding: 80px 0 140px;
}
