/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head {
  background: url("../img/contact/bg_contact.jpg");
  background-size: cover;
  background-position: bottom center;
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-contact-1 {
  font-size: 1.4rem;
  margin-bottom: 66px;
}

/*------------------------------------------------------------
	section 2 form
------------------------------------------------------------*/
.p-contact-2 {
  font-size: 1.4rem;
  margin-bottom: 52px;
  padding: 80px 0;
  background: #f7f7f7;
}

/*contact form*/
.ct-form {
  margin-top: 55px;
}

.ct-form .field {
  margin-bottom: 8px;
}

.ct-form .field:last-child {
  margin-top: 20px;
}

.ct-form .field #zipcode {
  width: 135px;
  margin: 0 10px;
}

.ct-form .field #add-city,
.ct-form .field #add-number {
  float: right;
  margin-top: 8px;
}

.ct-form .field #aCompany {
  margin-left: 70px;
}

.ct-form .field #textContent {
  float: right;
  margin-top: 8px;
  height: 151px;
}

.ct-form label {
  display: inline-block;
  width: 157px;
  color: #0361a7;
}

.ct-form .label-radBtn {
  width: auto;
  color: #000000;
}

.ct-form input {
  padding: 18px;
  border: solid 1px #eaeaea;
  width: 843px;
}

.ct-form input::-webkit-input-placeholder {
  color: #b6b6b6;
}

.ct-form input:-ms-input-placeholder {
  color: #b6b6b6;
}

.ct-form input::-ms-input-placeholder {
  color: #b6b6b6;
}

.ct-form input::placeholder {
  color: #b6b6b6;
}

.ct-form input[type=radio] {
  width: auto;
}

.ct-form .select-custom {
  width: 180px;
}

.ct-form .select-custom select {
  width: 180px;
  height: 53px;
  padding: 16px 0 16px 18px;
  border: solid 1px #eaeaea;
  background: #ffffff url("../img/contact/icon_select.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.ct-form textarea {
  border: solid 1px #eaeaea;
  width: 850px;
  padding: 18px;
  resize: none;
}

.ct-form .require {
  color: #ffffff;
  padding: 3px 6px;
  margin-right: 32px;
}

.ct-form .yes {
  background: #0362a8;
}

.ct-form .no {
  background: #8c8b8b;
}

/*------------------------------------------------------------
	section 3 button
------------------------------------------------------------*/
.p-contact-3 {
  margin-bottom: 65px;
}

.button-1,
.button-2 {
  text-align: center;
}

.button-1 {
  margin-bottom: 8px;
}

.button-2 button {
  margin: 0 4px;
}
