/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  background: url("../img/home/main_img1.jpg");
  width: 100%;
  height: 756px;
  background-size: cover;
  margin-bottom: 100px;
}

.banner h2 {
  padding-top: 90px;
}

.content-block {
  width: 100%;
  height: 353px;
}

.content-block .content {
  width: 471px;
  float: left;
  font-size: 1.4rem;
}

.content-block .content h3 {
  padding-bottom: 20px;
}

.content-block .content .text {
  padding-bottom: 50px;
}

.content-block .image {
  position: absolute;
  right: 0;
  width: 50%;
  height: 353px;
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-index-1 {
  background: #e7f5ff;
  padding: 49px 0 23px;
  margin-bottom: 110px;
}

.news-block .news-title {
  float: left;
  width: 180px;
}

.news-block .news-title h4 {
  margin-bottom: 15px;
}

.news-block .news-list {
  margin-left: 70px;
  float: left;
  font-size: 1.3rem;
}

.news-block .news-list p {
  padding-bottom: 21px;
}

.news-block .news-list p a:hover {
  color: #a8a8a8;
  text-decoration: underline;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.news-block .news-list .date {
  margin-right: 45px;
  color: #0361a7;
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-index-2 {
  position: relative;
  margin-bottom: 80px;
}

.p-index-2 .content-block .image {
  background: url("../img/home/img-block-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-index-3 {
  position: relative;
  margin-bottom: 80px;
  background: #f5f5f5;
  padding: 80px 0;
}

.p-index-3 .content-block .content {
  float: right;
}

.p-index-3 .content-block .content h3 {
  padding-bottom: 20px;
}

.p-index-3 .content-block .content .text {
  padding-bottom: 82px;
}

.p-index-3 .content-block .image {
  left: 0;
  background: url("../img/home/img-block-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------------------------------
	section 4
------------------------------------------------------------*/
.p-index-4 {
  position: relative;
  margin-bottom: 128px;
}

.p-index-4 .content-block .content .text {
  padding-bottom: 84px;
}

.p-index-4 .content-block .image {
  background: url("../img/home/img-block-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
