/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head {
  background: url("../img/news/bg_news.jpg");
  background-size: cover;
}

/*------------------------------------------------------------
	news post
------------------------------------------------------------*/
.news-post {
  width: 100%;
}

.news-post .news-title {
  font-size: 2rem;
  color: #025995;
  border-bottom: solid 1px #015294;
  padding-bottom: 9px;
}

.news-post .news-date {
  color: #009fbb;
  font-size: 1.4rem;
  background: url("../img/news/icon_calender.png") no-repeat;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.news-post .news-content {
  font-size: 1.4rem;
  width: 55%;
  float: left;
}

.news-post .news-img {
  width: 45%;
  float: left;
  text-align: right;
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-news-1 {
  margin-bottom: 60px;
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-news-2 {
  margin-bottom: 60px;
  padding: 60px 0;
  background: #f7f7f7;
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-news-3 {
  margin-bottom: 141px;
}

.p-news-3 .news-img {
  display: none;
}

.p-news-3 .news-content {
  width: 100%;
}
