@charset "UTF-8";
/*******************************
- Style
********************************/
/* Base*/
/*******************************
- Reset default style of browser
********************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html, body {
  font-size: 62.5%;
  margin: 0;
  height: 100%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

table {
  border-collapse: collapse;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins, a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background: transparent;
}

.c-list-blog--thumb li {
  *zoom: 1;
}

.c-list-blog--thumb li:after {
  display: block;
  content: "";
  clear: both;
}

/* Layout */
/*******************************
- Header
********************************/
.c-headerPC {
  background: url("./../img/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .c-headerPC {
    display: none;
  }
}

.c-headerPC__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-headerPC .c-info-head {
  width: 483px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-headerPC__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.c-headerPC__bottom img {
  margin-right: 20px;
}

.c-headerPC .c-global-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.c-headerSP {
  background: url("./../img/bg.png") no-repeat;
  background-size: cover;
  background-position: left;
  height: 420px;
  position: relative;
  display: none;
}

@media screen and (max-width: 768px) {
  .c-headerSP {
    display: block;
    width: 100%;
  }
}

.c-headerSP__top {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-headerSP .c-menuSP {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 13px 12px;
  cursor: pointer;
  margin-right: 10px;
}

.c-headerSP .c-menuSP__1, .c-headerSP .c-menuSP__2, .c-headerSP .c-menuSP__3 {
  width: 16px;
  height: 2px;
  background-color: #0075a9;
  margin-bottom: 4px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.c-headerSP .c-logoSP {
  padding-left: 20px;
}

.c-headerSP h1 {
  font-size: 1.3rem;
  line-height: 2.25rem;
  color: #fff;
  background: url("./../img/textbox.png") no-repeat;
  background-size: 300px;
  width: 300px;
  padding: 50px 20px 30px;
  position: absolute;
  left: 0;
  top: 60px;
}

.c-headerSP .is-open .c-menuSP__1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
          transform: rotate(-45deg) translate(-4px, 5px);
}

.c-headerSP .is-open .c-menuSP__2 {
  opacity: 0;
}

.c-headerSP .is-open .c-menuSP__3 {
  -webkit-transform: rotate(45deg) translate(-3px, -5px);
          transform: rotate(45deg) translate(-3px, -5px);
}

/*******************************
- Footer
********************************/
.footer {
  border-bottom: soldi 1px #e8e8e8;
}

.footer__0 {
  background: url(".././img/bgft0.png") no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .footer__0 {
    display: none;
  }
}

.footer__0 .l-container {
  height: 149px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__0 h3 {
  color: #111;
  font-size: 2rem;
}

.footer__1 {
  background: #f8f8f8;
  padding: 60px 0 20px;
  border-top: solid 1px #0075a9;
}

@media screen and (max-width: 768px) {
  .footer__1 {
    display: none;
  }
}

.footer__1-title {
  padding-bottom: 34px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #003567;
}

.footer__1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__2 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.footer__2 .l-container {
  height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__2 .l-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}

.footer__2 img {
  width: 180px;
}

@media screen and (max-width: 768px) {
  .footer__2 img {
    width: 135px;
    margin-bottom: 10px;
  }
}

.footer__3 {
  background: #003567;
  padding-top: 70px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .footer__3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__3-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .footer__3-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__3-top div:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__3-top div:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 768px) {
  .footer__3-top .c-logo {
    text-align: center;
  }
}

.footer__3-top .c-info {
  width: 483px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__3-top .c-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
  }
  .footer__3-top .c-info a.c-button-email {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__3-top .c-info div.c-contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__3-top .c-button-email {
  margin-top: -9px;
}

@media screen and (max-width: 768px) {
  .footer__3-top .c-button-email {
    margin-top: 10px;
  }
}

.footer__3-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__3-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__3-bottom .text {
  width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__3-bottom .text {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer__3-bottom .c-info {
    margin-bottom: 22px;
  }
}

.footer__3-bottom .c-info h4, .footer__3-bottom .c-info h5, .footer__3-bottom .c-info h6 {
  font-size: 1.4rem;
  color: #bfccd9;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .footer__3-bottom .c-info h4, .footer__3-bottom .c-info h5, .footer__3-bottom .c-info h6 {
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
    border: solid 1px #bfccd9;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
  }
}

.footer__3-bottom .c-info p {
  color: #bfccd9;
  font-size: 1.2rem;
  padding-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .footer__3-bottom .c-info p {
    font-size: 1.1rem;
  }
}

.footer__3-bottom .c-logo-other {
  text-align: center;
}

.footer__3-bottom .c-logo-other img {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .footer__3-bottom .c-logo-other img {
    width: 60px;
    height: 60px;
  }
}

.footer__4 {
  border-top: solid 1px #26537e;
  height: 80px;
  background: #003567;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bfccd9;
  font-size: 1.2rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .footer__4 {
    font-size: 1rem;
    text-align: center;
    height: 60px;
  }
}

/*******************************
- Breadcrumb
********************************/
/*******************************
- Layout
********************************/
/* body
------------------------------------------------------------*/
body {
  min-width: 1200px;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

/* container
------------------------------------------------------------*/
.l-container {
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .l-container {
    padding: 0 20px;
  }
}

/* main
------------------------------------------------------------*/
/* Components */
/* contact */
.c-contact {
  width: 231px;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .c-contact {
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  .c-contact img {
    margin: auto;
  }
}

.c-contact__text {
  margin-bottom: 13px;
}

.c-contact__text span {
  padding: 4px 9px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .c-contact__text span {
    padding: 2px 5px;
  }
}

.c-contact__text span:first-child {
  background: #ffcc00;
  color: #111;
}

.c-contact__text span:last-child {
  background: #0075a9;
}

.c-contact__text span.one {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

/* button back to top */
.c-btn-backTop {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-btn-backTop {
    right: 10px;
    bottom: 10px;
  }
}

.c-btn-backTop img {
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .c-btn-backTop img {
    width: 40px;
    height: 40px;
  }
}

/* global navigator */
.c-global-nav {
  font-size: 1.6rem;
  height: 120px;
}

.c-global-nav li {
  width: 156px;
  height: 118px;
  text-align: center;
  display: inline-block;
}

.c-global-nav a {
  color: #333;
  text-decoration: none;
  position: relative;
}

.c-global-nav a span {
  display: block;
  padding-top: 75px;
}

.c-global-nav li:nth-child(1) a span {
  background: url("./../img/menu_icon1.png") no-repeat;
  background-position: center;
}

.c-global-nav li:nth-child(2) a span {
  background: url("./../img/menu_icon2.png") no-repeat;
  background-position: center;
}

.c-global-nav li:nth-child(3) a span {
  background: url("./../img/menu_icon3.png") no-repeat;
  background-position: center;
}

.c-global-nav li:nth-child(4) a span {
  background: url("./../img/menu_icon4.png") no-repeat;
  background-position: center;
}

.c-global-nav li:nth-child(5) a span {
  background: url("./../img/menu_icon5.png") no-repeat;
  background-position: center;
}

.c-global-nav li:nth-child(6) a span {
  background: url("./../img/menu_icon6.png") no-repeat;
  background-position: center;
}

.c-global-nav li:nth-child(1) a span,
.c-global-nav li:nth-child(2) a span,
.c-global-nav li:nth-child(4) a span {
  background-size: 40px 40px;
}

.c-global-nav li:nth-child(5) a span,
.c-global-nav li:nth-child(6) a span {
  background-size: 36px 40px;
}

.c-global-nav li:nth-child(3) a span {
  background-size: 42px 36px;
}

/* footer navigator */
.c-nav-ft {
  padding-bottom: 20px;
}

.c-nav-ft h3 {
  font-size: 1.5rem;
  color: #003567;
  padding-bottom: 20px;
}

.c-nav-ft li {
  font-size: 1.3rem;
  background: url("./../img/icon_arrow.png") no-repeat;
  background-position: left;
  padding-left: 10px;
  margin-bottom: 15px;
}

.c-nav-ft a {
  color: #333;
}

/* navigator for SP */
.c-nav-sp {
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 1.5rem;
  position: fixed;
  z-index: 99;
  overflow: auto;
  display: none;
}

.c-nav-sp li {
  border-top: solid 1px #e8e8e8;
}

.c-nav-sp li.c-liParent:first-child {
  border-top: none;
}

.c-nav-sp a {
  color: #333;
  padding: 15px 56px;
  display: block;
  height: 50px;
  margin-right: 26px;
  background: url(".././img/sp/icon_arrow.png") no-repeat;
  background-size: 7px 12px;
  background-position: center right;
}

.c-nav-sp a.c-aParent {
  color: #003567;
  height: 60px;
  display: block;
  padding: 17px 20px;
  background: url(".././img/sp/icon_arrow-circle.png") no-repeat;
  background-size: 20px 20px;
  background-position: center right;
  margin-right: 20px;
}

.c-nav-sp .c-icon-menu {
  padding-right: 8px;
}

.c-nav-sp .c-icon-menu img {
  vertical-align: middle;
}

/* card */
.c-card {
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .c-card {
    width: 100%;
    margin-bottom: 10px;
  }
}

.c-card__image {
  height: 169px;
}

.c-card__image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .c-card__image {
    height: auto;
  }
}

.c-card__text {
  height: 125px;
  position: relative;
  text-align: center;
  background: rgba(0, 117, 169, 0.75);
}

.c-card__text h3, .c-card__text h4, .c-card__text h5, .c-card__text h6 {
  color: #fff;
  font-size: 1.6rem;
  padding-bottom: 14px;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .c-card__text h3, .c-card__text h4, .c-card__text h5, .c-card__text h6 {
    font-size: 1.5rem;
  }
}

.c-card__text p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-top: -0.35rem;
}

@media screen and (max-width: 768px) {
  .c-card__text p {
    font-size: 1.3rem;
  }
}

.c-card__text:before {
  content: '';
  background: url("./../img/bg_card.png");
  width: 18px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* card 2 */
@media screen and (max-width: 768px) {
  .c-card-2 {
    margin-bottom: 10px;
  }
}

.c-card-2__image {
  height: 120px;
}

.c-card-2__image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .c-card-2__image {
    height: auto;
  }
}

.c-card-2__text {
  text-align: center;
}

.c-card-2__text h3, .c-card-2__text h4, .c-card-2__text h5, .c-card-2__text h6 {
  color: #0068b7;
  font-size: 1.6rem;
  padding-bottom: 14px;
  padding-top: 20px;
  font-weight: normal;
}

.c-card-2__text p {
  color: #333;
  font-size: 1.4rem;
}

/* card 3 */
.c-card-3 {
  position: relative;
}

.c-card-3__image {
  overflow: hidden;
  border-radius: 5px;
}

.c-card-3__image img {
  vertical-align: middle;
  height: 285px;
}

@media screen and (max-width: 768px) {
  .c-card-3__image img {
    width: 100%;
    height: auto;
  }
}

.c-card-3__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 30px;
  border-radius: 0 0 5px 5px;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .c-card-3__text {
    padding: 20px 10px 10px;
  }
}

.c-card-3__text h3, .c-card-3__text h4, .c-card-3__text h5, .c-card-3__text h6 {
  color: #fff;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .c-card-3__text h3, .c-card-3__text h4, .c-card-3__text h5, .c-card-3__text h6 {
    font-size: 1.5rem;
  }
}

.c-card-3__text:before {
  content: '';
  background: url("./../img/bg_card.png");
  width: 18px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-card-3__tag {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-card-3__tag {
    margin-bottom: 10px;
  }
}

.c-card-3__tag .c-tag {
  height: 24px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .c-card-3__tag .c-tag {
    height: 18px;
    font-size: 1rem;
    padding: 3px 10px;
  }
}

.c-card-3__tag .c-tag--tourism {
  background: #32b16c;
}

.c-card-3__tag .c-tag--history {
  background: #7e6b5a;
}

.c-card-3__tag .c-tag--art {
  background: #8957a1;
}

.c-card-3__tag .c-tag--shop {
  background: #0075a9;
}

.c-card-3__tag .c-tag--meal {
  background: #f39800;
}

.c-card-3__time {
  background: url(".././img/icon_clock.png") no-repeat;
  background-position: left top;
  background-size: 12px 12px;
  color: #fff;
  font-size: 1.2rem;
  padding-left: 18px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .c-card-3__time {
    font-size: 1rem;
    margin-top: 10px;
    background-size: 10px 10px;
  }
}

.c-card-3__date {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-card-3__date {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

/* title */
.c-title {
  background: url("./../img/bg_title.png") no-repeat;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .c-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: center;
    background-size: 18px 30px;
  }
}

.c-title h2 {
  font-size: 2.4rem;
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .c-title h2 {
    font-size: 1.6rem;
    padding-left: 0;
    padding-top: 64px;
    text-align: center;
  }
}

/* list */
.c-list-blog {
  /* img thumbnail*/
}

@media screen and (max-width: 768px) {
  .c-list-blog {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #d6d6d6;
    margin-bottom: 30px;
  }
}

.c-list-blog li {
  padding-bottom: 38px;
}

.c-list-blog li:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .c-list-blog li {
    padding: 20px 44px 20px 20px;
    border-bottom: solid 1px #d6d6d6;
    position: relative;
    cursor: pointer;
  }
  .c-list-blog li:last-child {
    border-bottom: none;
    padding-bottom: 20px;
  }
  .c-list-blog li:before {
    content: '';
    background: url("./../img/sp/icon_arrow.png") no-repeat;
    background-size: 7px 12px;
    background-position: right;
    position: absolute;
    width: 7px;
    height: 12px;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.c-list-blog a {
  font-size: 1.6rem;
  color: #333;
}

@media screen and (max-width: 768px) {
  .c-list-blog a {
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin-top: -0.45rem;
  }
}

.c-list-blog__date {
  color: #0068b7;
  font-size: 1.4rem;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .c-list-blog__date {
    font-size: 1.1rem;
    padding-bottom: 15px;
  }
}

.c-list-blog__topic {
  color: #666;
}

.c-list-blog__topic:before {
  content: '｜';
}

.c-list-blog--thumb li {
  padding-bottom: 30px;
}

.c-list-blog--thumb li .c-list-blog__image {
  width: 72px;
  height: 72px;
  margin-right: 17px;
  float: left;
}

.c-list-blog--thumb li .c-list-blog__image img {
  width: 72px;
  height: 72px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .c-list-blog--thumb li .c-list-blog__image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .c-list-blog--thumb li .c-list-blog__image img {
    width: 60px;
    height: 60px;
  }
}

.c-list-blog--thumb li .c-list-blog__content {
  float: left;
  width: 341px;
}

@media screen and (max-width: 768px) {
  .c-list-blog--thumb li .c-list-blog__content {
    width: 67%;
  }
}

/* button */
.c-button {
  height: 40px;
  border: solid 1px #d6d6d6;
  border-radius: 50px;
  font-size: 1.4rem;
  color: #333;
  padding: 12px 20px;
  display: inline-block;
}

.c-button:after {
  content: '';
  background: url("./../img/icon_arrow.png") no-repeat;
  background-position: center;
  padding: 0 10px;
}

/* button email */
.c-button-email {
  border: solid 1px #bfccd9;
  border-radius: 5px;
  height: 60px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.c-button-email:before {
  content: '';
  background: url("./../img/icon_mail.png") no-repeat;
  background-position: center;
  padding-left: 8px;
  padding-right: 30px;
}

.c-button-email2 {
  border: solid 1px #111;
  border-radius: 5px;
  height: 60px;
  width: 230px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  margin-top: -5px;
}

/* Page */
/*******************************
- Index page
********************************/
/* Section 1 */
.p-index-1 {
  width: 1200px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .p-index-1 {
    width: 100%;
    padding: 0 20px;
  }
}

.p-index-1__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-1__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-index-1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-1__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .p-index-1 .c-card-3 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .p-index-1 {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}

.p-index-1 .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-index-1 .column .item3, .p-index-1 .column .item4 {
  height: 132px;
}

@media screen and (max-width: 768px) {
  .p-index-1 .column .item3, .p-index-1 .column .item4 {
    height: auto;
  }
}

.p-index-1 .column .item3 img, .p-index-1 .column .item4 img {
  height: 132px;
  width: 285px;
}

@media screen and (max-width: 768px) {
  .p-index-1 .column .item3 img, .p-index-1 .column .item4 img {
    width: 100%;
    height: auto;
  }
}

.p-index-1 .item1 img {
  width: 590px;
}

@media screen and (max-width: 768px) {
  .p-index-1 .item1 img {
    width: 100%;
  }
}

.p-index-1 .item2 img {
  width: 285px;
}

@media screen and (max-width: 768px) {
  .p-index-1 .item2 img {
    width: 100%;
  }
}

/* Section 2 */
.p-index-2 {
  width: 1200px;
  margin: auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .p-index-2 {
    width: 100%;
    padding: 0 20px;
  }
}

.p-index-2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-2__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-index-2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-2__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .p-index-2 .c-card-3 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .p-index-2 {
    padding-bottom: 30px;
  }
}

/* Section 3 */
.p-index-3 {
  width: 1200px;
  margin: auto;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .p-index-3 {
    width: 100%;
    padding: 0 20px;
  }
}

.p-index-3__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-3__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-index-3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-index-3__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .p-index-3 .c-card-3 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .p-index-3 {
    padding-bottom: 30px;
  }
}

/* Utilities*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.pc-only {
  display: block;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .breakline-sp:after {
    content: '\A';
    white-space: pre;
  }
}

.bg-white {
  background: #fff;
  border-bottom: solid 1px #0075a9;
  -webkit-animation: fade .5s;
          animation: fade .5s;
}

.no-scroll {
  overflow: hidden;
}

.stick {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: solid 1px #0075a9;
  -webkit-animation: fade .25s;
          animation: fade .25s;
  z-index: 99999;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
