@charset "UTF-8";
//Title heading component

/* Title base
------------------------------------------------------------*/
.c-title{
	border-left: 8px solid #8CC152;
	margin-bottom: 10px;
	//-------------------------------------------------------
	h1,h2,h3,h4,h5,h6{
		font-size: 1.6rem;
		padding-left: 15px;
		@include sp{
			font-size: 1.4rem;
		}
	}
	//-------------------------------------------------------
	&--warning{
		border-left-color:#F6BB42;
	//-------------------------------------------------------
	}
	&--danger{
		border-left-color:#E9573F;
	}
	//-------------------------------------------------------
	&--topline{
		border-top: solid 1px #ccc;
	}
	//-------------------------------------------------------
	&--botline{
		border-bottom: solid 1px #ccc;
	}
}

/* Title large
------------------------------------------------------------*/
.c-title-lg{
	border-bottom: 1px solid #333;
	padding-bottom: 12px;
	margin-bottom: 20px;
	h1,h2,h3,h4,h5,h6{
		font-size: 1.8rem;
		font-weight: bold;
		@include sp{
			font-size: 1.4rem;
		}
	}
	//-------------------------------------------------------
	&--color{
		border-bottom-color:#8CC152;
		h1,h2,h3,h4,h5,h6{
			color: #8CC152;
		}
	}
}

/* Title small
------------------------------------------------------------*/
.c-title-sm{
	h1,h2,h3,h4,h5,h6{
		font-size: 1.4rem;
		font-weight: bold;
	}
}

/* Title extra large
------------------------------------------------------------*/
.c-title-xlg{
	line-height: 1;
	border-bottom: 1px solid #CCC;
	&__inner{
		padding-top: 30px;
		margin: auto;
        height: 100px;
        box-sizing: border-box;
        @include center;
        @include sp{
        	padding: 15px 10px;
        	height: 70px;
        }
	}

	h1, h2{
		font-size: 2.2rem;
		 @include sp{
			font-size: 1.6rem;
        }
	}

	p, h3, h4, h5, h6, span{
		margin-top: 8px;
		font-size: 1.4rem;
		@include sp{
			font-size: 1.0rem;
        }
	}
	&--bg-blue{
		background-color: #5D9CEC;
		color: #fff;
	}
}