@charset "UTF-8";
// Button component

/* Button base
------------------------------------------------------------*/
.c-btn{
	display: inline-block;
	a{
		color: #FFF;
		background: #FC6E51;
        border-radius: 30px;
        line-height: 1;
        text-align: center;
        min-width: 200px;
        padding: 13px 0;
        font-size: 1.3rem;
        display: inline-block;
        text-decoration: none;
        &:hover{
        	text-decoration: underline;
        }
	}
	//-------------------------------------------------------
	&--green{
		a{
			background: #37BC9B;
		}
	}
	//-------------------------------------------------------
	&--blue{
		a{
			background: #3BAFDA;
		}
	}

}

/* layout
------------------------------------------------------------*/
.l-btn{
	&--center{
		text-align: center;
	}
	&--right {
		text-align: right;
	}
	&--2btn-center {
		text-align: center;
		@include sp{
        	padding-left: 10px;
        	padding-right: 10px;
        }
		div{
			margin: 0 10px;
	        &:last-child{
	        	@include sp{
	        		margin-left: 2%;
	        	}
	        }
		}
	}
	&--2btn-between {
		div {
			&:last-child{
				float: right;
			}
		}
	}
}