@charset "UTF-8";
// Navigator component

/* base
------------------------------------------------------------*/
.c-navi{
    //-------------------------------------------------------
    ul{
        display: flex;
        justify-content: space-between;
        @include sp{
            flex-wrap: wrap;
        }
    }
    //-------------------------------------------------------
    li{
    	width: 180px;
    }
    //-------------------------------------------------------
    a{
    	text-decoration: none;
        background: #4FC1E9;
        color: #FFF;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        border-radius: 5px;
        font-size: 1.2rem;
        &:hover{
        	opacity: 1;
        	background: #3BAFDA;
        }
        &:before{
        	content:"";
            width: 5px;
            height: 5px;
            border-right: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
            margin-right: 7px;
            transform: rotate(45deg);
            margin-top: -4px;
        }
    }
}
