@charset "UTF-8";
// Content box component

/* base
------------------------------------------------------------*/
.c-contentBox{
	border: 1px solid #CCC;
	padding: 15px;
	@extend %cf;
	//-------------------------------------------------------
	&__img{
		width: 150px;
		margin-right: 10px;
		float: left;
	}
	//-------------------------------------------------------
	&__text{
        h3{
        	font-size: 2.0rem;
            font-weight: normal;
        }
        p{
        	font-size: 1.2rem;
        }
	}
	//-------------------------------------------------------
	&--bg{
		background: #F5F7FA;
	}
	//-------------------------------------------------------
	&--round{
        border-radius: 10px;
	}
	//-------------------------------------------------------
	&--imgright{
		float: right !important;
    	margin-right: 0;
    	margin-left: 10px;
	}

}