@charset "UTF-8";
//List component

/* list style 1
------------------------------------------------------------*/
.c-list-type1{
	$root:&;
	@extend %cf;
	//-------------------------------------------------------
	&__card{
		width: 185px;
		margin-bottom: 20px;
		margin-left: 20px;
		float: left;
		@include sp{
			width: 49%;
			margin-left: 2%;
		}
		//----------------------------------------------------
		&:nth-child(4n+1){
			margin-left: 0px;
		}
		//----------------------------------------------------
		&:nth-child(2n+1){
			@include sp{
				margin-left: 0;
			}
		}
	}
	//-------------------------------------------------------
	&__mainImg{
		img{
			@include sp{
				width: 100%;
				height: auto;
			}
		}
	}
	//-------------------------------------------------------
	&__info{
		margin-top: 10px;
		@extend %cf;
	}
	//-------------------------------------------------------
	&__subImg{
		width: 50px;
		margin-right: 10px;
		float: left;
	}
	//-------------------------------------------------------
	&__text{
		h3{
			font-size: 1.4rem;
		}
		p{
			font-size: 1.2rem;
		}
	}
	//-------------------------------------------------------
	&--col3{
		@extend %cf;
		#{$root}__card{
			width: 253px;
			@include sp{
				width: 49%;
				margin-left: 2%;
			}
			//-----------------------------------------------
			&:nth-child(4n+1){
				margin-left: 20px;
				@include sp{
					margin-left: 2%;
				}
			}
			//-----------------------------------------------
			&:nth-child(3n+1){
				margin-left: 0px;
				@include sp{
					margin-left: 2%;
				}
			}
			//-----------------------------------------------
			&:nth-child(2n+1){
				@include sp{
					margin-left: 0;
				}
			}

		}

	}
}

/* list style 2
------------------------------------------------------------*/
.c-list-type2{
	ul{
		margin-left: 1.7rem;
	}
	li{
		list-style-type: disc;
		font-size: 1.4rem;
	}
}

/* list style 3
------------------------------------------------------------*/
.c-list-type3{
	ol{
		margin-left: 1.7rem;
	}
	li{
		list-style-type: decimal;
		font-size: 1.4rem;
	}
}

/* list style 4
------------------------------------------------------------*/
.c-list-type4{
	ul{
		border-top: 1px solid #CCC;
	}
	li{
		border-bottom: 1px solid #CCC;

		&:first-child{
		}
	}
	a{
		text-decoration: none;
		display: block;
		padding: 12px 10px;
		font-size: 1.3rem;
	}
}

/* list style 5
------------------------------------------------------------*/
.c-list-type5{
	li{
		margin-top: 15px;
		&:first-child{
			margin-top: 0;
		}
	}
}