@charset "UTF-8";
//Table component

/* base
------------------------------------------------------------*/
.c-table{
	//-------------------------------------------------------
	&--spBlock{
		th,td{
			@include sp{
				display: block;
			}
		}
	}
	//-------------------------------------------------------
	table{
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;
		width: 100%;
		border-collapse: collapse;
	}
	//-------------------------------------------------------
	th,td{
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		padding: 10px 0;
	}
	//-------------------------------------------------------
	thead{
		th{
			background: #8CC152;
			color: #FFF;
			font-size: 1.4rem;
		}
	}
	//-------------------------------------------------------
	tbody{
		th{
			font-weight: normal;
			font-size: 1.4rem;
			background: #E6E9ED;
		}
		td{
			text-align: center;
			font-size: 1.4rem;
		}
	}
	.u-gray{
		background: #434A54;
		color: #FFF;
	}
}