@charset "UTF-8";
//Other component

/*
------------------------------------------------------------*/
.c-message{
	border: 1px solid #CCC;
    border-radius: 5px;
    padding: 30px 10px;
    overflow: hidden;
	//-------------------------------------------------------
	p{
		text-align: center;
		font-size: 1.4rem;
	}
	//-------------------------------------------------------
	&--green{
		border-color:#37BC9B;
		background: #48CFAD;
		p{
			color: #FFF;
		}
	}
	//-------------------------------------------------------
	&--red{
		border-color:#d50000;
		background: #e53935;
		p{
			color: #FFF;
		}
	}
}