@charset "UTF-8";
/*******************************
- Footer
********************************/
.footer{
	border-bottom: soldi 1px #e8e8e8;
	//-------------------------------------------------------
	&__0{
		background: url('.././img/bgft0.png') no-repeat;
		background-position: center;
		@include sp{
			display: none;
		}
		.l-container{
			height: 149px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		h3{
			color: #111;
			font-size: 2rem;
		}
	}
	//-------------------------------------------------------
	&__1{
		background: #f8f8f8;
		padding: 60px 0 20px;
		border-top: solid 1px #0075a9;
		@include sp{
			display: none;
		}
		&-title{
			padding-bottom: 34px;
			font-weight: bold;
			font-size: 1.5rem;
			color: #003567;
		}
		&-content{
			display: flex;
			justify-content: space-between;
		}
	}
	//-------------------------------------------------------
	&__2{
		@include sp{
			padding-top: 30px;
			padding-bottom: 20px;
		}
		.l-container{
			height: 152px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include sp{
				flex-wrap: wrap;
				height: auto;
			}
		}
		img{
			width: 180px;
			@include sp{
				width: 135px;
				margin-bottom: 10px;
			}
		}
	}
	//-------------------------------------------------------
	&__3{
		background: #003567;
		padding-top: 70px;
		padding-bottom: 60px;
		@include sp{
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&-top{
			display: flex;
			justify-content: space-between;
			padding-bottom: 40px;
			@include sp{
				flex-direction: column;
				div:first-child{
					order: 2;
				}
				div:last-child{
					order: 1;
				}
			}
			.c-logo{
				@include sp{
					text-align: center;
				}
			}
			.c-info{
				width: 483px;
				display: flex;
				justify-content: space-between;
				@include sp{
					flex-direction: column;
					width: 100%;
					padding-bottom: 30px;
					a.c-button-email{
						order: 2;
					}
					div.c-contact{
						order: 1;
					}
				}
			}
			.c-button-email{
				margin-top: -9px;
				@include sp{
					margin-top: 10px;
				}
			}
		}
		&-bottom{
			display: flex;
			justify-content: space-between;
			@include sp{
				flex-direction: column;
			}
			.text{
				width: 690px;
				display: flex;
				justify-content: space-between;
				@include sp{
					width: 100%;
					flex-direction: column;
				}
			}
			.c-info{
				@include sp{
					margin-bottom: 22px;
				}
				h4, h5, h6{
					font-size: 1.4rem;
					color: #bfccd9;
					padding-bottom: 12px;
					@include sp{
						text-align: center;
						font-size: 1.3rem;
						border-radius: 5px;
						border: solid 1px #bfccd9;
						padding-top: 8px;
						padding-bottom: 8px;
						margin-bottom: 10px;
					}
				}
				p{
					color: #bfccd9;
					font-size: 1.2rem;
					padding-bottom: 4px;
					@include sp{
						font-size: 1.1rem;
					}
				}
			}
			.c-logo-other{
				text-align: center;
				img{
					width: 70px;
					height: 70px;
					@include sp{
						width: 60px;
						height: 60px;
					}
				}
			}
		}
	}
	//-------------------------------------------------------
	&__4{
		border-top: solid 1px #26537e;
		height: 80px;
		background: #003567;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #bfccd9;
		font-size: 1.2rem;
		position: relative;
		@include sp{
			font-size: 1rem;
			text-align: center;
			height: 60px;
		}
	}
}