@charset "UTF-8";
/*******************************
- Header
********************************/

//header PC
.c-headerPC{
	background: url('./../img/bg.png') no-repeat;
	background-size: cover;
    background-position: center;
    position: relative;
	height: 100vh;
	padding: 40px;
	@include sp{
		display: none;
	}
	//-------------------------------------------------------
	&__top{
		display: flex;
		justify-content: space-between;
	}
	//-------------------------------------------------------
	.c-info-head{
		width: 483px;
		display: flex;
		justify-content: space-between;
	}
	//-------------------------------------------------------
	&__bottom{
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 50%;
		right: 40px;
		transform: translate(0, -50%);
		img{
			margin-right: 20px;
		}
		// &-title{
		// 	color: #111;
		// 	border: solid 1px #111;
		// 	padding: 39px;
		// 	h1{
		// 		font-size: 3.8rem;
		// 		font-weight: normal;
		// 		padding-bottom: 10px;
		// 		@include line-height(38, 54);
		// 	}
		// 	p{
		// 		font-size: 1.7rem;
		// 		@include line-height(17, 26);
		// 	}
		// }
	}
	//-------------------------------------------------------
	.c-global-nav{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

//header SP
.c-headerSP{
	background: url('./../img/bg.png') no-repeat;
	background-size: cover;
    background-position: left;
    height: 420px;
    position: relative;
    display: none;
    $menu: '.c-menuSP';
    $root: &;
    @include sp{
    	display: block;
    	width: 100%;
    }
    &__top{
    	height: 60px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    }
    //-------------------------------------------------------
    .c-menuSP{
    	width: 40px;
    	height: 40px;
    	background-color: $white;
    	border-radius: 5px;
    	padding: 13px 12px;
    	cursor: pointer;
    	margin-right: 10px;
    	//-------------------------------------------------------
		&__1,
		&__2,
		&__3{
			width: 16px;
			height: 2px;
			background-color: #0075a9;
			margin-bottom: 4px;
			transition: all .25s;
		}
	}
	.c-logoSP{
		padding-left: 20px;
	}
	//-------------------------------------------------------
	h1{
		font-size: 1.3rem;
		line-height: 2.25rem;
		color: $white;
		background: url('./../img/textbox.png') no-repeat;
		background-size: 300px;
		width: 300px;
		padding: 50px 20px 30px;
		position: absolute;
		left: 0;
		top: 60px;
	}
	//-------------------------------------------------------
	.is-open{
		#{$menu}__1{
			transform:rotate(-45deg) translate(-4px, 5px);
		}
		#{$menu}__2{
			opacity: 0;
		}
		#{$menu}__3{
			transform: rotate(45deg) translate(-3px, -5px);
		}
	}
}