@charset "UTF-8";
/*******************************
- Layout
********************************/

/* body
------------------------------------------------------------*/
body{
	min-width: 1200px;
	@include sp{
		min-width: 320px;
	}
}

/* container
------------------------------------------------------------*/
.l-container{
	@include center;
	@include sp{
		padding: 0 20px;
	}
}

/* main
------------------------------------------------------------*/
.main{
}