@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	line-height: 1.5;
	min-width: 1000px;
	@include sp{
		min-width: 320px;
	}
}

.l-container {
	margin: 0 auto;
	width: 1000px;
	@include sp{
		width: 100%;
		padding: 0 20px;
	}
}

.l-main{
	width: 680px;
	float: left;
	@include sp{
		width: 100%;
	}
}

.l-side{
	width: 260px;
	float: left;
	@include sp{
		width: 100%;
	}
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.header {
	height: 82px;
	background: #5ea6e8;
	padding-top: 30px;
	@include sp{
		height: 45px;
		padding-top: 0;
		background: #fff;
		padding-left: 20px;
	}
	//-------------------------------------------------------
	&__logo{
		float: left;
		@include sp{
			padding-top: 16px;
			font-size: 1.2rem;
			color: #3386c2;
			font-weight: 600;
		}
	}
	//-------------------------------------------------------
	&__nav{
		float: left;
		margin-left: 40px;
	}
	//-------------------------------------------------------
	&__mail{
		float: right;
	}
	//-------------------------------------------------------
	&__text{
		float: left;
		padding-top: 12px;
		padding-left: 20px;
		font-size: 0.9rem;
	}
	//navigator sp
	//-------------------------------------------------------
	&__btn{
		width: 45px;
		height: 45px;
		float: right;
		background: #03a8ec;
		padding: 15px;
		cursor: pointer;
	}
	//-------------------------------------------------------
	.bar{
		width: 15px;
		height: 2px;
		background: #fff;
		margin-bottom: 4px;
		transition: 0.4s;
	}
	//-------------------------------------------------------
	.is-open{
		.bar:first-child{
			transform:rotate(-45deg) translate(-4px, 5px);
		}
		.bar:nth-child(2){
			opacity: 0;
		}
		.bar:last-child{
			transform: rotate(45deg) translate(-3px, -5px);
		}
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.footer {
	$root: &;
	background: #eff3f7;
	padding-bottom: 20px;
	//-------------------------------------------------------
	&__1{
		padding-top: 60px;
		padding-bottom: 35px;
		background: #5ea6e8;
		@include sp{
			padding-top: 30px;
			padding-bottom: 30px;
		}
		//-------------------------------------------------------
		.c-btn--email{
			text-align: center;
			font-size: 2.2rem;
			width: 470px;
			padding: 15px 0;
			display: block;
			float: left;
			img{
				margin-top: 5px;
			}
			@include sp{
				font-size: 1.4rem;
				width: 100%;
				padding: 8px 0;
				margin-bottom: 10px;
				img:nth-child(2){
					display: inline;
				}
			}
		}
		//-------------------------------------------------------
		.phone-ft{
			float: right;
		}
		//-------------------------------------------------------
		.btn-phone{
			height: 40px;
			padding-top: 10px;
			display: none;
			@include sp{
				display: block;
			}
		}
		//-------------------------------------------------------
		.btn-btop{
			margin-top: 30px;
			float: right;
		}
	}
	//-------------------------------------------------------
	&__2{
		height: 83px;
		padding-top: 30px;
		border-bottom: solid 1px #d4d4d4;
		@include sp{
			height: auto;
			padding-top: 18px;
		}
		//-------------------------------------------------------
		#{$root}__logo{
			float: left;
		}
		//-------------------------------------------------------
		#{$root}__nav{
			float: left;
			margin-left: 40px;
		}
		//-------------------------------------------------------
		#{$root}__mail{
			float: right;
		}
		//-------------------------------------------------------
	}
	//-------------------------------------------------------
	&__3{
		font-size: 13px;
		padding: 22px 0;
		color: #666666;
		position: relative;
		@include sp{
			padding: 15px 0;
		}
		p{
			float: left;
		}
		p.copyright{
			float: right;
			@include sp{
				float: none;
				text-align: center;
				font-size: 1rem;
			}
		}
		p.info-ft{
			padding-right: 30px;
		}
		.btn-btop-sp{
			position: absolute;
			right: 20px;
			bottom: 15px;
		}
	}

	//-------------------------------------------------------
	.c-navi{
		@include sp{
			text-align: center;
		}
		//-------------------------------------------------------
		ul{
			margin-bottom: 10px;
		}
		//-------------------------------------------------------
		li{
			&+li:before{
				color: #3386c2;
			}
			&:hover{
				:after{
					background: #3386c2;
					@include sp{
						content: '';
						visibility: hidden;
					}
				}
			}
			@include sp{
				width: auto;
				font-size: 1.1rem;
			}
		}
		//-------------------------------------------------------
		a{
			color: #3386c2;
			@include sp{
				padding: 20px;
			}
		}
	}
}