@charset "UTF-8";
@import "_functions.scss";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*uderline text*/

/* border text*/
.u-text-border{
	border: solid 1px #fff;
	padding: 2px 8px;
	margin: 0 5px;
}
.u-red{
	color: #f00;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mAuto { margin: auto !important }
/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	hover affect
------------------------------------------------------------*/
/* hover change image */
.hover-show img:last-child {
  display: none;
}

.hover-show:hover img:first-child {
  display: none;
}

.hover-show:hover img:last-child {
  display: inline-block;
  @include sp{
  	display: none;
  }
}
.c-3img{
	display: inline-block;
	@include sp{
		img:first-child{
			display: none;
		}
	}
}
/*------------------------------------------------------------
	For display or not on PC and SP
------------------------------------------------------------*/
.pc-only{
	display: block;
	@include sp{
		display: none;
	}
}
.sp-only{
	display: none;
	@include sp{
		display: block;
	}
}
.break-sp:after{
	@include sp{
		content: '\A';
   		white-space: pre;
	}
}
/*------------------------------------------------------------
------------------------------------------------------------*/
.u-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    overflow-x: hidden;
    transition: 0.3s;
    display: none;
}
/*------------------------------------------------------------
------------------------------------------------------------*/
