@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Blog page
------------------------------------------------------------*/
.c-banner{
	background: url('../img/blog/blog_banner.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
}
/*
------------------------------------------------------------*/
.p-blog{
	background: url('../img/company/bg_company.png') no-repeat;
	background-position: top left;
	padding-top: 100px;
	padding-bottom: 120px;
	@include sp{
		padding-top: 50px;
		padding-bottom: 40px;
	}
}
//-------------------------------------------------------
.p-blog-main,
.p-blog-side{
	float: left;
}

//-------------------------------------------------------
.p-blog-side{
	padding-left: 60px;
	padding-top: 105px;
	@include sp{
		padding-left: 0;
		padding-top: 50px;
	}
	//-------------------------------------------------------
	.c-list-2{
		//-------------------------------------------------------
		li{
			padding-top: 15px;
		}
	}
}

//-------------------------------------------------------
.c-pagination{
	padding-top: 60px;
	@include sp{
		padding-top: 30px;
	}
}
