@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner{
	background: url('../img/company/banner_company.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
}
/*
------------------------------------------------------------*/
.p-company{
	background: url('../img/company/bg_company.png') no-repeat;
	background-position: top left;
}
/* section 1
------------------------------------------------------------*/
.p-company-1{
	padding-top: 120px;
	margin-bottom: 115px;
	p{
		text-align: center;
		img{
			@include sp{
				width: 100%;
			}
		}
	}
	@include sp{
		padding-top: 40px;
		margin-bottom: 50px;
	}
}
/* section 2
------------------------------------------------------------*/
.p-company-2{
	margin-bottom: 120px;
	@include sp{
		margin-bottom: 50px;
	}
}
/* section 3
------------------------------------------------------------*/
.p-company-3{
	padding-bottom: 120px;
	.map{
		width: 100%;
		height: 450px;
	}
	@include sp{
		padding-bottom: 50px;
	}
}