@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner{
	background: url('../img/contact/banner_contact.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
}
/*
------------------------------------------------------------*/
.p-contact{
	background: url('../img/company/bg_company.png') no-repeat;
	background-position: top left;
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 60px;
	}
}
/*
------------------------------------------------------------*/
.btn-submit{
	text-align: center;
	margin: auto;
    padding-top: 60px;
    display: inherit;
    .c-btn{
    	display: inline-block;
    }
    @include sp{
    	padding-top: 30px;
    }
}
.c-btn{
	width: 250px;
}
.c-table{
	//-------------------------------------------------------
	table,th{
		border-left: 1px solid #dbdbdb;
		border-right: 1px solid #dbdbdb;;
	}
	//-------------------------------------------------------
	th{
		width: 260px;
		padding-left: 40px;
		background: #f6f6f6;
		color: #333333;
		@include sp{
			padding-left: 10px;
			width: 100%;
			text-align: left;
		}
	}
	.warning{
		background: #fbe1e1;
	}
	//-------------------------------------------------------
	td{
		padding:0 30px;
		@include sp{
			padding: 10px 0;
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	//-------------------------------------------------------
	select{
		border: solid 1px #dbdbdb;
		margin: 10px 0;
		font-size: 1.4rem;
		color: #757575;
	}
	//-------------------------------------------------------
	input[type=text],
	input[type=email]{
		width: 450px;
		height: 28px;
		margin-bottom: 10px;
		border: solid 1px #dbdbdb;
		&::placeholder {
			font-size: 1.4rem;
			color: #757575;
			padding-left: 10px;
		}
		@include sp{
			width: 90%;
		}
	}
	//-------------------------------------------------------
	input[type=radio]{
		cursor: pointer;
	}
	//-------------------------------------------------------
	textarea{
		border: solid 1px #dbdbdb;
		width: 100%;
		padding: 18px;
		resize: none;
		margin: 20px 0;
		height: 140px;
		@include sp{
			height: auto;
			padding: 10px;
			margin: 10px 0;
		}
	}
}
/*
------------------------------------------------------------*/
.p-contact-1{
	padding-top: 118px;
	@include sp{
		padding-top: 50px;
	}
	p{
		text-align: center;;
		font-size: 1.6rem;
		padding-bottom: 40px;
		@include sp{
			font-size: 1.4rem;
			padding-bottom: 20px;
		}
	}
}
.p-contact-2{
	padding-top: 40px;
	@include sp{
		padding-top: 20px;
	}
	//-------------------------------------------------------
	.required{
		color: #fff;
		float: right;
		margin-right: 30px;
		font-size: 1.2rem;
		@include sp{
			font-size: 0.9rem;
			margin-right: 10px;
		}
	}
	.yes:after{
		padding: 3px 6px;
		content: '必須';
		background: #5ea6e8;
	}
	.no:after{
		padding: 3px 6px;
		content: '任意';
		background: #999999;
	}
	.c-radiobtn{
		@include sp{
			text-align: left;
			padding-left: 10px;
		}
	}
}