@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/

/* Image top page
------------------------------------------------------------*/
.banner-top{
	background: url('../img/top/bg-color.png') center no-repeat, 
	url('../img/top/bg-top-page.jpg') center no-repeat;
	background-size: cover, cover;
	width: 100%;
	height: 700px;
	@include sp{
		width: 100%;
		height: 285px;
	}
	//-------------------------------------------------------
	p{
		font-size: 1.5rem;
		color: #fff;
		text-align: center;
		padding-top: 32px;
	}
	//-------------------------------------------------------
	h1{
		padding-top: 90px;
		@include sp{
			padding-top: 25px;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}
/* background page top
------------------------------------------------------------*/
.p-top{
	background: url('../img/common/bg-page.png') center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/* Section 1
------------------------------------------------------------*/
.p-top-1{
	padding-top: 100px;
	padding-bottom: 130px;
	@include sp{
		padding-top: 40px;
		padding-bottom: 46px;
	}
	//-------------------------------------------------------
	&__text{
		text-align: center;
		font-size: 1.6rem;
		margin-bottom: 65px;
		@include sp{
			text-align: justify;
			font-size: 1.4rem;
			margin-bottom: 20px;
		}
	}
	//-------------------------------------------------------
	&__image{
		margin-bottom: 40px;
		img{
			width: 330px;
			height: auto;
			padding: 0 1px;
			@include sp{
				width: 32%;
				padding: 0;
			}
		}
	}
	//-------------------------------------------------------
	&__btn{
		text-align: center;
		.c-btn{
			padding: 10px 30px;
		}
	}
}
/* Section 2
------------------------------------------------------------*/
.p-top-2{
	background: rgba(239, 243, 247, 0.5);
	padding-top: 60px;
	padding-bottom: 70px;
	@include sp{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	//-------------------------------------------------------
	&__btn{
		text-align: center;
		button{
			margin: 0 20px;
			@include sp{
				margin: 0 0 10px 0;
			}
		}
	}
	//-------------------------------------------------------
	.c-btn{
		width: 360px;
		height: 120px;
		padding: 0;
		border: solid 2px #5ea6e8;
		@include sp{
			width: 100%;
			height: 90px;
		}
	}
}
/* Section 3
------------------------------------------------------------*/
.p-top-3{
	padding-top: 115px;
	padding-bottom: 120px;
	@include sp{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	//-------------------------------------------------------
	.c-list-1{
		height: 190px;
		overflow: scroll;
		overflow-x: hidden;
		@include sp{
			height: 295px;
			overflow: hidden;
			li:nth-child(n+4){
				display: none;
			}
		}
	}
}