@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner{
	background: url('../img/recruit/banner_recruit.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
}

/*
------------------------------------------------------------*/
.p-recruit{
	background: url('../img/company/bg_company.png') no-repeat;
	background-position: top left;
}
/* section 1
------------------------------------------------------------*/
.p-recruit-1{
	padding-top: 120px;
	padding-bottom: 115px;
	@include sp{
		padding-top: 50px;
		padding-bottom: 65px;
	}
}
/* section 2
------------------------------------------------------------*/
.p-recruit-2{
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 60px;
	}
	.c-imgbox{
		&__content{
			padding-left: 40px;
			p{
				padding-top: 20px;
			}
			@include sp{
				padding-top: 20px;
				padding-left: 0;
				img{
					width: 100%;
				}
			}
		}
	}
	.icon-arrow{
		text-align: center;
		padding: 40px 0;
		@include sp{
			padding: 20px 0;
		}
	}
}