@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Company page
------------------------------------------------------------*/
.c-banner{
	background: url('../img/shop/banner_shop.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
	@include sp{
		background: url('../img/shop/banner_shop-sp.jpg');
		background-position: center;
	}
}

/*
------------------------------------------------------------*/
.p-shop{
	padding-top: 100px;
	padding-bottom: 120px;
	@include sp{
		background: url('../img/shop/bg_shop.png') no-repeat;
		background-position: top right;
		padding-top: 40px;
		padding-bottom: 50px;
	}
	h3{
		font-size: 1.8rem;
		margin-bottom: 60px;
		text-align: center;
		font-weight: normal;
		@include sp{
			font-size: 1.4rem;
			text-align: left;
			margin-bottom: 20px;
		}
	}
	//-------------------------------------------------------
	.c-imgbox{
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0;
		}
		@include sp{
			margin-bottom: 30px;
		}
		&__content{
			width: 566px;
			@include sp{
				width: 100%;
				margin-top: 10px;
			}
		}
	}
}