@charset "UTF-8";
/* breadcrumb */
.c-breadcrumb{
	height: 70px;
	display: flex;
	align-items: center;
	@include sp{
		display: none;
	}
	//-------------------------------------------------------
	li{
		display: inline;
		color: #333;
		font-size: 1.2rem;
		&+li:before{
			content: ' > ';
			margin: 0 4px;
		}
		a{
			color: $main;
			border-bottom: solid 1px $main;
		}
	}
}