@charset "UTF-8";
/* button */
.c-btn{
	background-color: #4471c6;
	font-size: 1.6rem;
	color: $white;
	text-align: center;
	border-radius: 5px;
	width: 230px;
	display: inline-block;
	transition: all .25s;
	@include sp{
		width: 100%;
	}
	//-------------------------------------------------------
	&:hover{
		opacity: 0.7;
	}
	//-------------------------------------------------------
	&--default{
		padding: 15px 0;
		position: relative;
		@include sp{
			padding: 12px 0;
		}
		&:after{
			content: '';
			background: url('.././img/common/icon_button.png') no-repeat;
			width: 16px;
			height: 16px;
			position: absolute;
			right: 20px;
		}
	}
	//-------------------------------------------------------
	&--mail{
		padding: 17px 20px;
		&:before{
			content: '';
			background: url('.././img/common/icon_mail.png') no-repeat;
			background-position: center;
			padding-left: 30px;
		}
	}
}