@charset "UTF-8";
/* card */
.c-card{
	transition: all .25s;
	//-------------------------------------------------------
	&__image{
		img{
			width: 100%;
			@include sp{
				height: auto;
			}
		}
	}
	//-------------------------------------------------------
	&__content{
		text-align: center;
		background: $main;
		padding: 20px;
	}
	//-------------------------------------------------------
	&__content2{
		text-align: center;
		background: $white;
		color: #333;
		padding: 20px;
	}
	//-------------------------------------------------------
	&:hover{
		opacity: .7;
	}
	//-------------------------------------------------------
	&--no-hover{
		&:hover{
			opacity: 1;
		}
	}
}
