@charset "UTF-8";
/* image box content */
.c-imgbox{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__title{
		border-bottom: solid 1px $main;
		padding-bottom: 10px;
		margin-bottom: 20px;
		h3, h4, h5, h6{
			color: $main;
			font-weight: normal;
		}
	}
	&__text{
		@include line-height(14,22);
	}
	&__list{
		padding-left: 20px;
		li{
			list-style: disc url('.././img/business/list-style.png');
		}
	}
	&__content{
	}
	&__content2{
		display: flex;
		justify-content: space-between;
	}
	&__img{
		img{
			width: 100%;
			height: auto;
		}
	}
}