@charset "UTF-8";
/* navigator */
.c-global-nav{
	border-top: solid 1px #cccccc;
	font-size: 1.6rem;
	@include sp{
		display: none;
	}
	//-------------------------------------------------------
	ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: url('.././img/common/bg_li.png') no-repeat;
		background-position: right;
		height: 70px;
	}
	//-------------------------------------------------------
	li{
		width: 167px;
		height: 70px;
		display: flex;
		align-items: center;
		text-align: center;
		transition: all .2s;
		background: url('.././img/common/bg_li.png') no-repeat;
		background-position: left;
		&:hover{
			background: $main;
			a{
				color: $white;
			}
		}
	}
	//-------------------------------------------------------
	a{
		width: 167px;
		color: $black;
		padding: 25px;
	}
	//-------------------------------------------------------
	.is-current{
		background: $main;
		a{
			color: $white;
		}
	}
}

/* navigator footer */
.c-ft-nav{
	font-size: 1.4rem;
	//-------------------------------------------------------
	ul{

	}
	//-------------------------------------------------------
	li{
		display: inline-block;
		&:last-child{
			a:after{
				content: '';
			}
		}
	}
	//-------------------------------------------------------
	a{
		color: $white;
		&:after{
			content: '｜';
			padding: 5px;
		}

	}
}
/* navigator sp */
.c-navSP{
	ul{
		@include bg-rgb($main, .9);
		position: fixed;
		width: 100%;
		height: 0;
		overflow: scroll;
		z-index: 999;
		left: 0;
		transition: all 0.2s ease;
		top: 102px;
	}
	//-------------------------------------------------------
	li{
		position: relative;
		padding: 20px 15px;
		border-bottom: solid 1px #ddd;
		&:after{
			content: '';
			background: url('.././img/common/sp/icon_arrow-white.png') no-repeat;
			background-size: 14px 14px;
			width: 14px;
			height: 14px;
			position: absolute;
			right: 15px;
		}
		&:last-child{
			&:after{
				content: '';
				background: none;
			}
			img{
				margin-bottom: 15px;
			}
		}
	}
	//-------------------------------------------------------
	a{
		color: $white;
		padding: 20px 100px 20px 0;
	}
}
/* navigator footer sp */
.c-ft-navSP{
	font-size: 1.4rem;
	display: none;
	@include sp{
		display: block;
	}
	//-------------------------------------------------------
	ul{
	}
	//-------------------------------------------------------
	li{
		display: flex;
		justify-content: space-between;
		border-bottom: solid 1px #dddddd;
		&:last-child{
			text-align: center;
			a:after{
				content: '';
				background: none;
			}
		}
		a:first-child{
			border-right: solid 1px #dddddd;
		}
	}
	//-------------------------------------------------------
	a{
		width: 50%;
		display: block;
		color: #333;
		padding: 20px 15px;
		position: relative;
		&:after{
			content: '';
			background: url('.././img/common/sp/bg-li-sp.png') no-repeat;
			background-size: 14px 15px;
			width: 14px;
			height: 15px;
			right: 15px;
			position: absolute;
		}
	}
}