@charset "UTF-8";
/* contact */
.c-contact{
	font-weight: bold;
	color: #585550;
	font-family: Meiryo sans-serif;
	//-------------------------------------------------------
	&__info{
		display: flex;
		justify-content: center;
		@include sp{
			display: none;
		}
		img{
			margin: 0 10px;
		}
	}
	//-------------------------------------------------------
	&__text{
		font-size: 1.6rem;
		@include sp{
			font-size: 1.4rem;
		}
	}
}

/* news */
.c-news{
	height: 53px;
	background: #e9eff2;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	margin-top: -24px;
	font-size: 1.4rem;
	color: #333;
	padding: 20px;
	@include sp{
		background: #fff;
		margin-top: 0;
		padding: 0 15px;
		position: relative;
		height: auto;
	}
	//-------------------------------------------------------
	span:not(.breakline-sp){
		&:after{
			content: ' | ';
			color: #2e4d88;
		}
		@include sp{
			display: none;
		}
	}
	//-------------------------------------------------------
	a{
		color: #333;
	}
}

/* box-overlay */
.c-box-overlay{
	background: #fff;
	text-align: center;
	padding: 50px 56px;
	font-size: 1.4rem;
	color: #333;
	@include sp{
		padding: 30px 20px 0;
		text-align: left;
	}
	//-------------------------------------------------------
	h2{
		padding-bottom: 30px;
		@include sp{
			padding-bottom: 15px;
		}
	}
	//-------------------------------------------------------
	p{
		padding-bottom: 20px;
		@include line-height(14,22);
		@include sp{
			padding-bottom: 36px;
			&:nth-last-child(2){
				padding-bottom: 10px;
			}
		}
	}
}

/* c-reward */
.c-reward{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
	width: 228px;
	height: 80px;
	border: solid 1px $main;
	border-radius: 5px;
	span{
		padding-right: 10px;
	}
}