@charset "UTF-8";
/* table */
.c-table{
	//-------------------------------------------------------
	table{
		width: 100%;
		border: solid 1px #cccccc;
		border-collapse: collapse;
		@include sp{
			border: 0;
			border-bottom: solid 1px #cccccc;
		}
	}
	//-------------------------------------------------------
	th, td{
		border: solid 1px #cccccc;
		border-collapse: collapse;
		font-weight: normal;
		text-align: left;
		padding: 20px;
		@include sp{
			display: block;
			text-align: center;
			padding: 15px;
			border-bottom: none;
		}
	}
	//-------------------------------------------------------
	th{
		background: #f6f6f6;
	}
}