@charset "UTF-8";
/* tab */
.c-tab{
	//-------------------------------------------------------
	ul{
		border-top: solid 1px #cccccc;
		border-bottom: solid 1px #cccccc;
	}
	//-------------------------------------------------------
	li{
		display: inline-block;
		padding: 20px 0;
		position: relative;
		&:first-child{
			a{
				border-left: 0;
				padding-left: 0;
			}
		}
	}
	//-------------------------------------------------------
	a{
		color: $main;
		border-left: solid 1px #cccccc;
		padding-left: 20px;
		&:after{
			content: '';
			border: solid $main;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
			margin-left: 5px;
			margin-bottom: 2px;
			margin-right: 20px;
		}
	}
}