@charset "UTF-8";
/* title */
.c-headTitle{
	height: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include sp{
		height: 150px;
	}
}

.c-title1{
	padding-bottom: 30px;
	@include sp{
		padding-bottom: 25px;
	}
}