@charset "UTF-8";
/* card */
.c-card{
	border-radius: 5px;
	width: 300px;
	overflow:hidden;
	@include sp{
		width: 100%;
		margin-bottom: 10px;
	}
	//-------------------------------------------------------
	&__image{
		height: 169px;
		img{
			width: 100%;
			height: auto;
		}
		@include sp{
			height: auto;
		}
	}
	//-------------------------------------------------------
	&__text{
		height: 125px;
		position: relative;
		text-align: center;
		@include bg-rgb(#0075a9, .75);
		h3, h4, h5, h6{
			color: $white;
			font-size: 1.6rem;
			padding-bottom: 14px;
			padding-top: 30px;
			@include sp{
				font-size: 1.5rem;
			}
		}
		p{
			color: $white;
			font-size: 1.4rem;
			//line-height: 2.1rem;
			@include line-height(14, 21);
			@include sp{
				font-size: 1.3rem;
			}
		}
		&:before{
			content: '';
			background: url('./../img/bg_card.png');
			width: 18px;
			height: 30px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
/* card 2 */
.c-card-2{
	@include sp{
		margin-bottom: 10px;
	}
	//-------------------------------------------------------
	&__image{
		height: 120px;
		img{
			width: 100%;
		}
		@include sp{
			height: auto;
		}
	}
	//-------------------------------------------------------
	&__text{
		text-align: center;
		h3, h4, h5, h6{
			color: #0068b7;
			font-size: 1.6rem;
			padding-bottom: 14px;
			padding-top: 20px;
			font-weight: normal;
		}
		p{
			color: #333;
			font-size: 1.4rem;
		}
	}
}
/* card 3 */
.c-card-3{
	position: relative;
	//-------------------------------------------------------
	&__image{
		overflow: hidden;
		border-radius: 5px;
		img{
			vertical-align: middle;
			height: 285px;
			@include sp{
				width: 100%;
				height: auto;
			}
		}
	}
	//-------------------------------------------------------
	&__text{
		position: absolute;
    	bottom: 0;
    	width: 100%;
    	padding: 20px 30px;
    	border-radius: 0 0 5px 5px;
    	@include bg-rgb(#000, 0.5);
    	@include sp{
    		padding: 20px 10px 10px;
    	}
    	h3, h4, h5, h6{
			color: $white;
			font-size: 1.6rem;
			@include sp{
				font-size: 1.5rem;
			}
		}
    	&:before{
			content: '';
			background: url('./../img/bg_card.png');
			width: 18px;
			height: 30px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	//-------------------------------------------------------
	&__tag{
		margin-bottom: 15px;
		@include sp{
			margin-bottom: 10px;
		}
		.c-tag{
			height: 24px;
			color: $white;
			font-size: 1.2rem;
			font-weight: bold;
			padding: 6px 20px;
			border-radius: 5px;
			display: inline-block;
			@include sp{
				height: 18px;
				font-size: 1rem;
				padding: 3px 10px;
			}
			&--tourism{
			background: #32b16c;
			}
			&--history{
				background: #7e6b5a;
			}
			&--art{
				background: #8957a1;
			}
			&--shop{
				background: #0075a9;
			}
			&--meal{
				background: #f39800;
			}
		}
	}
	//-------------------------------------------------------
	&__time{
		background: url('.././img/icon_clock.png') no-repeat;
		background-position: left top;
		background-size: 12px 12px;
		color: $white;
		font-size: 1.2rem;
		padding-left: 18px;
		margin-top: 15px;
		@include sp{
			font-size: 1rem;
			margin-top: 10px;
			background-size: 10px 10px;
		}
	}
	//-------------------------------------------------------
	&__date{
		color: $white;
		font-size: 1.2rem;
		margin-bottom: 15px;
		@include sp{
			font-size: 1rem;
			margin-bottom: 10px;
		}
	}
}