@charset "UTF-8";
/* list */
.c-list-blog{
	$root: &;
	@include sp{
		width: 100%;
		background-color: $white;
		border-radius: 5px;
		border: solid 1px #d6d6d6;
		margin-bottom: 30px;
	}
	//-------------------------------------------------------
	ul{
	}
	//-------------------------------------------------------
	li{
		padding-bottom: 38px;
		&:last-child{
			padding-bottom: 0;
		}
		@include sp{
			padding: 20px 44px 20px 20px;
			border-bottom: solid 1px #d6d6d6;
			position: relative;
			cursor: pointer;
			&:last-child{
				border-bottom: none;
				padding-bottom: 20px;
			}
			&:before{
				content: '';
				background: url('./../img/sp/icon_arrow.png') no-repeat;
				background-size: 7px 12px;
				background-position: right;
				position: absolute;
				width: 7px;
				height: 12px;
				top: 50%;
				right: 20px;
				transform: translate(-50%, -50%);
			}
		}
	}
	//-------------------------------------------------------
	a{
		font-size: 1.6rem;
		color: #333;
		@include sp{
			font-size: 1.3rem;
			@include line-height(13,22);
		}
	}
	//-------------------------------------------------------
	&__date{
		color: #0068b7;
		font-size: 1.4rem;
		padding-bottom: 12px;
		@include sp{
			font-size: 1.1rem;
			padding-bottom: 15px;
		}
	}
	//-------------------------------------------------------
	&__topic{
		color: #666;
		&:before{
			content: '｜';
		}
	}
	//-------------------------------------------------------
	/* img thumbnail*/
	&--thumb{
		li{
			@extend %cf;
			padding-bottom: 30px;
			@include sp{
			}
			#{$root}__image{
				width: 72px;
				height: 72px;
				margin-right: 17px;
				float: left;
				img{
					width: 72px;
					height: 72px;
					border-radius: 5px;
				}
				@include sp{
					width: 60px;
					height: 60px;
					margin-right: 10px;
					img{
						width: 60px;
						height: 60px;
					}
				}
			}
			#{$root}__content{
				float: left;
				width: 341px;
				@include sp{
					width: 67%;
				}
			}
		}
	}
}