@charset "UTF-8";
/* global navigator */
.c-global-nav{
	font-size: 1.6rem;
	height: 120px;
	//-------------------------------------------------------
	ul{
	}
	//-------------------------------------------------------
	li{
		width: 156px;
		height: 118px;
		text-align: center;
		display: inline-block;
	}
	//-------------------------------------------------------
	a{
		color: #333;
		text-decoration: none;
		position: relative;
		span{
			display: block;
			padding-top: 75px;
		}
	}
	//-------------------------------------------------------
	@for $i from 1 through 6{
		li:nth-child(#{$i}){
			a{
				span{
					background: url('./../img/menu_icon#{$i}.png') no-repeat;
					background-position: center;
				}
			}
		}
		@if $i == 6{
			li:nth-child(1),
			li:nth-child(2),
			li:nth-child(4){
				a{
					span{
						background-size: 40px 40px;
					}
				}
			}
			li:nth-child(5),
			li:nth-child(6){
				a{
					span{
						background-size: 36px 40px;
					}
				}
			}
			li:nth-child(3){
				a{
					span{
						background-size: 42px 36px;
					}
				}
			}
		}
	}
}
/* footer navigator */
.c-nav-ft{
	padding-bottom: 20px;
	//-------------------------------------------------------
	h3{
		font-size: 1.5rem;
		color: #003567;
		padding-bottom: 20px;
	}
	//-------------------------------------------------------
	ul{
	}
	//-------------------------------------------------------
	li{
		font-size: 1.3rem;
		background: url('./../img/icon_arrow.png') no-repeat;
		background-position: left;
		padding-left: 10px;
		margin-bottom: 15px;
	}
	//-------------------------------------------------------
	a{
		color: #333;
	}
}
/* navigator for SP */
.c-nav-sp{
	width: 100%;
	height: 100%;
	background: $white;
	font-size: 1.5rem;
	position: fixed;
	z-index: 99;
	overflow: auto;
	display: none;
	ul{
	}
	li{
		border-top:  solid 1px #e8e8e8;
		&.c-liParent:first-child{
			border-top: none;		}
	}
	a{
		color: #333;
		padding: 15px 56px;
		display: block;
		height: 50px;
		margin-right: 26px;
		background: url('.././img/sp/icon_arrow.png') no-repeat;
		background-size: 7px 12px;
		background-position: center right;
		&.c-aParent{
			color: #003567;
			height: 60px;
			display: block;
			padding: 17px 20px;
			background: url('.././img/sp/icon_arrow-circle.png') no-repeat;
			background-size: 20px 20px;
			background-position: center right;
			margin-right: 20px;
		}
	}
	.c-icon-menu{
		padding-right: 8px;
		img{
			vertical-align: middle;
		}
	}
}