@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	min-width: 1080px;
}

.container {
	margin: 0 auto;
	width: 1080px;
	text-align: left;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	position: relative;
	border-bottom: solid 1px #cecece;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	@include cf;
	ul{
		float: right;
		margin-top: 6px;
		border-right: solid 1px $gray-ce;
	}
	li {
		float: left;
		a {
			padding: 0 24px 5px;
			display: block;
			text-decoration: none;
			text-align: center;
			border-left: solid 1px $gray-ce;
		}
	}
}
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	.footer-1{
		background: url('../img/common/img-footer.jpg');
	  width: 100%;
	  height: 108px;
	  background-size: cover;
	  background-repeat: no-repeat;
	}
	.footer-2{
		font-size: 1.2rem;
		background: #003c7f;
		color: $white;
		position: relative;
		padding: 40px 0;
		.logo{
			float: left;
			border-right: solid 1px $white;
			width: 426px;
			p{
				padding-top: 15px;
			}
		}
		.contact{
			float: left;
			padding-left: 25px;
			img{
				margin: 8px 0;
			}
		}
		.nav-ft{
			width: 330px;
			float: right;
			font-size: 1.4rem;
			.nav-item{
				float: left;
				width: 33%;
				a{
					color: $white;
					&:hover{
						color: #3b75b5;
						transition: color .25s;
					}
				}
				&:first-child{
					width: 34%;
				}
			}
			img{
				margin-top: 5px;
			}
		}
	}
	.footer-3{
		color: #608fbf;
		font-size: 1.2rem;
		background: #002f64;
		padding: 10px 0;
	}
}