@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
.hidden{
	visibility: hidden;
}
/*------------------------------------------------------------
	hover effect
------------------------------------------------------------*/
/* hover change display */
.hover-change img:last-child{
	display: none;
}
.hover-change:hover img{
	&:first-child{
		display: none;
	}
	&:last-child{
		display: inline-block;
	}
}
/* hover change display with opacity*/
.hover-change-opacity{
	 position: relative;
	 display: inline-block;
	 img.hoverImg{
		 	position: absolute;
		  top: 0;
		  right: 0;
		  left: 0;
		  bottom: 0;
		  opacity: 0;
		  -web-kit-transition: opacity .5s;
		 	transition: opacity .5s;
	 }
	 &:hover img{
		 	opacity: 0;
		 	-web-kit-transition: opacity .5s;
		 	transition: opacity .5s;
	 }
	 &:hover img.hoverImg{
		 	opacity: 1;
	 }
}
/* hover border effect*/
.hover-border{
  position: relative;
  &:after{
		content: "";
	  position: absolute;
		background: #009fbb;
		height: 4px;
		left: 50%;
	  right: 50%;
	  top: 37px;
	  transition-property: left, right;
	  transition-duration: 0.3s;
	  transition-timing-function: ease-out;
	}
	&:hover:after,
	&:focus:after{
	  	left: 3px;
	  	right: 3px;
	  }
}
/* for page is open*/
.is-open{
	position: relative;
	&:after{
		content: "";
	  position: absolute;
		background: #009fbb;
		height: 4px;
		left: 3px;
	  right: 3px;
	  top: 37px;
	}
}
/*------------------------------------------------------------
	Animation
------------------------------------------------------------*/
/* Fading animation */
.appear{
	opacity: 0;
}
.scroll-appear{
	opacity: 1;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}
