@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head{
	background: url('../img/business/bg_business.jpg');
  background-size: cover;
  background-position: bottom center;
}
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-business-1{
	margin-bottom: 80px;
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-business-2{
	margin-bottom: 80px;
}
/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-business-3{
	margin-bottom: 120px;
	.biz{
		.content{
			width: 100%;
		}
		.image{
			display: none;
		}
	}
}
/*------------------------------------------------------------
	block of 1 bisuness
------------------------------------------------------------*/
.biz{
	border: solid 1px #009fbb;
	padding: 36px;
	.content{
		width: 540px;
		float: left;
		.title-section{
			font-size: 2rem;
			color: #025995;
			span{
				color: #009fbb;
			}
		}
		.text{
			font-size: 1.4rem;
		}
	}
	.image{
		float: right;
		text-align: right;
	}
}