@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head{
	background: url('../img/case/bg_case.jpg');
  	background-size: cover;
}
/*------------------------------------------------------------
	section seclect case
------------------------------------------------------------*/
.button-case{
	text-align: center;
	button{
		margin: 0 20px;
		cursor: pointer;
	}
}
/*------------------------------------------------------------
	block of 1 case
------------------------------------------------------------*/
.case-block{
	margin-bottom: 80px;
	.type{
		color: #025995;
		font-size: 2rem;
		padding: 12px 16px;
		background: #e1f0fa;
	}
	.content{
		margin-top: 30px;
		@extend %cf;
		.image{
			width: 430px;
			float: left;
		}
		.info{
			font-size: 1.3rem;
			float: right;
			table{
				width: 570px;
				border-top: solid 1px #d4d4d4;
				border-spacing: 0;
			}
			th{
				color: #025995;
				padding: 18px 0 18px 28px;
				border-bottom: solid 1px #d4d4d4;
			}
			td{
				border-bottom: solid 1px #d4d4d4;
			}
		}
	}
}
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-case-1{
	margin-bottom: 76px;
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-case-2{
	margin-bottom: 128px;
	.case-type{
		color: #025995;
		font-size: 2.3rem;
		padding-bottom: 10px;
		border-bottom: solid 1px $primary;
		margin-bottom: 60px;
	}
}