@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Top navigator
------------------------------------------------------------*/
.top-nav{
	background: $primary;
	color: $white;
	height: 47px;
	padding-top: 10px;
	h1 {
		padding-top: 6px;
		font-size: 1.2rem;
		font-weight: normal;
		float: left;
	}
	.contact{
		float: right;
		.tel{
			float: left;
			margin-right: 17px;
		}
		.email{
			float: right;
		}
	}
}
.main-nav{
	height: 72px;
	padding-top: 15px;
	.logo{
		float: left;
	}
}
/*------------------------------------------------------------
	Banner and title on each page
------------------------------------------------------------*/
.banner-head{
  width: 100%;
  height: 276px;
  margin-bottom: 120px;
}
.title-head{
	text-align: center;
	padding-top: 110px;
}
/*------------------------------------------------------------
	Button back to top
------------------------------------------------------------*/
.btn-top{
	position: absolute;
	right: 30px;
	bottom: 40px;
	background: transparent;
	cursor: pointer
}
/*------------------------------------------------------------
	title for each section
------------------------------------------------------------*/
.title-section{
	margin-bottom: 30px;
}
/*------------------------------------------------------------
	table
------------------------------------------------------------*/
.table-common{
	background: $white;
	border-top: solid 1px #d4d4d4;
	border-spacing: 0;
	width: 100%;
	th, td{
		padding: 24px 0 24px 40px;
		border-bottom: solid 1px #d4d4d4;
	}
	th{
		background-color: #e7f5ff;
		color: #0361a7;
		width: 215px;
	}
}