@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head{
	background: url('../img/company/bg_company.jpg');
  background-size: cover;
}
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-company-1{
	font-size: 1.4rem;
	margin-bottom: 80px;
	.greeting{
		p{
			padding-bottom: 16px;
		}
		.sign{
			padding: 38px 0;
		}
	}
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-company-2{
	padding: 80px 0 66px;
	margin-bottom: 80px;
	background: $bg-section;
	font-size: 1.4rem;
}
/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-company-3{
	margin-bottom: 75px;
	.staff{
		width: 250px;
		float: left;
		&-avt{
			width: 240px;
			border: solid 1px #d4d4d4;
			padding: 4px;
		}
		&-name{
			font-size: 1.4rem;
			text-align: center;
			padding-top: 10px;
		}
	}
	.row{
		margin-bottom: 55px;
		.staff{
			margin-left: 26px;
		}
		.staff:first-child{
			margin-left: 0;
		}
	}
}
/*------------------------------------------------------------
	section 4
------------------------------------------------------------*/
.p-company-4{
	background: $bg-section;
	padding: 80px 0 140px;
}