@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head{
	background: url('../img/contact/bg_contact.jpg');
	background-size: cover;
	background-position: bottom center;
}
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-contact-1{
	font-size: 1.4rem;
	margin-bottom: 66px;
}
/*------------------------------------------------------------
	section 2 form
------------------------------------------------------------*/
.p-contact-2{
	font-size: 1.4rem;
	margin-bottom: 52px;
	padding: 80px 0;
	background: $bg-section;
}
/*contact form*/
.ct-form{
	margin-top: 55px;
	.field{
		margin-bottom: 8px;
		&:last-child{
			margin-top: 20px;
		}
		#zipcode{
			width: 135px;
			margin: 0 10px;
		}
		#add-city,
		#add-number{
			float: right;
			margin-top: 8px;
		}
		#aCompany{
			margin-left: 70px;
		}
		#textContent{
			float: right;
			margin-top: 8px;
			height: 151px;
		}
	}
	label{
		display: inline-block;
		width: 157px;
		color: #0361a7;
	}
	.label-radBtn{
		width: auto;
		color: $black;
	}
	input{
		padding: 18px;
		border: solid 1px #eaeaea;
		width: 843px;
		&::placeholder{
			color: #b6b6b6;
		}
	}
	input[type=radio]{
		width: auto;
	}
	.select-custom{
		width: 180px;
		select{
			width: 180px;
			height: 53px;
			padding: 16px 0 16px 18px;
			border: solid 1px #eaeaea;
			background: $white url('../img/contact/icon_select.png');
			background-repeat: no-repeat;
			background-position:  right 10px center;
			-webkit-appearance: none;
			appearance: none;
		}
	}
	textarea{
		border: solid 1px #eaeaea;
		width: 850px;
		padding: 18px;
		resize: none;
	}
	.require{
		color: $white;
		padding: 3px 6px;
		margin-right: 32px;
	}
	.yes{
		background: #0362a8;
	}
	.no{
		background: #8c8b8b;
	}
}
/*------------------------------------------------------------
	section 3 button
------------------------------------------------------------*/
.p-contact-3{
	margin-bottom: 65px;
}
.button-1,
.button-2{
	text-align: center;
}
.button-1{
	margin-bottom: 8px;
}
.button-2{
	button{
		margin: 0 4px;
	}
}