@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner{
	background: url('../img/home/main_img1.jpg');
	width: 100%;
	height: 756px;
	background-size: cover;
	margin-bottom: 100px;
	h2{
		padding-top: 90px;
	}
}
.content-block{
	width: 100%;
	height: 353px;
	.content{
		width: 471px;
		float: left;
		font-size: 1.4rem;
		h3{
			padding-bottom: 20px;
		}
		.text{
			padding-bottom: 50px;
		}
	}
	.image{
		position: absolute;
		right: 0;
		width: 50%;
		height: 353px;
	}
}
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-index-1{
	background: #e7f5ff;
	padding: 49px 0 23px;
	margin-bottom: 110px;
}
.news-block{
	.news-title{
		float: left;
		width: 180px;
		h4{
			margin-bottom: 15px;
		}
	}
	.news-list{
		margin-left: 70px;
		float: left;
		font-size: 1.3rem;
		p{
			padding-bottom: 21px;
			a{
				&:hover{
					color: #a8a8a8;
					text-decoration: underline;
					transition: all .25s;
				}
			}
		}
		.date{
			margin-right: 45px;
			color: #0361a7;
		}
	}
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-index-2{
	position: relative;
	margin-bottom: 80px;
	.content-block{
		.image{
			background: url('../img/home/img-block-1.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-index-3{
	position: relative;
	margin-bottom: 80px;
	background: #f5f5f5;
	padding: 80px 0;
	.content-block{
		.content{
			float: right;
			h3{
				padding-bottom: 20px;
			}
			.text{
				padding-bottom: 82px;
			}
		}
		.image{
			left: 0;
			background: url('../img/home/img-block-2.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
/*------------------------------------------------------------
	section 4
------------------------------------------------------------*/
.p-index-4{
	position: relative;
	margin-bottom: 128px;
	.content-block{
		.content{
			.text{
				padding-bottom: 84px;
			}
		}
		.image{
			background: url('../img/home/img-block-3.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}