@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner heading
------------------------------------------------------------*/
.banner-head{
	background: url('../img/recruit//bg_recuit.jpg');
  background-size: cover;
  background-position: bottom center;
}
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-recruit-1{
	margin-bottom: 88px;
	.content{
		font-size: 1.4rem;
		float: left;
		h3{
			padding-bottom: 17px;
		}
	}
	.image{
		float: right;
	}
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-recruit-2{
	padding: 75px 0;
	font-size: 1.4rem;
	background: $bg-section;
	margin-bottom: 80px;
}
/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-recruit-3{
	margin-bottom: 130px;
	.contact{
		position: relative;
		background: url('../img/recruit//bg_bottom.jpg');
		background-size: cover;
		width: 100%;
		height: 244px;
	}
	.btn-mail{
		position: absolute;
		bottom: 45px;
    left: 40px;
	}
}