@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  color: #000;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table, tr, th {
  font-weight: normal;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/* text decoration */
.t-under {
  text-decoration: underline;
}

.break-line:before {
  content: '\A';
  white-space: pre;
}

.hight-light {
  font-weight: bold;
  color: #0f5c9b;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mAuto {
  margin: auto !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	hover affect
------------------------------------------------------------*/
/* hover change image */
.hover-show img:last-child {
  display: none;
}

.hover-show:hover img:first-child {
  display: none;
}

.hover-show:hover img:last-child {
  display: inline-block;
}

/* hover opacity */
.hover-opa:hover {
  opacity: 0.7;
}

/*------------------------------------------------------------
	For display or not on PC and SP
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 736px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 736px) {
  .sp-only {
    display: block;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html, body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  width: 100%;
  min-width: 960px;
}

@media (max-width: 736px) {
  html, body {
    width: 100%;
    min-width: 320px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 950px;
}

@media (max-width: 736px) {
  .container {
    width: 100%;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  background-color: #ffffff;
  position: relative;
  border-top: 4px solid #0f5c9b;
}

@media (max-width: 736px) {
  #header {
    padding: 0 10px;
    border-top: 5px solid #0f5c9b;
  }
}

#header .top-nav {
  margin-top: 14px;
  position: relative;
}

@media (max-width: 736px) {
  #header .top-nav {
    padding-bottom: 11px;
    margin-top: 10px;
  }
}

#header .logo {
  width: 272px;
  float: left;
  padding-left: 7px;
}

#header .contact {
  width: 678px;
  float: left;
  padding-top: 17px;
}

#header .contact-phone {
  width: 221px;
  float: left;
  margin-left: 175px;
  padding-top: 2px;
}

#header .contact-phone p {
  padding-top: 6px;
  text-indent: 5px;
}

#header .contact-email {
  float: right;
  width: 259px;
  font-size: 1.4rem;
}

#header .contact-email .c-email {
  padding: 12px 18px 10px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-top: 20px;
}

#gNavi li {
  float: left;
  list-style: none;
  cursor: pointer;
  width: 145px;
}

#gNavi li a {
  padding: 5px 0px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-left: solid 1px #dddddd;
}

#gNavi li div.border {
  border-bottom: solid 4px #dddddd;
  visibility: hidden;
  margin-top: 16px;
}

#gNavi li:hover div.border {
  visibility: visible;
}

#gNavi li:last-child {
  width: 370px;
}

#gNavi li:last-child a {
  border-right: solid 1px #dddddd;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  padding: 10px 0;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer .footer-1 {
  background-image: url("../img/background-footer.jpg");
  background-color: #0f5c9b;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  height: 358px;
  width: 100%;
  padding: 60px 0;
  position: relative;
}

@media (max-width: 736px) {
  #footer .footer-1 {
    padding: 35px 20px;
    background-image: url("../img/smp/bg_footer_sp.png");
    background-color: #0f5c9b;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center right;
    height: 348px;
    width: 100%;
  }
}

#footer .footer-1 .text {
  font-size: 1.6rem;
  padding-top: 85px;
  color: #ffffff;
}

#footer .footer-1 .text span {
  color: #ffed4d;
}

@media (max-width: 736px) {
  #footer .footer-1 .text {
    font-size: 1.4rem;
    padding-top: 50px;
  }
}

#footer .footer-1 .contact-ft {
  padding-top: 35px;
}

@media (max-width: 736px) {
  #footer .footer-1 .contact-ft {
    padding-top: 22px;
  }
}

#footer .footer-1 .contact-ft-phone {
  width: 260px;
  float: left;
  color: #ffffff;
  margin-left: 202px;
  font-size: 1.2rem;
}

#footer .footer-1 .contact-ft-phone p {
  padding-top: 8px;
}

@media (max-width: 736px) {
  #footer .footer-1 .contact-ft-phone {
    width: 100%;
    margin-left: 0;
    font-size: 1rem;
  }
  #footer .footer-1 .contact-ft-phone p {
    padding-top: 3px;
  }
}

#footer .footer-1 .contact-ft-email {
  float: left;
  font-size: 1.6rem;
  margin-left: 58px;
}

#footer .footer-1 .contact-ft-email .c-email {
  padding: 14px 20px 10px;
}

@media (max-width: 736px) {
  #footer .footer-1 .contact-ft-email .c-email {
    padding: 13px 0 9px;
  }
}

@media (max-width: 736px) {
  #footer .footer-1 .contact-ft-email {
    width: 100%;
    font-size: 1.3rem;
    margin-left: 0;
    margin-top: 16px;
    padding: 0 14px;
  }
}

#footer .footer-2 {
  font-size: 1.4rem;
  background: #cccccc;
  padding: 40px 0;
}

#footer .footer-2 a {
  padding: 0 20px;
  border-left: solid 1px #000000;
}

#footer .footer-2 a:last-child, #footer .footer-2 a:nth-child(5) {
  border-right: solid 1px #000000;
}

@media (max-width: 736px) {
  #footer .footer-2 a {
    padding: 0 10px;
  }
  #footer .footer-2 a:nth-child(8):before {
    content: '\A';
    white-space: pre;
  }
}

@media (max-width: 736px) {
  #footer .footer-2 {
    width: 100%;
    font-size: 1rem;
    padding: 19px 28px;
  }
}

#footer .footer-3 {
  font-size: 1.4rem;
  padding: 15px 0;
}

@media (max-width: 736px) {
  #footer .footer-3 {
    font-size: 1rem;
    padding: 13px 0;
  }
}

/*------------------------------------------------------------
	Smartphone navigator
------------------------------------------------------------*/
.c-sp-nav {
  width: 100%;
  height: 100%;
  background: #0f5c9b;
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;
  z-index: 99;
  display: none;
}

.c-sp-nav ul {
  padding: 30px 25px;
}

.c-sp-nav li {
  border-top: dotted 1px #ffffff;
  padding: 15px 0;
  position: relative;
}

.c-sp-nav li:last-child {
  border-bottom: dotted 1px #ffffff;
}

.c-sp-nav a {
  color: #ffffff;
  padding-left: 10px;
}

.c-sp-nav a:before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffffff;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-main-title {
  background-image: url("../img/bg-tv.jpg");
  background-color: #0f5c9b;
  background-blend-mode: multiply;
  height: 160px;
  background-repeat: no-repeat;
  background-position: right center;
  text-align: center;
  font-size: 2.8rem;
  color: #ffffff;
}

@media (max-width: 736px) {
  .c-main-title {
    background-image: url("../img/smp/tv/bg-tv-sp.jpg");
    background-color: #0f5c9b;
    background-blend-mode: multiply;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
}

.c-main-title h2 {
  padding-top: 65px;
}

@media (max-width: 736px) {
  .c-main-title h2 {
    padding-top: 44px;
  }
}

.c-title-border {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

/*------------------------------------------------------------
	Breadcrum
------------------------------------------------------------*/
.c-pagePath {
  font-size: 1.2rem;
  border-bottom: solid 1px #dddddd;
}

.c-pagePath li a {
  color: #0f5c9b;
  text-decoration: underline;
}

.c-pagePath li + li:before {
  content: "\003e";
  margin-right: 2px;
}

/*------------------------------------------------------------
	Email contact
------------------------------------------------------------*/
.c-email {
  font-weight: bold;
  color: #fd7e00;
  background-color: #ffed4d;
  cursor: pointer;
}

.c-email span {
  padding-right: 9px;
}

/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
.c-table {
  font-size: 1.6rem;
}

@media (max-width: 736px) {
  .c-table {
    font-size: 1.4rem;
  }
}

.column {
  border: solid 1px #dddddd;
  height: 188px;
}

@media (max-width: 736px) {
  .column {
    width: 100%;
    height: auto;
  }
}

.column:first-child {
  width: 258px;
  float: left;
}

@media (max-width: 736px) {
  .column:first-child {
    width: 100%;
    height: auto;
  }
}

.column:nth-child(2) {
  width: 218px;
  float: left;
}

@media (max-width: 736px) {
  .column:nth-child(2) {
    width: 100%;
    height: auto;
  }
}

.column:last-child {
  width: 474px;
  float: left;
}

@media (max-width: 736px) {
  .column:last-child {
    width: 100%;
    height: auto;
  }
}

.column-title {
  color: #ffffff;
  background: #0f5c9b;
  padding: 10px 0;
}

@media (max-width: 736px) {
  .column-title {
    padding: 9px 0;
  }
}

.column-content {
  padding: 20px 18px;
}

@media (max-width: 736px) {
  .column-content {
    padding: 8px 16px;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn-menu {
  cursor: pointer;
  background: #0f5c9b;
  border-radius: 5px;
  padding: 10px;
  visibility: hidden;
}

@media (max-width: 736px) {
  .c-btn-menu {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.c-btn-menu .bar1, .c-btn-menu .bar2, .c-btn-menu .bar3 {
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 3px);
          transform: rotate(-45deg) translate(-5px, 3px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.change .bar2 {
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
          transform: rotate(45deg) translate(-5px, -4px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.c-btn-top {
  position: fixed;
  bottom: 200px;
  right: 15px;
  width: 80px;
  height: 80px;
  background: #ffffff;
  cursor: pointer;
  display: none;
}

.c-btn-top:hover {
  background: #0f5c9b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 736px) {
  .c-btn-top {
    display: none;
    visibility: hidden;
  }
}

/*------------------------------------------------------------
	For not support IE
------------------------------------------------------------*/
@supports not (mix-blend-mode: multiply) {
  .footer-1:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 72, 144, 0.78)));
    background: -webkit-linear-gradient(rgba(11, 72, 144, 0.78));
    background: linear-gradient(rgba(11, 72, 144, 0.78));
    top: 0;
    left: 0;
  }
  .footer-1 .text {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .footer-1 .contact-ft {
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
