/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 421px;
  width: 100%;
  position: relative;
}

@media (max-width: 736px) {
  .banner {
    width: 100%;
    background: url("../img/smp/index/bg-sp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 100%;
  }
}

.banner .c-title-border {
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
}

@media (max-width: 736px) {
  .banner .c-title-border {
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -43%);
            transform: translate(-50%, -43%);
  }
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-index-1 {
  padding: 80px 0;
}

@media (max-width: 736px) {
  .p-index-1 {
    padding: 25px 17px;
  }
}

.p-index-1 .list-block {
  width: 100%;
  border: solid 1px #dddddd;
  padding: 30px 0;
}

@media (max-width: 736px) {
  .p-index-1 .list-block {
    width: 100%;
    padding: 11px 0 22px;
  }
}

.p-index-1 .list-block .news-title {
  width: 240px;
  float: left;
  border-right: solid 1px #dddddd;
}

.p-index-1 .list-block .news-title h3 {
  padding-top: 8px;
  padding-bottom: 15px;
}

@media (max-width: 736px) {
  .p-index-1 .list-block .news-title {
    width: 100%;
    border-right: none;
  }
}

.p-index-1 .list-block .news-list {
  font-size: 1.6rem;
  float: left;
  line-height: 2;
  padding-left: 40px;
}

@media (max-width: 736px) {
  .p-index-1 .list-block .news-list {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 0 13px;
    margin-bottom: 18px;
  }
  .p-index-1 .list-block .news-list p {
    padding: 8px 4px;
    border-top: dotted 2px #dddddd;
  }
  .p-index-1 .list-block .news-list p:last-child {
    border-bottom: dotted 2px #dddddd;
  }
}

.p-index-1 .list-block .news-list .date {
  color: #0e5b9a;
}

@media (max-width: 736px) {
  .p-index-1 .list-block .news-list .date:after {
    content: '\A';
    white-space: pre;
  }
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-index-2 {
  background: #eeeeee;
  font-size: 1.6rem;
  padding: 60px 0 70px;
}

@media (max-width: 736px) {
  .p-index-2 {
    font-size: 1.4rem;
    padding: 36px 14px;
  }
}

.p-index-2 .text {
  padding: 35px 0 57px;
}

@media (max-width: 736px) {
  .p-index-2 .text {
    padding: 16px 0 25px;
  }
}

.p-index-2 .icon {
  width: 100%;
}

.p-index-2 .icon-inner {
  width: 33.33%;
  float: left;
}

@media (max-width: 736px) {
  .p-index-2 .icon-inner a img:first-child,
  .p-index-2 .icon-inner a img:last-child {
    display: none;
  }
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-index-3 {
  padding-top: 22px;
}

.p-index-3 .image {
  width: 450px;
  margin-left: -57px;
  float: left;
}

@media (max-width: 736px) {
  .p-index-3 .image {
    width: 100%;
    margin: auto;
    margin-left: -18px;
    margin-top: -13px;
  }
}

.p-index-3 .content {
  float: right;
  font-size: 1.6rem;
  padding-right: 23px;
  padding-top: 64px;
}

@media (max-width: 736px) {
  .p-index-3 .content {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    padding: 0;
  }
}

.p-index-3 .content .text {
  padding: 32px 0 22px;
}

@media (max-width: 736px) {
  .p-index-3 .content .text {
    padding: 20px 10px 25px 10px;
  }
}
