/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-service-1 {
  padding: 65px 0 82px;
}

@media (max-width: 736px) {
  .p-service-1 {
    padding: 28px 14px 40px;
  }
}

.p-service-1 h3 {
  font-size: 2.6rem;
}

@media (max-width: 736px) {
  .p-service-1 h3 {
    font-size: 1.8rem;
  }
}

.p-service-1 .line {
  margin-top: 13px;
}

.p-service-1 .text {
  font-size: 1.6rem;
  padding: 44px 0 42px;
}

@media (max-width: 736px) {
  .p-service-1 .text {
    font-size: 1.4rem;
    padding: 16px 0;
  }
}

/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-service-2 {
  background: #eeeeee;
  padding: 68px 0 60px;
}

@media (max-width: 736px) {
  .p-service-2 {
    padding: 35px 15px 10px;
  }
}

.p-service-2 h3 {
  font-size: 2.6rem;
}

@media (max-width: 736px) {
  .p-service-2 h3 {
    font-size: 1.8rem;
  }
}

.p-service-2 .line {
  margin-top: 13px;
  margin-bottom: 45px;
}

@media (max-width: 736px) {
  .p-service-2 .line {
    margin-bottom: 16px;
  }
}

.p-service-2 .block-sv {
  background: #ffffff;
  padding: 25px;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv {
    padding: 12px 5px 15px;
    margin-bottom: 15px;
  }
}

.p-service-2 .block-sv .content-sv {
  float: left;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv {
    padding: 0 10px;
    width: 100%;
  }
}

.p-service-2 .block-sv .content-sv .name-sv {
  color: #0f5c9b;
  font-size: 1.8rem;
  font-weight: bold;
}

.p-service-2 .block-sv .content-sv .name-sv .number {
  display: none;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .name-sv .number {
    display: inline-block;
  }
}

.p-service-2 .block-sv .content-sv .name-sv span {
  display: none;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .name-sv span {
    display: inline-block;
    padding-left: 10px;
  }
}

.p-service-2 .block-sv .content-sv .text {
  font-size: 1.6rem;
  padding-top: 26px;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .text {
    font-size: 1.4rem;
    padding: 13px 0;
  }
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .text .break-line:before {
    content: '';
  }
}

.p-service-2 .block-sv .content-sv .contact {
  padding-top: 31px;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .contact {
    padding: 0;
  }
}

.p-service-2 .block-sv .content-sv .contact .phone-sv {
  float: left;
  border: solid 1px #0f5c9b;
  padding: 3px 35px 0;
  color: #0f5c9b;
  font-size: 1rem;
}

.p-service-2 .block-sv .content-sv .contact .phone-sv p {
  padding-top: 6px;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .contact .phone-sv {
    width: 100%;
    padding: 7px 0 4px;
  }
}

.p-service-2 .block-sv .content-sv .contact .email-sv {
  float: left;
  font-size: 1.6rem;
  padding-left: 15px;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .contact .email-sv {
    width: 100%;
    font-size: 1.3rem;
    padding: 10px 0 21px;
  }
}

.p-service-2 .block-sv .content-sv .contact .email-sv .c-email {
  padding: 16px 18px 10px;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .content-sv .contact .email-sv .c-email {
    padding: 10px 20px;
  }
}

.p-service-2 .block-sv .image-sv {
  width: 280px;
  float: right;
}

@media (max-width: 736px) {
  .p-service-2 .block-sv .image-sv {
    width: 100%;
    padding: 0 10px;
  }
  .p-service-2 .block-sv .image-sv img {
    width: 100%;
  }
}

/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-service-3 {
  padding: 63px 0 75px;
}

@media (max-width: 736px) {
  .p-service-3 {
    padding: 24px 15px 30px;
  }
}

.p-service-3 .text {
  font-size: 1.6rem;
  padding-top: 100px;
  line-height: 1.4;
}

@media (max-width: 736px) {
  .p-service-3 .text {
    padding: 46px 20px 0;
    font-size: 1.4rem;
  }
}

.p-service-3 .text span {
  color: #0f5c9b;
  font-size: 2.2rem;
}

@media (max-width: 736px) {
  .p-service-3 .text span {
    font-size: 1.9rem;
  }
}
