@charset "UTF-8";
/*******************************
- Index page
********************************/

/* Section 1 */
.p-index-1{
	padding-top: 80px;
	padding-bottom: 16px;
	@include sp{
		padding-top: 30px;
		padding-bottom: 0;
	}
	//-------------------------------------------------------
	&__block{
		display: flex;
		justify-content: space-between;
		padding-bottom: 60px;
		@include sp{
			display: block;
			padding-bottom: 30px;
		}
	}
}

/* Section 2 */
.p-index-2{
	padding-bottom: 42px;
	@include sp{
		padding-bottom: 30px;
	}
	//-------------------------------------------------------
	.l-container{
		display: flex;
		justify-content: space-between;
		@include sp{
			display: block;
		}
	}
	//-------------------------------------------------------
	&__block{
		width: 430px;
		@include sp{
			width: 100%;
		}
	}
	//-------------------------------------------------------
	.c-list-blog{
		li{
			&:nth-last-child(2){
				text-align: center;
			}
		}
	}
}