@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/

/* For IE 10++
------------------------------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html, body{
		line-height: 1.5;
		min-width: 1200px;
		background: #fff;
		height: 100%;
	}
	//-------------------------------------------------------
	.header{
		width: 220px;
	}
	//-------------------------------------------------------
	.main{
		width: 90%;
		float: right;
		background: #fff
	}
	//-------------------------------------------------------
	.footer{
		width: 90%;
		float: right;
	}
}

/* Other browsers
------------------------------------------------------------*/
html, body {
	line-height: 1.5;
	min-width: 1200px;
	background: #fff;
	height: 100%;
	overflow-x: hidden;
}
//-------------------------------------------------------
.l-container {
	margin: 0 auto;
	width: 960px;
}
//-------------------------------------------------------
.l-side{
	padding: 0 20px;
}

/* Header
------------------------------------------------------------*/
.header {
	position: fixed;
	height: 100%;
	width: 220px;
	background: #1085b0;
	z-index: 1;
    top: 0;
    left: 0;
    //-------------------------------------------------------
	.c-logo{
		padding-top: 20px;
		background: #fff;
		height: 130px;
	}
	//-------------------------------------------------------
	hr{
		border-bottom: solid 1px #269eca;
		margin: 20px 0;
	}
	//-------------------------------------------------------
	h1 {
		font-size: 1.1rem;
		font-weight: normal;
	}
	//-------------------------------------------------------
	.c-contact{
		padding-top: 20px;
		height: 198px;
		background: #269eca;
		position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 220px;
		p{
			padding-bottom: 15px;
		}
		a{
			margin: 5px 0;
			display: block;
		}
	}
}

/* Navi
------------------------------------------------------------*/
#gNavi {
	padding-top: 20px;
	//-------------------------------------------------------
	li {
		width: 100%;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
			font-size: 1.7rem;
			color: #fff;
			transition: all .25s;
			&:hover{
				background: #269eca;
			}
		}
	}
	//-------------------------------------------------------
	img{
		vertical-align: middle;
	}
}

/* Breadcrumbs
------------------------------------------------------------*/
.pagePath {
	margin-top: 27px;
	margin-bottom: 40px;
	font-size: 12px;
	//-------------------------------------------------------
	li {
		display: inline;
		&+li:before{
			content: '>';
			margin: 0 4px;
		}
		a {
			color: #006699;
			border-bottom: solid 1px #006699;
		}
	}
}

/* Main
------------------------------------------------------------*/
.main {
	margin-left: 220px;
}

/* Footer
------------------------------------------------------------*/
.footer {
	margin-left: 220px;
	//-------------------------------------------------------
	&__1{
		padding: 40px 0;
		background: #269eca;
		color: #fff;
		font-size: 12px;
		.c-logo-ft{
			float: left;
			p{
				padding-top: 20px;
			}
		}
		.c-contact-ft{
			width: 180px;
			float: left;
			margin-left: 40px;
			a:first-child{
				margin-bottom: 4px;
				display: block;
			}
		}
		.c-nav-ft{
			float: left;
			margin-left: 40px;
			ul{
				display: inline-block;
				vertical-align: top;
				margin-right: 30px;
			}
			li{
				position: relative;
				&:before{
					content: '';
					background: url('../img/common/arrow-menu.png') no-repeat;
					position: absolute;
					width: 7px;
					height: 10px;
					top: 4px;
					left: 0;
				}
			}
			a{
				color: #fff;
				font-size: 13px;
				padding-left: 12px;
			}
		}
		.btn-backTop{
			float: right;
		}
	}
	//-------------------------------------------------------
	&__2{
		text-align: center;
		font-size: 12px;
		color: #666666;
		padding: 15px 0;
	}
}