@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Business
------------------------------------------------------------*/
.c-pagetitle{
	background: url('../img/buniness/bg_business.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
/* section
------------------------------------------------------------*/
.p-business-1{
	padding-bottom: 40px;
	.c-imgbox{
		padding-bottom: 40px;
		&__image{
			width: 360px;
		}
		&__content{
			width: 570px;
			h3{
				color: #269eca;
				font-size: 20px;
			}
			p{
				color: #333333;
			}
		}
	}
}