@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

/*------------------------------------------------------------
	Page title
------------------------------------------------------------*/
.c-pagetitle{
	width: 100%;
	height: 300px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*------------------------------------------------------------
	Title section
------------------------------------------------------------*/
.c-section-title{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin-top: 74px;
	margin-bottom: 40px;
	//-------------------------------------------------------
	&:before{
		content: '';
		width: 60px;
		height: 4px;
		border-top: solid 4px #269eca;
		position: absolute;
		top: -30px;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	}
}

/*------------------------------------------------------------
	Image box
------------------------------------------------------------*/
.c-imgbox{
	@extend %cf;
	//-------------------------------------------------------
	&__image{
		float: left;
		margin-right: 20px;
	}
	//-------------------------------------------------------
	&__content{
		float: left;
		h2, h3, h4, h5, h6{
			font-size: 22px;
			padding-bottom: 20px;
			.en{
				font-size: 15px;
				padding-left: 16px;
			}
		}
		p{
			font-size: 14px;
			padding-bottom: 20px;
		}
	}
	//-------------------------------------------------------
	&__title{
		h2, h3, h4, h5, h6{
			font-size: 20px;
			color: #269eca;
		}
	}
}

/* Image box 2
------------------------------------------------------------*/
.c-imgbox2{
	width: 300px;
	float: left;
	//-------------------------------------------------------
	&__image{
		height: 300px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			background: url('../img/works/icon_zoom.png') no-repeat;
			width: 50px;
			height: 51px;
			bottom: 0;
			right: 0;
			cursor: pointer;
		}
	}
	//-------------------------------------------------------
	&__content{
		text-align: center;
		h2, h3, h4, h5, h6{
			font-size: 20px;
			background: #269eca;
			color: #fff;
			padding: 14px 0;
		}
	}
	//-------------------------------------------------------
	&__text{
		background: #e0f4fc;
		padding: 17px 0;
		p{
			font-size: 14px;
		}
	}
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn{
	font-size: 14px;
	text-align: center;
	//-------------------------------------------------------
	&--more{
		display: inline-block;
		width: 212px;
		border: solid 1px #fff;
		color: #fff;
		background: transparent;
		transition: all 0.25s;
		text-transform: uppercase;
		position: relative;
		&:hover,
		&:active{
			background: #fff;
			color: #333333;
			&:after{
				background: url('../img/top/icon_arrow-hover.png') no-repeat;
			}
		}
		&:after{
			content: '';
			background: url('../img/top/icon_arrow.png') no-repeat;
			width: 8px;
			height: 12px;
			position: absolute;
			top: 10px;
			margin-left: 6px;
		}
	}
	//-------------------------------------------------------
	&--blue{
		color: #fff;
		background: #269eca;
		font-weight: bold;
		display: block;
		margin: auto;
		padding: 16px 0;
		transition: all 0.25s;
		position: relative;
		&:hover{
			opacity: 0.8;
		}
		&:after{
			content: '';
			background: url('../img/common/icon_arrow.png') no-repeat;
			width: 8px;
			height: 12px;
			position: absolute;
			top: 20px;
			margin-left: 20px;
		}
	}
}

/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
.c-table{
	text-align: left;
	font-size: 14px;
	padding: 0 130px;
	color: #333333;
	//-------------------------------------------------------
	table{
		width: 100%;
		border-collapse: collapse;
	}
	//-------------------------------------------------------
	th,td{
		border-top: 1px solid #dbdbdb;
		border-bottom: 1px solid #dbdbdb;
		padding: 20px;
	}
	//-------------------------------------------------------
	th{
		background: #e0f4fc;
		font-weight: normal;
		width: 180px;
	}
}