@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Company
------------------------------------------------------------*/
.c-pagetitle{
	background: url('../img/company/bg_company.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

/* Section 1
------------------------------------------------------------*/
.p-company-1{
	padding-bottom: 40px;
	//-------------------------------------------------------
	.c-table{
		margin-bottom: 40px;
	}
	//-------------------------------------------------------
	.c-btn{
		&--blue{
			width: 272px;
		}
		.icon-before,
		.icon-after{
			margin-top: 4px;
		}
		.icon-before{
			margin-right: 10px;
		}
		.icon-after{
			margin-left: 20px;
		}
	}
}
/* Section 2
------------------------------------------------------------*/
.p-company-2{
	font-size: 14px;
	padding-bottom: 80px;
	//-------------------------------------------------------
	.map{
		margin-bottom: 30px;
	}
	//-------------------------------------------------------
	.icon{
		padding-right: 15px;
	}
	//-------------------------------------------------------
	&__text{
		p:first-child{
			padding-bottom: 14px;
		}
		p:last-child{
			padding-top: 10px;
		}
	}
}