@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Contact
------------------------------------------------------------*/
.c-pagetitle{
	background: url('../img/contact/bg-contact.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
/* Section 1
------------------------------------------------------------*/
.p-contact-1{
	padding-bottom: 10px;
	//-------------------------------------------------------
	&__text{
		font-size: 14px;
		text-align: center;
		p{
			padding-bottom: 32px;
		}
	}
}
/* Section 2
------------------------------------------------------------*/
.p-contact-2{
	padding-bottom: 80px;
	//-------------------------------------------------------
	.c-table{
		th{
			width: 210px;
			vertical-align: text-top;
		}
	}
	//-------------------------------------------------------
	.c-btn{
		margin-top: 50px;
		width: 184px;
	}
	//-------------------------------------------------------
	select{
		border: solid 1px #dddddd;
		margin: 10px 0;
		font-size: 1.4rem;
		color: #757575;
		width: 150px;
	}
	//-------------------------------------------------------
	input{
		width: 420px;
		height: 29px;
		margin-bottom: 10px;
		border: solid 1px #dddddd;
		&::placeholder {
			font-size: 14px;
			color: #999999;
			padding-left: 10px;
		}
	}
	//-------------------------------------------------------
	input[type=number]{
		width: 150px;
	}
	//-------------------------------------------------------
	textarea{
		border: solid 1px #dddddd;
		width: 100%;
		padding: 18px;
		resize: none;
		height: 140px;
	}
	//-------------------------------------------------------
	.required{
		color: #fff;
		float: right;
		font-size: 11px;
	}
	//-------------------------------------------------------
	.yes:after{
		padding: 1px 5px;
		content: '必須';
		background: #cf3d3d;
	}
	//-------------------------------------------------------
	.no:after{
		padding: 1px 5px;
		content: '任意';
		background: #999999;
	}
}