@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Flow
------------------------------------------------------------*/
.c-pagetitle{
	background: url('../img/flow/bg_flow.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

/* section 1
------------------------------------------------------------*/
.p-flow-1{
	padding-bottom: 70px;
	//-------------------------------------------------------
	&__block{
		@extend %cf;
    	margin-bottom: 10px;
    	//-------------------------------------------------------
		.step{
			width: 78px;
			float: left;
		}
		//-------------------------------------------------------
		.c-imgbox{
			padding: 20px 0;
			border-bottom: dotted 1px #cccccc;
			float: left;
			width: 882px;
			&__title{
				padding-bottom: 40px;
			}
			&__image{
				width: 302px;
				margin-right: 30px;
			}
			&__content{
				width: 550px;
			}
		}
		//-------------------------------------------------------
		.contact{
			background: #269eca;
			width: 550px;
			height: 104px;
			display: flex;
			align-items: center;
			justify-content: center;
			a:first-child{
				margin-right: 10px;
			}
		}
	}
}