@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Index
------------------------------------------------------------*/
.banner-top{
	text-align: center;
	background: url('../img/top/bg_top.jpg') no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
	//-------------------------------------------------------
	h2{
		top: 45%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	  	position: absolute;
	}
	//-------------------------------------------------------
	.c-srcoll-icon{
		cursor: pointer;
		position: absolute;
	  	bottom: 80px;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	}
	//-------------------------------------------------------
	.c-news{
		height: 44px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: url('../img/top/bg_news.png') no-repeat center;
		&__inner{
			width: 960px;
			margin: auto;
			position: relative;
		}
		&__title{
			//background: #1085b0;
			float: left;
			width: 84px;
			padding: 14px 0;
		}
		&__news{
			font-size: 14px;
			padding: 13px 20px;
			float: left;
		}
		.date{
			padding-right: 20px;
		}
	}
}

/* Section
------------------------------------------------------------*/
.p-top{
	//-------------------------------------------------------
	.c-pagetitle{
		height: 230px;
		background: url('../img/top/bg_section_top.png') no-repeat;
		background-size: cover;
	}
}

/* Section 1
------------------------------------------------------------*/
.p-top-1{
	background: url('../img/top/bg_section1.png') no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 10px;
	//-------------------------------------------------------
	.l-container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 280px;
	}
	//-------------------------------------------------------
	.c-imgbox{
		width: 432px;
		&__image{
			width: 180px;
		}
		&__content{
			width: 220px;
			color: #fff;
		}
	}
	//-------------------------------------------------------
	.c-btn{
		&--more{
			padding: 6px 0;
		}
	}
}
/////////////////////////////////////////////////////////
//For style section 2 to section 4
/////////////////////////////////////////////////////////
@for $i from 2 through 4{
	/* Section #{$i}
	------------------------------------------------------------*/
	.p-top-#{$i} {
		background: url('../img/top/bg_section#{$i}.png') no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 10px;
		//-------------------------------------------------------
		.l-container{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 370px;
		}
		//-------------------------------------------------------
		.c-imgbox{
			width: 410px;
			&__content{
				color: #fff;
			}
		}
		//-------------------------------------------------------
		.c-btn{
			&--more{
				padding: 11px 0;
				&:after{
					top: 14px;
				}
			}
		}
	}
	@if $i == 3{
		.p-top-3{
			.l-container{
				justify-content: flex-start;
			}
		}
	}
}
/////////////////////////////////////////////////////////
// .p-top-2{
// 	//-------------------------------------------------------
// 	.l-container{
// 		display: flex;
// 		align-items: center;
// 		justify-content: flex-end;
// 		height: 370px;
// 	}
// 	//-------------------------------------------------------
// 	.c-imgbox{
// 		width: 410px;
// 		&__content{
// 			color: #fff;
// 		}
// 	}
// 	//-------------------------------------------------------
// 	.c-btn{
// 		&--more{
// 			padding: 11px 0;
// 			&:after{
// 				top: 14px;
// 			}
// 		}
// 	}
// }

// /* Section 3
// ------------------------------------------------------------*/
// .p-top-3{
// 	background: url('../img/top/bg_section3.png') no-repeat;
// 	background-position: center;
// 	background-size: cover;
// 	margin-bottom: 10px;
// 	//-------------------------------------------------------
// 	.l-container{
// 		display: flex;
// 		align-items: center;
// 		justify-content: flex-start;
// 		height: 370px;
// 	}
// 	//-------------------------------------------------------
// 	.c-imgbox{
// 		width: 410px;
// 		&__content{
// 			color: #fff;
// 		}
// 	}
// 	//-------------------------------------------------------
// 	.c-btn{
// 		&--more{
// 			padding: 11px 0;
// 			&:after{
// 				top: 14px;
// 			}
// 		}
// 	}
// }

// /* Section 4
// ------------------------------------------------------------*/
// .p-top-4{
// 	background: url('../img/top/bg_section4.png') no-repeat;
// 	background-position: center;
// 	background-size: cover;
// 	margin-bottom: 10px;
// 	//-------------------------------------------------------
// 	.l-container{
// 		display: flex;
// 		align-items: center;
// 		justify-content: flex-end;
// 		height: 370px;
// 	}
// 	//-------------------------------------------------------
// 	.c-imgbox{
// 		width: 410px;
// 		&__content{
// 			color: #fff;
// 		}
// 	}
// 	//-------------------------------------------------------
// 	.c-btn{
// 		&--more{
// 			padding: 11px 0;
// 			&:after{
// 				top: 14px;
// 			}
// 		}
// 	}
// }