@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Policy
------------------------------------------------------------*/
.c-pagetitle{
	background: url('../img/policy/bg_policy.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

/* Section 1
------------------------------------------------------------*/
.p-policy-1{
	padding-bottom: 18px;
	//-------------------------------------------------------
	&__text{
		font-size: 14px;
		text-align: center;
		p{
			padding-bottom: 32px;
		}
	}
}

/* Section 2
------------------------------------------------------------*/
.p-policy-2{
	padding-bottom: 20px;
	//-------------------------------------------------------
	.c-imgbox{
		position: relative;
		margin-bottom: 60px;
		$root: '.c-imgbox';
		//-------------------------------------------------------
		&__image{
			margin-right: 0;
		}
		//-------------------------------------------------------
		&__title{
			padding-bottom: 10px;
		}
		//-------------------------------------------------------
		&__content{
			width: 400px;
			height: 320px;
			background: #e0f4fc;
			padding: 40px;
			line-height: 28px;
			position: absolute;
			right: 0;
			top: 40px;
		}
		//-------------------------------------------------------
		&:nth-child(2){
			#{$root}__image{
				float: right;
			}
			#{$root}__content{
				left: 0;
			}
		}
	}
}