@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Business
------------------------------------------------------------*/
.c-pagetitle{
	background: url('../img/works/bg_works.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

/* section
------------------------------------------------------------*/
.p-works-1{
	padding-bottom: 50px;
	//-------------------------------------------------------
	&__block{
		@extend %cf;
		margin-bottom: 30px;
		.c-imgbox2:nth-child(2){
			margin: 0 30px;
		}
	}
}