@charset "UTF-8";
/*******************************
- Business page
********************************/
/* heading */
.p-business{
	.c-headTitle{
		background: url('.././img/business/bg.jpg') no-repeat;
		background-size: cover;
		@include sp{
			background: url('.././img/business/sp/bg.jpg') no-repeat;
			background-size: cover;
		}
	}
}

/* section 1 */
.p-business-1,
.p-business-2{
	padding-top: 65px;
	&__text{
		text-align: center;
		font-size: 1.8rem;
		padding-bottom: 60px;
	}
	&__block{
		text-align: left;
	}
	.c-imgbox{
		padding-bottom: 120px;
		&__content{
			width: 448px;
		}
		&__img{
			width: 490px;
		}
		&__content2{
			width: 100%;
			margin-top: 28px;
		}
	}
}
.p-business-2{
	padding-top: 0;
}