@charset "UTF-8";
/*******************************
- Company page
********************************/
/* heading */
.p-company{
	.c-headTitle{
		background: url('.././img/company/bg.jpg') no-repeat;
		background-size: cover;
		@include sp{
			background: url('.././img/company/sp/bg.jpg') no-repeat;
			background-size: cover;
		}
	}
}

/* section 1 */
.p-company-1{
	padding-top: 30px;
	padding-bottom: 70px;
	text-align: center;
	@include sp{
		padding-bottom: 10px;
	}
	//-------------------------------------------------------
	&__image{
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;
		@include sp{
			flex-direction: column;
			padding-bottom: 0;
		}
	}
	//-------------------------------------------------------
	&__imageSP{
		display: flex;
		justify-content: space-between;
		padding-bottom: 25px;
		@include sp{
			img{
				margin: 0 10px;
			}
		}
	}
	//-------------------------------------------------------
	&__text{
		padding-bottom: 30px;
		@include sp{
			display: none;
		}
	}
}

/* section 2 */
.p-company-2{
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 30px;
	}
}

/* section 3 */
.p-company-3{
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 30px;
	}
	//-------------------------------------------------------
	&__map{
		height: 500px;
		margin-bottom: 30px;
		@include sp{
			height: 250px;
			margin-bottom: 15px;
		}
	}
	//-------------------------------------------------------
	&__text{
		text-align: center;
		@include sp{
			font-size: 1.2rem;
			img{
				margin-bottom: 5px;
			}
		}
	}
}

/* section 4 */
.p-company-4{
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 30px;
	}
}

/* section 5 */
.p-company-5{
	padding-bottom: 60px;
	@include sp{
		padding-bottom: 30px;
	}
	//-------------------------------------------------------
	&__content{
		display: flex;
		justify-content: space-between;
		padding-bottom: 60px;
		@include sp{
			flex-direction: column;
			padding-bottom: 0;
		}
	}
	//-------------------------------------------------------
	&__block{
		width: 313px;
		@include sp{
			width: 100%;
			h4{
				margin-bottom: 15px;
			}
		}
	}
	//-------------------------------------------------------
	&__list{
		margin-top: 10px;
		padding: 20px;
		background: #e9eff2;
		height: 449px;
		@include sp{
			display: none;
		}
		li{
			list-style: none;
			padding-bottom: 7px;
		}
	}
	//-------------------------------------------------------
	&__content2{
		text-align: center;
		@include sp{
			display: none;
		}
		p{
			padding-bottom: 30px;
		}
	}
}