@charset "UTF-8";
/*******************************
- Index page
********************************/
/* Section 1 */
.p-index-1{
	background: url('.././img/top/bg.jpg') no-repeat;
	background-size: cover;
	height: 600px;
	display: flex;
	align-items: center;
	@include sp{
		background: url('.././img/top/sp/bg-sp.jpg') no-repeat;
		background-size: cover;
		height: 230px;
		margin-bottom: 190px;
		h3{
			margin-top: 290px;
		}
	}
}

/* Section 2 */
.p-index-2{
	position: relative;
	margin-bottom: 83px;
	@include sp{
		margin-bottom: 30px;
	}
}

/* Section 3 */
.p-index-3{
	margin-bottom: 60px;
	@include sp{
		margin-bottom: 45px;
	}
	//-------------------------------------------------------
	.l-container{
		display: flex;
		justify-content: space-between;
		@include sp{
			flex-direction: column;
		}
	}
	//-------------------------------------------------------
	.c-card{
		width: 313px;
		@include sp{
			width: 100%;
			margin-bottom: 15px;
		}
	}
}

/* Section 4 */
.p-index-4{
	//-------------------------------------------------------
	background: url('.././img/top/bg2.jpg') no-repeat;
	background-size: cover;
	@include sp{
		background: url('.././img/top/sp/bg2-sp.jpg') no-repeat;
		background-size: cover;
		background-size: 100% 215px;
		padding-bottom: 45px;
	}
	//-------------------------------------------------------
	.l-container{
		height: 560px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include sp{
			height: auto;
			flex-direction: column;
		}
	}
	//-------------------------------------------------------
	.c-box-overlay{
		width: 533px;
		height: 441px;
		@include sp{
			width: 100%;
			height: auto;
			margin-top: 135px;
		}
	}
}

/* Section 5 */
.p-index-5{
	padding: 60px 0;
	background: #e9eff2;
	@include sp{
		padding: 45px 0;
	}
	//-------------------------------------------------------
	.c-card{
		width: 228px;
		@include sp{
			width: 100%;
			margin-bottom: 15px;
		}
	}
	//-------------------------------------------------------
	&__block{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		@include sp{
			margin-top: 15px;
			flex-direction: column;
		}
	}
	//-------------------------------------------------------
	&__content{
		margin-top: 30px;
		color: #333;
		font-size: 1.4rem;
		text-align: center;
		@include sp{
			margin-top: 15px;
			text-align: left;
		}
		p{
			padding-bottom: 30px;
			@include sp{
				padding-bottom: 15px;
			}
		}
	}
}