@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.w100 {
  width: 100% !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	For display or not on PC and SP
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 736px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 736px) {
  .sp-only {
    display: block;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1200px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  border-top: solid 7px #4e4e4e;
  font-weight: 600;
}

@media (max-width: 736px) {
  body {
    min-width: 320px;
    border-top: none;
  }
}

#container {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
}

@media (max-width: 736px) {
  #container {
    width: 100%;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 15px;
  position: relative;
}

@media (max-width: 736px) {
  #header {
    margin-bottom: 0;
  }
}

#header img {
  width: 100%;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 15px;
}

#gNavi li {
  width: 198px;
  float: left;
}

#gNavi li a {
  padding: 20px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  margin-top: 71px;
  background-color: #efefef;
  position: relative;
}

/*------------------------------------------------------------
	Style for custom navigator
------------------------------------------------------------*/
.gNavi li {
  height: 55px;
  border-left: solid 1px #000000;
}

.gNavi li:last-child {
  border-right: solid 1px #000000;
}

.gNavi li:nth-child(3) a {
  padding-top: 8px !important;
}

/*------------------------------------------------------------
	Component Collection
------------------------------------------------------------*/
.collection:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 736px) {
  .collection {
    width: 100%;
  }
}

.slide, .content {
  width: 550px;
  float: left;
}

@media (max-width: 736px) {
  .slide, .content {
    width: 100%;
    float: none;
  }
}

.slide .dot-bar {
  margin-top: 15px;
}

@media (max-width: 736px) {
  .slide .dot-bar {
    margin-top: 3px;
  }
}

.content {
  padding-left: 27px;
  padding-top: 3px;
}

@media (max-width: 736px) {
  .content {
    padding-left: 0;
    padding-top: 24px;
  }
}

.content .title {
  padding-top: 23px;
}

@media (max-width: 736px) {
  .content .title {
    padding-top: 15px;
  }
}

.content .describe {
  font-size: 1.6rem;
  padding-top: 40px;
  padding-left: 7px;
}

@media (max-width: 736px) {
  .content .describe {
    font-size: 1.2rem;
    padding-left: 0;
    padding-top: 28px;
  }
}

.content .more-info {
  padding: 30px 7px;
}

@media (max-width: 736px) {
  .content .more-info {
    padding: 6px 0;
  }
  .content .more-info img {
    width: 100%;
  }
}

.content .code {
  font-size: 1.4rem;
  padding-left: 7px;
}

@media (max-width: 736px) {
  .content .code {
    font-size: 1rem;
    padding-left: 0;
  }
}

.content .sub-describe {
  font-size: 2rem;
  padding-left: 7px;
  padding-top: 10px;
}

@media (max-width: 736px) {
  .content .sub-describe {
    font-size: 1.5rem;
    padding-left: 0;
  }
}

.content .sub-describe .hot-top img {
  vertical-align: text-bottom !important;
  padding-right: 10px;
  display: inline-block;
}

@media (max-width: 736px) {
  .content .sub-describe .hot-top img:first-child {
    display: none;
  }
}

.content .sub-describe .hot-top img:nth-child(2) {
  display: none;
}

@media (max-width: 736px) {
  .content .sub-describe .hot-top img:nth-child(2) {
    display: inline-block;
  }
}

.content .price {
  font-size: 1.2rem;
  padding-left: 10px;
  padding-top: 10px;
}

@media (max-width: 736px) {
  .content .price {
    font-size: .9rem;
    padding-left: 0;
  }
}

.content .price-root {
  font-size: 3rem;
}

@media (max-width: 736px) {
  .content .price-root {
    font-size: 2rem;
  }
}

.content .price-tax {
  font-size: 2rem;
}

@media (max-width: 736px) {
  .content .price-tax {
    font-size: 1.4rem;
  }
}

.content .btn-shop {
  background: #fff;
  padding-top: 10px;
  padding-left: 10px;
}

@media (max-width: 736px) {
  .content .btn-shop {
    padding-left: 0;
    text-align: center;
  }
}

.content .btn-shop button:nth-child(2) {
  margin-left: 5px;
}

@media (max-width: 736px) {
  .content .btn-shop button:nth-child(2) {
    margin-left: 0;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn-shop-list,
.btn-shop-online {
  width: 250px;
}

@media (max-width: 736px) {
  .btn-shop-list,
  .btn-shop-online {
    width: 100%;
    margin-bottom: 7px;
  }
}

.btn-shop-list img,
.btn-shop-online img {
  margin: auto;
}

.btn-shop-list {
  background: #16214d;
  padding: 13px 0;
}

.btn-shop-online {
  background: #171717;
  padding: 7px 0 13px;
}

/* back to top button */
.btn-back-top {
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: -40px;
}

/*------------------------------------------------------------
	Animation
------------------------------------------------------------*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
