.slide-container {
  max-width: 520px;
  position: relative;
}

@media (max-width: 736px) {
  .slide-container {
    width: 100%;
    margin: auto;
  }
}

.slide-inner {
  display: none;
}

@media (max-width: 736px) {
  .slide-inner img {
    width: 100%;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -68px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

@media (max-width: 736px) {
  .prev, .next {
    padding: 35px 15px;
  }
}

.next {
  right: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-right: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

@media (max-width: 736px) {
  .dot {
    height: 6px;
    width: 6px;
  }
}

.active-slide {
  display: block;
}

.active, .dot:hover {
  background-color: #717171;
}

/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
.banner img {
  width: 100%;
}

.btn-line-up {
  width: 100%;
  padding: 0 100px;
}

@media (max-width: 736px) {
  .btn-line-up {
    padding: 0 25px;
  }
}

.label, .name, .all-line, .icon {
  float: left;
}

.btn-sugo {
  background: #dee5ea;
  height: 107px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 736px) {
  .btn-sugo {
    height: 84px;
    border-radius: 10px;
  }
}

.btn-sugo .label {
  padding: 20px 53px;
}

@media (max-width: 736px) {
  .btn-sugo .label {
    width: 93%;
    padding: 10px 10px;
  }
  .btn-sugo .label img {
    margin: auto;
    width: 100%;
  }
}

.btn-sugo .name {
  padding: 25px 65px 0;
}

@media (max-width: 736px) {
  .btn-sugo .name {
    width: 93%;
    padding: 0;
  }
  .btn-sugo .name img {
    margin: auto;
  }
}

.btn-sugo .all-line {
  padding: 44px 50px;
}

.btn-sugo .icon {
  padding: 44px 0;
}

@media (max-width: 736px) {
  .btn-sugo .icon {
    padding: 0;
  }
}

.btn-coat {
  background: #c3ccd2;
  height: 107px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 736px) {
  .btn-coat {
    height: 84px;
    border-radius: 10px;
  }
}

.btn-coat .label {
  padding: 20px 41px 0 53px;
}

@media (max-width: 736px) {
  .btn-coat .label {
    width: 93%;
    padding: 10px 10px;
  }
  .btn-coat .label img {
    margin: auto;
    width: 100%;
  }
}

.btn-coat .name {
  padding: 25px 0px 0;
}

@media (max-width: 736px) {
  .btn-coat .name {
    width: 93%;
    padding: 0 10px;
  }
  .btn-coat .name img {
    margin: auto;
    width: 100%;
  }
}

.btn-coat .all-line {
  padding: 44px 40px;
}

.btn-coat .icon {
  padding: 44px 0;
}

@media (max-width: 736px) {
  .btn-coat .icon {
    padding: 0;
  }
}

/*------------------------------------------------------------
	Section 1
------------------------------------------------------------*/
.p-index-1 {
  font-size: 1.6rem;
  padding-top: 44px;
  padding-bottom: 102px;
}

@media (max-width: 736px) {
  .p-index-1 {
    font-size: 1.2rem;
    padding: 20px 40px 37px;
  }
}

/*------------------------------------------------------------
	Section 2
------------------------------------------------------------*/
.p-index-2 {
  width: 100%;
  padding: 0 50px;
}

@media (max-width: 736px) {
  .p-index-2 {
    padding: 0 25px;
  }
}

/*------------------------------------------------------------
	Section 3
------------------------------------------------------------*/
.p-index-3 {
  font-size: 1.6rem;
  margin: 40px 50px;
  background-color: #eef2f5;
  padding: 70px 0 79px;
  border-radius: 10px;
}

@media (max-width: 736px) {
  .p-index-3 {
    padding: 0;
    font-size: 1.2rem;
    margin: 40px 25px;
  }
  .p-index-3 button {
    width: 100%;
    margin: auto;
    padding: 18px 10px 25px;
  }
}

.p-index-3 .text {
  width: 520px;
  float: left;
  padding-left: 70px;
  padding-right: 35px;
  padding-top: 18px;
}

.p-index-3 .text img {
  margin: auto;
}

@media (max-width: 736px) {
  .p-index-3 .text {
    width: 100%;
    padding: 11px 15px;
  }
}

.p-index-3 .text p {
  padding: 43px 0 34px;
  line-height: 2;
}

@media (max-width: 736px) {
  .p-index-3 .text p {
    width: 100%;
    padding: 30px 0 0;
    line-height: 1.4;
  }
}

.p-index-3 .image {
  float: left;
  padding-left: 8px;
}

@media (max-width: 736px) {
  .p-index-3 .image {
    width: 100%;
    padding-left: 0;
    padding: 0 10px;
  }
  .p-index-3 .image img {
    margin: auto;
  }
}

/*------------------------------------------------------------
	Section 4
------------------------------------------------------------*/
.p-index-4 {
  width: 100%;
  padding: 85px 50px 92px;
}

@media (max-width: 736px) {
  .p-index-4 {
    padding: 65px 25px;
  }
}

.p-index-4 .slide {
  float: right !important;
  padding-left: 30px;
}

@media (max-width: 736px) {
  .p-index-4 .slide {
    padding: 0;
  }
}

.p-index-4 .content {
  padding-left: 0;
}

.p-index-4 .content .more-info {
  padding: 40px;
  visibility: hidden;
}

@media (max-width: 736px) {
  .p-index-4 .content .more-info {
    display: none;
  }
}

.p-index-4 .content .price {
  padding-top: 0;
}

/*------------------------------------------------------------
	Section 5
------------------------------------------------------------*/
.p-index-5 {
  width: 100%;
  padding: 0 50px 76px;
}

@media (max-width: 736px) {
  .p-index-5 {
    padding: 0 25px 48px;
  }
}

.p-index-5 .more-info {
  visibility: hidden;
  padding: 22px;
}

@media (max-width: 736px) {
  .p-index-5 .more-info {
    display: none;
  }
}
