@charset "UTF-8";
@import "breakpoint.scss";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html,body {
	//min-width: 800px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	width: 100%;
    min-width: 960px;
  @include bp{
    width: 100%;
    min-width: 320px;
  }
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	@include bp{
		width: 100%;
	}
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	//padding: 5px 10px 0;
	background-color: $white;
	position: relative;
	border-top: 4px solid $blue;
	@include bp{
		padding: 0 10px;
		border-top: 5px solid $blue;
	}
	.top-nav{
		margin-top: 14px;
		position: relative;
		@include bp{
			padding-bottom: 11px;
			margin-top: 10px;
		}
	}
	.logo{
		width: 272px;
		float: left;
		padding-left: 7px;
	}
	.contact{
		width: 678px;
		float: left;
		padding-top: 17px;
		&-phone{
			width: 221px;
			float: left;
			margin-left: 175px;
			padding-top: 2px;
			p{
				padding-top: 6px;
				text-indent: 5px;
			}
		}
		&-email{
			float: right;
			width: 259px;
			font-size: 1.4rem;
			.c-email{
				padding: 12px 18px 10px;
			}
		}
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-top: 20px;
	li {
		float: left;
		list-style: none;
		cursor: pointer;
		width: 145px;
		a {
			padding: 5px 0px;
			display: block;
			text-decoration: none;
			text-align: center;
			border-left: solid 1px $gray;
		}
		div.border{
			border-bottom: solid 4px $gray;
			visibility: hidden;
			margin-top: 16px;
		}
		&:hover{
			div.border{
				visibility: visible;
			}
		}
	}
	li:last-child{
		width: 370px;
		a{
			border-right: solid 1px $gray;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	padding: 10px 0;
	li {
		margin-right: 2px;
		display: inline;
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	.footer-1{
		// background: linear-gradient(rgba(#0b4890, 0.78)),
		// url('../img/background-footer.jpg');
		background-image: url('../img/background-footer.jpg');
		background-color: $blue;
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center;
		height: 358px;
		width: 100%;
		padding: 60px 0;
		position: relative;
		@include bp{
			padding: 35px 20px;
			background-image: url('../img/smp/bg_footer_sp.png');
			background-color: $blue;
			background-blend-mode: multiply;
			background-repeat: no-repeat;
			background-position: center right;
			height: 348px;
			width: 100%;
		}
		.text{
			font-size: 1.6rem;
			padding-top: 85px;
			color: $white;
			span{
				color: $yellow;
			}
			@include bp{
				font-size: 1.4rem;
				padding-top: 50px;
			}
		}
		.contact-ft{
			padding-top: 35px;
			@include bp{
				padding-top: 22px;
			}
			&-phone{
				width: 260px;
				float: left;
				color: $white;
				margin-left: 202px;
				font-size: 1.2rem;
				p{
					padding-top: 8px;
				}
				@include bp{
					width: 100%;
					margin-left: 0;
					font-size: 1rem;
					p{
						padding-top: 3px;
					}
				}
			}
			&-email{
				float: left;
				font-size: 1.6rem;
				margin-left: 58px;
				.c-email{
					padding: 14px 20px 10px;
					@include bp{
						padding: 13px 0 9px;
					}
				}
				@include bp{
					width: 100%;
					font-size: 1.3rem;
					margin-left: 0;
					margin-top: 16px;
					padding: 0 14px;
				}
			}
		}
	}
	.footer-2{
		font-size: 1.4rem;
		background: $gray-c;
		padding: 40px 0;
		a{
			padding: 0 20px;
			border-left: solid 1px $black;
			&:last-child,
			&:nth-child(5){
				border-right: solid 1px $black;
			}
			@include bp{
				padding: 0 10px;
				&:nth-child(8):before{
					content: '\A';
					white-space: pre;
				}
			}
		}
		@include bp{
			width: 100%;
			font-size: 1rem;
			padding: 19px 28px;
		}
	}
	.footer-3{
		font-size: 1.4rem;
		padding: 15px 0;
		@include bp{
			font-size: 1rem;
			padding: 13px 0;
		}
	}
}