@charset "UTF-8";
@import "breakpoint.scss";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }
/* text decoration */
.t-under{
	text-decoration: underline;
}

.break-line:before{
	content: '\A';
    white-space: pre;
}

.hight-light{
	font-weight: bold;
	color: $blue;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mAuto { margin: auto !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}
/*------------------------------------------------------------
	hover affect
------------------------------------------------------------*/
/* hover change image */
.hover-show img:last-child{
	display: none;
}
.hover-show:hover img{
	&:first-child{
		display: none;
	}
	&:last-child{
		display: inline-block;
	}
}
/* hover opacity */
.hover-opa:hover {
	opacity: 0.7;
}
/*------------------------------------------------------------
	For display or not on PC and SP
------------------------------------------------------------*/
.pc-only{
	display: block;
	@include bp{
		display: none;
	}
}
.sp-only{
	display: none;
	@include bp{
		display: block;
	}
}