@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Smartphone navigator
------------------------------------------------------------*/
.c-sp-nav{
	width: 100%;
	height: 100%;
	background: $blue;
	font-size: 1.5rem;
	font-weight: bold;
	position: fixed;
	z-index: 99;
	display: none;
	ul{
		padding: 30px 25px;
	}
	li{
		border-top: dotted 1px $white;
		padding: 15px 0;
		position: relative;
		&:last-child{
			border-bottom: dotted 1px $white;
		}
	}
	a{
		color: $white;
		padding-left: 10px;
		&:before{
			position:absolute;
			content:"";
			top:50%;
			transform:translateY(-50%);
			margin-left:-10px;
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid $white;
		}
	}
}
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-main-title{
	background-image: url('../img/bg-tv.jpg');
	background-color: $blue;
	background-blend-mode: multiply;
	height: 160px;
	background-repeat: no-repeat;
	background-position: right center;
	text-align: center;
	font-size: 2.8rem;
	color: $white;
	@include bp{
		background-image: url('../img/smp/tv/bg-tv-sp.jpg');
		background-color: $blue;
		background-blend-mode: multiply;
		height: 130px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
	}
	h2{
		padding-top: 65px;
		@include bp{
			padding-top: 44px;
		}
	}
}
.c-title-border{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
/*------------------------------------------------------------
	Breadcrum
------------------------------------------------------------*/
.c-pagePath{
	font-size: 1.2rem;
	border-bottom: solid 1px $gray;
	li a{
		color: $blue;
		text-decoration: underline;
	}
	li+li:before{
		content: "\003e";
		margin-right: 2px;
	}
}
/*------------------------------------------------------------
	Email contact
------------------------------------------------------------*/
.c-email{
	font-weight: bold;
	color: $orange;
	background-color: $yellow;
	cursor: pointer;
	span{
		padding-right: 9px;
	}
}
/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
.c-table{
	font-size: 1.6rem;
	@include bp{
		font-size: 1.4rem;
	}
}
.column{
	border: solid 1px $gray;
	height: 188px;
	@include bp{
		width: 100%;
		height: auto;
	}
	&:first-child{
		width: 258px;
		float: left;
		@include bp{
			width: 100%;
			height: auto;
		}
	}
	&:nth-child(2){
		width: 218px;
		float: left;
		@include bp{
			width: 100%;
			height: auto;
		}
	}
	&:last-child{
		width: 474px;
		float: left;
		@include bp{
			width: 100%;
			height: auto;
		}
	}
	&-title{
		color: $white;
		background: $blue;
		padding: 10px 0;
		@include bp{
			padding: 9px 0;
		}
	}
	&-content{
		padding: 20px 18px;
		@include bp{
			padding: 8px 16px;
		}
	}
}
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
// for button open menu icon smartphone
.c-btn-menu{
    	cursor: pointer;
    	background: $blue;
    	border-radius: 5px;
    	padding: 10px;
    	visibility: hidden;
    	@include bp{
    		visibility: visible;
    		position: absolute;
    		top: 0;
    		right: 0;
    	}
	.bar1, .bar2, .bar3{
		width: 20px;
		height: 3px;
		background-color: $white;
		margin: 3px 0;
	}
}
.change .bar1{
	transform: rotate(-45deg) translate(-5px, 3px);
    transition: 0.25s;
}
.change .bar2 {opacity: 0; transition: 0.25s;}
.change .bar3 {
	transform: rotate(45deg) translate(-5px, -4px);
    transition: 0.25s;
}

// for scroll back to top
.c-btn-top{
	position: fixed;
	bottom: 200px;
	right: 15px;
	width: 80px;
	height: 80px;
	background: $white;
	cursor: pointer;
	display: none;
	&:hover{
		background: $blue;
		transition: 0.3s;
	}
	@include bp{
		display: none;
		visibility: hidden;
	}
}
/*------------------------------------------------------------
	For not support IE
------------------------------------------------------------*/
@supports not (mix-blend-mode: multiply) {
	.footer-1:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(#0b4890, 0.78));
		top: 0;
		left: 0;
	}
	.footer-1{
		.text{
			position: absolute;
			left: 50%;
			transform: translate(-50%);
		}
		.contact-ft{
			position: absolute;
			left: 50%;
			top: 55%;
			transform: translate(-50%);
		}
	}
}