@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "breakpoint.scss";
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
	background: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 421px;
	width: 100%;
	position: relative;
	@include bp{
		width: 100%;
		background: url('../img/smp/index/bg-sp.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 210px;
		width: 100%;
	}
	.c-title-border{
	    top: 45%;
	    left: 50%;
	    transform: translate(-50%, -45%);
	    @include bp{
	    	top: 43%;
	    	left: 50%;
	    	transform: translate(-50%, -43%);
	    }
	}
}

/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-index-1{
	padding: 80px 0;
	@include bp{
		padding: 25px 17px;
	}
	.list-block{
		width: 100%;
		border: solid 1px $gray;
		padding: 30px 0;
		@include bp{
			width: 100%;
			padding: 11px 0 22px;
		}
		.news-title{
			width: 240px;
			float: left;
			border-right: solid 1px $gray;
			h3{
				padding-top: 8px;
				padding-bottom: 15px;
			}
			@include bp{
				width: 100%;
				border-right: none;
			}
		}
		.news-list{
			font-size: 1.6rem;
			float: left;
			line-height: 2;
			padding-left: 40px;
			@include bp{
				width: 100%;
				font-size: 1.4rem;
				line-height: 1.5;
				padding: 0 13px;
				margin-bottom: 18px;
				p{
					padding: 8px 4px;
					border-top: dotted 2px $gray;
					&:last-child{
						border-bottom: dotted 2px $gray;
					}
				}
			}
			.date{
				color: $text-blue;
				@include bp{
					&:after{
						content: '\A';
						white-space: pre;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-index-2{
	background: $gray-bg;
	font-size: 1.6rem;
	padding: 60px 0 70px;
	@include bp{
		font-size: 1.4rem;
		padding: 36px 14px;
	}
	.text{
		padding: 35px 0 57px;
		@include bp{
			padding: 16px 0 25px;
		}
	}
	.icon{
		width: 100%;
		&-inner{
			width: 33.33%;
			float: left;
			@include bp{
				a{
					img:first-child,
					img:last-child{
						display: none;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-index-3{
	padding-top: 22px;
	.image{
		width: 450px;
		margin-left: -57px;
		float: left;
		@include bp{
			width: 100%;
			margin: auto;
			margin-left: -18px;
			margin-top: -13px;
		}
	}
	.content{
		float: right;
		font-size: 1.6rem;
		padding-right: 23px;
    	padding-top: 64px;
    	@include bp{
    		width: 100%;
    		font-size: 1.4rem;
    		text-align: center;
    		padding: 0;
		}
    	.text{
    		padding: 32px 0 22px;
    		@include bp{
    			padding: 20px 10px 25px 10px;
    		}
    	}
	}
}