@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "breakpoint";
/*------------------------------------------------------------
	section 1
------------------------------------------------------------*/
.p-service-1{
	padding: 65px 0 82px;
	@include bp{
		padding: 28px 14px 40px;
	}
	h3{
		font-size: 2.6rem;
		@include bp{
			font-size: 1.8rem;
		}
	}
	.line{
		margin-top: 13px;
	}
	.text{
		font-size: 1.6rem;
		padding: 44px 0 42px;
		@include bp{
			font-size: 1.4rem;
			padding: 16px 0;
		}
	}
}
/*------------------------------------------------------------
	section 2
------------------------------------------------------------*/
.p-service-2{
	background: $gray-bg;
	padding: 68px 0 60px;
	@include bp{
		padding: 35px 15px 10px;
	}
	h3{
		font-size: 2.6rem;
		@include bp{
			font-size: 1.8rem;
		}
	}
	.line{
		margin-top: 13px;
		margin-bottom: 45px;
		@include bp{
			margin-bottom: 16px;
		}
	}
	.block-sv{
		background: $white;
		padding: 25px;
		text-align: left;
		margin-bottom: 30px;
		@include bp{
			padding: 12px 5px 15px;
			margin-bottom: 15px;
		}
		.content-sv{
			float: left;
			@include bp{
				padding: 0 10px;
				width: 100%;
			}
			.name-sv{
				color: $blue;
				font-size: 1.8rem;
				font-weight: bold;
				.number{
					display: none;
					@include bp{
						display: inline-block;
					}
				}
				span{
					display: none;
					@include bp{
						display: inline-block;
						padding-left: 10px;
					}
				}
			}
			.text{
				font-size: 1.6rem;
				padding-top: 26px;
				@include bp{
					font-size: 1.4rem;
					padding: 13px 0;
				}
				.break-line:before{
					@include bp{
						content: '';
					}
				}
			}
			.contact{
				padding-top: 31px;
				@include bp{
					padding: 0;
				}
				.phone-sv{
					float: left;
					border: solid 1px $blue;
    				padding: 3px 35px 0;
    				color: $blue;
    				font-size: 1rem;
    				p{
    					padding-top: 6px;
    				}
    				@include bp{
    					width: 100%;
    					padding: 7px 0 4px;
    				}
				}
				.email-sv{
					float: left;
					font-size: 1.6rem;
					padding-left: 15px;
					@include bp{
    					width: 100%;
    					font-size: 1.3rem;
    					padding: 10px 0 21px;
    				}
					.c-email{
						padding: 16px 18px 10px;
						@include bp{
	    					padding: 10px 20px;
	    				}
					}
				}
			}
		}
		.image-sv{
			width: 280px;
			float: right;
			@include bp{
				width: 100%;
				padding: 0 10px;
				img{
					width: 100%;
				}
			}
		}
	}
}
/*------------------------------------------------------------
	section 3
------------------------------------------------------------*/
.p-service-3{
	padding: 63px 0 75px;
	@include bp{
		padding: 24px 15px 30px;
	}
	.text{
		font-size: 1.6rem;
		padding-top: 100px;
		line-height: 1.4;
		@include bp{
			padding: 46px 20px 0;
			font-size: 1.4rem;
		}
		span{
			color: $blue;
			font-size: 2.2rem;
			@include bp{
				font-size: 1.9rem;
			}
		}
	}
}