@charset "UTF-8";
/*******************************
- Index page
********************************/

@for $i from 1 through 3{
	/* Section #{$i} */ 
	.p-index-#{$i}{
		width: 1200px;
		margin: auto;
		@include sp{
			width: 100%;
			padding: 0 20px;
		}
		//-------------------------------------------------------
		&__title{
			display: flex;
			justify-content: space-between;
			@include sp{
				justify-content: center;
			}
		}
		//-------------------------------------------------------
		&__content{
			display: flex;
			justify-content: space-between;
			@include sp{
				flex-direction: column;
			}
		}
		//-------------------------------------------------------
		.c-card-3{
			@include sp{
				margin-bottom: 10px;
			}
		}
		@if $i == 1{
			padding-top: 30px;
			padding-bottom: 60px;
			@include sp{
				padding-top: 15px;
				padding-bottom: 30px;
			}
			.column{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.item3, .item4{
					height: 132px;
					@include sp{
						height: auto;
					}
					img{
						height: 132px;
						width: 285px;
						@include sp{
							width: 100%;
							height: auto;
						}
					}
				}
			}
			.item1{
				img{
					width: 590px;
					@include sp{
						width: 100%;
					}
				}
			}
			.item2{
				img{
					width: 285px;
					@include sp{
						width: 100%;
					}
				}
			}
		}
		@else if $i == 2{
			padding-bottom: 60px;
			@include sp{
				padding-bottom: 30px;
			}
		}
		@else{
			padding-bottom: 80px;
			@include sp{
				padding-bottom: 30px;
			}
		}
	}
}
