/*------------------------------------------------------------
	Business
------------------------------------------------------------*/
.c-pagetitle {
  background: url("../img/buniness/bg_business.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* section
------------------------------------------------------------*/
.p-business-1 {
  padding-bottom: 40px;
}

.p-business-1 .c-imgbox {
  padding-bottom: 40px;
}

.p-business-1 .c-imgbox__image {
  width: 360px;
}

.p-business-1 .c-imgbox__content {
  width: 570px;
}

.p-business-1 .c-imgbox__content h3 {
  color: #269eca;
  font-size: 20px;
}

.p-business-1 .c-imgbox__content p {
  color: #333333;
}
