@charset "UTF-8";
.c-imgbox:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, hr,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins, a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background: transparent;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Hover effect
------------------------------------------------------------*/
.hover-change {
  position: relative;
  display: inline-block;
}

.hover-change img.hoverImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -web-kit-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.hover-change:hover img {
  opacity: 0;
  -web-kit-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.hover-change:hover img.hoverImg {
  opacity: 1;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
/* For IE 10++
------------------------------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html, body {
    line-height: 1.5;
    min-width: 1200px;
    background: #fff;
    height: 100%;
  }
  .header {
    width: 220px;
  }
  .main {
    width: 90%;
    float: right;
    background: #fff;
  }
  .footer {
    width: 90%;
    float: right;
  }
}

/* Other browsers
------------------------------------------------------------*/
html, body {
  line-height: 1.5;
  min-width: 1200px;
  background: #fff;
  height: 100%;
  overflow-x: hidden;
}

.l-container {
  margin: 0 auto;
  width: 960px;
}

.l-side {
  padding: 0 20px;
}

/* Header
------------------------------------------------------------*/
.header {
  position: fixed;
  height: 100%;
  width: 220px;
  background: #1085b0;
  z-index: 1;
  top: 0;
  left: 0;
}

.header .c-logo {
  padding-top: 20px;
  background: #fff;
  height: 130px;
}

.header hr {
  border-bottom: solid 1px #269eca;
  margin: 20px 0;
}

.header h1 {
  font-size: 1.1rem;
  font-weight: normal;
}

.header .c-contact {
  padding-top: 20px;
  height: 198px;
  background: #269eca;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 220px;
}

.header .c-contact p {
  padding-bottom: 15px;
}

.header .c-contact a {
  margin: 5px 0;
  display: block;
}

/* Navi
------------------------------------------------------------*/
#gNavi {
  padding-top: 20px;
}

#gNavi li {
  width: 100%;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  -webkit-transition: all .25s;
  transition: all .25s;
}

#gNavi li a:hover {
  background: #269eca;
}

#gNavi img {
  vertical-align: middle;
}

/* Breadcrumbs
------------------------------------------------------------*/
.pagePath {
  margin-top: 27px;
  margin-bottom: 40px;
  font-size: 12px;
}

.pagePath li {
  display: inline;
}

.pagePath li + li:before {
  content: '>';
  margin: 0 4px;
}

.pagePath li a {
  color: #006699;
  border-bottom: solid 1px #006699;
}

/* Main
------------------------------------------------------------*/
.main {
  margin-left: 220px;
}

/* Footer
------------------------------------------------------------*/
.footer {
  margin-left: 220px;
}

.footer__1 {
  padding: 40px 0;
  background: #269eca;
  color: #fff;
  font-size: 12px;
}

.footer__1 .c-logo-ft {
  float: left;
}

.footer__1 .c-logo-ft p {
  padding-top: 20px;
}

.footer__1 .c-contact-ft {
  width: 180px;
  float: left;
  margin-left: 40px;
}

.footer__1 .c-contact-ft a:first-child {
  margin-bottom: 4px;
  display: block;
}

.footer__1 .c-nav-ft {
  float: left;
  margin-left: 40px;
}

.footer__1 .c-nav-ft ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.footer__1 .c-nav-ft li {
  position: relative;
}

.footer__1 .c-nav-ft li:before {
  content: '';
  background: url("../img/common/arrow-menu.png") no-repeat;
  position: absolute;
  width: 7px;
  height: 10px;
  top: 4px;
  left: 0;
}

.footer__1 .c-nav-ft a {
  color: #fff;
  font-size: 13px;
  padding-left: 12px;
}

.footer__1 .btn-backTop {
  float: right;
}

.footer__2 {
  text-align: center;
  font-size: 12px;
  color: #666666;
  padding: 15px 0;
}

/*------------------------------------------------------------
	Page title
------------------------------------------------------------*/
.c-pagetitle {
  width: 100%;
  height: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*------------------------------------------------------------
	Title section
------------------------------------------------------------*/
.c-section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-top: 74px;
  margin-bottom: 40px;
}

.c-section-title:before {
  content: '';
  width: 60px;
  height: 4px;
  border-top: solid 4px #269eca;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*------------------------------------------------------------
	Image box
------------------------------------------------------------*/
.c-imgbox__image {
  float: left;
  margin-right: 20px;
}

.c-imgbox__content {
  float: left;
}

.c-imgbox__content h2, .c-imgbox__content h3, .c-imgbox__content h4, .c-imgbox__content h5, .c-imgbox__content h6 {
  font-size: 22px;
  padding-bottom: 20px;
}

.c-imgbox__content h2 .en, .c-imgbox__content h3 .en, .c-imgbox__content h4 .en, .c-imgbox__content h5 .en, .c-imgbox__content h6 .en {
  font-size: 15px;
  padding-left: 16px;
}

.c-imgbox__content p {
  font-size: 14px;
  padding-bottom: 20px;
}

.c-imgbox__title h2, .c-imgbox__title h3, .c-imgbox__title h4, .c-imgbox__title h5, .c-imgbox__title h6 {
  font-size: 20px;
  color: #269eca;
}

/* Image box 2
------------------------------------------------------------*/
.c-imgbox2 {
  width: 300px;
  float: left;
}

.c-imgbox2__image {
  height: 300px;
  position: relative;
}

.c-imgbox2__image:after {
  content: '';
  position: absolute;
  background: url("../img/works/icon_zoom.png") no-repeat;
  width: 50px;
  height: 51px;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.c-imgbox2__content {
  text-align: center;
}

.c-imgbox2__content h2, .c-imgbox2__content h3, .c-imgbox2__content h4, .c-imgbox2__content h5, .c-imgbox2__content h6 {
  font-size: 20px;
  background: #269eca;
  color: #fff;
  padding: 14px 0;
}

.c-imgbox2__text {
  background: #e0f4fc;
  padding: 17px 0;
}

.c-imgbox2__text p {
  font-size: 14px;
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn {
  font-size: 14px;
  text-align: center;
}

.c-btn--more {
  display: inline-block;
  width: 212px;
  border: solid 1px #fff;
  color: #fff;
  background: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-transform: uppercase;
  position: relative;
}

.c-btn--more:hover, .c-btn--more:active {
  background: #fff;
  color: #333333;
}

.c-btn--more:hover:after, .c-btn--more:active:after {
  background: url("../img/top/icon_arrow-hover.png") no-repeat;
}

.c-btn--more:after {
  content: '';
  background: url("../img/top/icon_arrow.png") no-repeat;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 10px;
  margin-left: 6px;
}

.c-btn--blue {
  color: #fff;
  background: #269eca;
  font-weight: bold;
  display: block;
  margin: auto;
  padding: 16px 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
}

.c-btn--blue:hover {
  opacity: 0.8;
}

.c-btn--blue:after {
  content: '';
  background: url("../img/common/icon_arrow.png") no-repeat;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
.c-table {
  text-align: left;
  font-size: 14px;
  padding: 0 130px;
  color: #333333;
}

.c-table table {
  width: 100%;
  border-collapse: collapse;
}

.c-table th, .c-table td {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}

.c-table th {
  background: #e0f4fc;
  font-weight: normal;
  width: 180px;
}
