/*------------------------------------------------------------
	Company
------------------------------------------------------------*/
.c-pagetitle {
  background: url("../img/company/bg_company.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Section 1
------------------------------------------------------------*/
.p-company-1 {
  padding-bottom: 40px;
}

.p-company-1 .c-table {
  margin-bottom: 40px;
}

.p-company-1 .c-btn--blue {
  width: 272px;
}

.p-company-1 .c-btn .icon-before,
.p-company-1 .c-btn .icon-after {
  margin-top: 4px;
}

.p-company-1 .c-btn .icon-before {
  margin-right: 10px;
}

.p-company-1 .c-btn .icon-after {
  margin-left: 20px;
}

/* Section 2
------------------------------------------------------------*/
.p-company-2 {
  font-size: 14px;
  padding-bottom: 80px;
}

.p-company-2 .map {
  margin-bottom: 30px;
}

.p-company-2 .icon {
  padding-right: 15px;
}

.p-company-2__text p:first-child {
  padding-bottom: 14px;
}

.p-company-2__text p:last-child {
  padding-top: 10px;
}
