@charset "UTF-8";
/*------------------------------------------------------------
	Contact
------------------------------------------------------------*/
.c-pagetitle {
  background: url("../img/contact/bg-contact.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Section 1
------------------------------------------------------------*/
.p-contact-1 {
  padding-bottom: 10px;
}

.p-contact-1__text {
  font-size: 14px;
  text-align: center;
}

.p-contact-1__text p {
  padding-bottom: 32px;
}

/* Section 2
------------------------------------------------------------*/
.p-contact-2 {
  padding-bottom: 80px;
}

.p-contact-2 .c-table th {
  width: 210px;
  vertical-align: text-top;
}

.p-contact-2 .c-btn {
  margin-top: 50px;
  width: 184px;
}

.p-contact-2 select {
  border: solid 1px #dddddd;
  margin: 10px 0;
  font-size: 1.4rem;
  color: #757575;
  width: 150px;
}

.p-contact-2 input {
  width: 420px;
  height: 29px;
  margin-bottom: 10px;
  border: solid 1px #dddddd;
}

.p-contact-2 input::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
  padding-left: 10px;
}

.p-contact-2 input:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  padding-left: 10px;
}

.p-contact-2 input::-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  padding-left: 10px;
}

.p-contact-2 input::placeholder {
  font-size: 14px;
  color: #999999;
  padding-left: 10px;
}

.p-contact-2 input[type=number] {
  width: 150px;
}

.p-contact-2 textarea {
  border: solid 1px #dddddd;
  width: 100%;
  padding: 18px;
  resize: none;
  height: 140px;
}

.p-contact-2 .required {
  color: #fff;
  float: right;
  font-size: 11px;
}

.p-contact-2 .yes:after {
  padding: 1px 5px;
  content: '必須';
  background: #cf3d3d;
}

.p-contact-2 .no:after {
  padding: 1px 5px;
  content: '任意';
  background: #999999;
}
