.p-flow-1__block:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Flow
------------------------------------------------------------*/
.c-pagetitle {
  background: url("../img/flow/bg_flow.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* section 1
------------------------------------------------------------*/
.p-flow-1 {
  padding-bottom: 70px;
}

.p-flow-1__block {
  margin-bottom: 10px;
}

.p-flow-1__block .step {
  width: 78px;
  float: left;
}

.p-flow-1__block .c-imgbox {
  padding: 20px 0;
  border-bottom: dotted 1px #cccccc;
  float: left;
  width: 882px;
}

.p-flow-1__block .c-imgbox__title {
  padding-bottom: 40px;
}

.p-flow-1__block .c-imgbox__image {
  width: 302px;
  margin-right: 30px;
}

.p-flow-1__block .c-imgbox__content {
  width: 550px;
}

.p-flow-1__block .contact {
  background: #269eca;
  width: 550px;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-flow-1__block .contact a:first-child {
  margin-right: 10px;
}
