/*------------------------------------------------------------
	Index
------------------------------------------------------------*/
.banner-top {
  text-align: center;
  background: url("../img/top/bg_top.jpg") no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner-top h2 {
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.banner-top .c-srcoll-icon {
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-top .c-news {
  height: 44px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("../img/top/bg_news.png") no-repeat center;
}

.banner-top .c-news__inner {
  width: 960px;
  margin: auto;
  position: relative;
}

.banner-top .c-news__title {
  float: left;
  width: 84px;
  padding: 14px 0;
}

.banner-top .c-news__news {
  font-size: 14px;
  padding: 13px 20px;
  float: left;
}

.banner-top .c-news .date {
  padding-right: 20px;
}

/* Section
------------------------------------------------------------*/
.p-top .c-pagetitle {
  height: 230px;
  background: url("../img/top/bg_section_top.png") no-repeat;
  background-size: cover;
}

/* Section 1
------------------------------------------------------------*/
.p-top-1 {
  background: url("../img/top/bg_section1.png") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.p-top-1 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 280px;
}

.p-top-1 .c-imgbox {
  width: 432px;
}

.p-top-1 .c-imgbox__image {
  width: 180px;
}

.p-top-1 .c-imgbox__content {
  width: 220px;
  color: #fff;
}

.p-top-1 .c-btn--more {
  padding: 6px 0;
}

/* Section 2
	------------------------------------------------------------*/
.p-top-2 {
  background: url("../img/top/bg_section2.png") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.p-top-2 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 370px;
}

.p-top-2 .c-imgbox {
  width: 410px;
}

.p-top-2 .c-imgbox__content {
  color: #fff;
}

.p-top-2 .c-btn--more {
  padding: 11px 0;
}

.p-top-2 .c-btn--more:after {
  top: 14px;
}

/* Section 3
	------------------------------------------------------------*/
.p-top-3 {
  background: url("../img/top/bg_section3.png") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.p-top-3 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 370px;
}

.p-top-3 .c-imgbox {
  width: 410px;
}

.p-top-3 .c-imgbox__content {
  color: #fff;
}

.p-top-3 .c-btn--more {
  padding: 11px 0;
}

.p-top-3 .c-btn--more:after {
  top: 14px;
}

.p-top-3 .l-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* Section 4
	------------------------------------------------------------*/
.p-top-4 {
  background: url("../img/top/bg_section4.png") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.p-top-4 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 370px;
}

.p-top-4 .c-imgbox {
  width: 410px;
}

.p-top-4 .c-imgbox__content {
  color: #fff;
}

.p-top-4 .c-btn--more {
  padding: 11px 0;
}

.p-top-4 .c-btn--more:after {
  top: 14px;
}
