/*------------------------------------------------------------
	Policy
------------------------------------------------------------*/
.c-pagetitle {
  background: url("../img/policy/bg_policy.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Section 1
------------------------------------------------------------*/
.p-policy-1 {
  padding-bottom: 18px;
}

.p-policy-1__text {
  font-size: 14px;
  text-align: center;
}

.p-policy-1__text p {
  padding-bottom: 32px;
}

/* Section 2
------------------------------------------------------------*/
.p-policy-2 {
  padding-bottom: 20px;
}

.p-policy-2 .c-imgbox {
  position: relative;
  margin-bottom: 60px;
}

.p-policy-2 .c-imgbox__image {
  margin-right: 0;
}

.p-policy-2 .c-imgbox__title {
  padding-bottom: 10px;
}

.p-policy-2 .c-imgbox__content {
  width: 400px;
  height: 320px;
  background: #e0f4fc;
  padding: 40px;
  line-height: 28px;
  position: absolute;
  right: 0;
  top: 40px;
}

.p-policy-2 .c-imgbox:nth-child(2) .c-imgbox__image {
  float: right;
}

.p-policy-2 .c-imgbox:nth-child(2) .c-imgbox__content {
  left: 0;
}
