.p-works-1__block:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Business
------------------------------------------------------------*/
.c-pagetitle {
  background: url("../img/works/bg_works.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* section
------------------------------------------------------------*/
.p-works-1 {
  padding-bottom: 50px;
}

.p-works-1__block {
  margin-bottom: 30px;
}

.p-works-1__block .c-imgbox2:nth-child(2) {
  margin: 0 30px;
}
