@charset "UTF-8";
@import "functions.scss";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1200px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	border-top: solid 7px $black-e;
	font-weight: 600;
	@include sp{
		min-width: 320px;
		border-top: none;
	}
}

#container {
	margin: 0 auto;
	width: 1200px;
	background-color: #fff;
	@include sp{
		width: 100%;
	}
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 15px;
	position: relative;
	@include sp{
		margin-bottom: 0;
	}
	img{
		width: 100%;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 15px;
	li {
		width: 198px;
		float: left;
		a {
			padding: 20px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	margin-top: 71px;
	background-color: #efefef;
	position: relative;
}