.slide-container{
	max-width: 520px;
	position: relative;
	@include sp{
		width: 100%;
		margin: auto;
	}
}
.slide-inner{
	display: none;
	@include sp{
		img{
			width: 100%;
		}
	}
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -68px;
	transition: 0.6s ease;
	@include sp{
		padding: 35px 15px;
	}
}
.next {
	right: 0;
}
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin-right: 7px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	@include sp{
		height: 6px;
		width: 6px;
	}
}
.active-slide {
	display:block;
}
.active, .dot:hover {
	background-color: #717171;
}