@charset "UTF-8";
@import "functions.scss";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.w100 {width: 100% !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}
/*------------------------------------------------------------
	For display or not on PC and SP
------------------------------------------------------------*/
.pc-only{
	display: block;
	@include sp{
		display: none;
	}
}
.sp-only{
	display: none;
	@include sp{
		display: block;
	}
}