@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';

//color
$black: #000000 !default;
$black-e: #4e4e4e !default;
$black-btn: #171717 !default;
$white: #ffffff !default;
$cloud: #eef2f5 !default;
$blue: #16214d !default;

