@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Style for custom navigator
------------------------------------------------------------*/
.gNavi{
	li{
		height: 55px;
		border-left: solid 1px $black;
		&:last-child{
			border-right: solid 1px $black;
		}
		&:nth-child(3){
			a{
				padding-top: 8px !important;
			}
		}
	}
}
/*------------------------------------------------------------
	Component Collection
------------------------------------------------------------*/
.collection{
	@include cf;
	@include sp{
		width: 100%;
	}
}
.slide, .content{
	width: 550px;
	float: left;
	@include sp{
		width: 100%;
		float: none;
	}
}
.slide{
	.dot-bar{
		margin-top: 15px;
		@include sp{
			margin-top: 3px;
		}
	}
}
.content{
	padding-left: 27px;
	padding-top: 3px;
	@include sp{
		padding-left: 0;
		padding-top: 24px;
	}
	.title{
		padding-top: 23px;
		@include sp{
			padding-top: 15px;
		}
	}
	.describe{
		font-size: 1.6rem;
		padding-top: 40px;
		padding-left: 7px;
		@include sp{
			font-size: 1.2rem;
			padding-left: 0;
			padding-top: 28px;
		}
	}
	.more-info{
		padding: 30px 7px;
		@include sp{
			padding: 6px 0;
			img{
				width: 100%;
			}
		}
	}
	.code{
		font-size: 1.4rem;
		padding-left: 7px;
		@include sp{
			font-size: 1rem;
			padding-left: 0;
		}
	}
	.sub-describe{
		font-size: 2rem;
		padding-left: 7px;
		padding-top: 10px;
		@include sp{
			font-size: 1.5rem;
			padding-left: 0;
		}
		.hot-top{
			img{
				vertical-align: text-bottom !important;
				padding-right: 10px;
				display: inline-block;
			}
			img:first-child{
				@include sp{
					display: none;
				}
			}
			img:nth-child(2){
				display: none;
				@include sp{
					display: inline-block;
				}
			}
		}
	}
	.price{
		font-size: 1.2rem;
		padding-left: 10px;
    	padding-top: 10px;
    	@include sp{
    		font-size: .9rem;
    		padding-left: 0;
    	}
    	&-root{
    		font-size: 3rem;
    		@include sp{
	    		font-size: 2rem;
	    	}
    	}
    	&-tax{
    		font-size: 2rem;
    		@include sp{
	    		font-size: 1.4rem;
	    	}
    	}
	}
	.btn-shop{
		background: #fff;
		padding-top: 10px;
		padding-left: 10px;
		@include sp{
			padding-left: 0;
			text-align: center;
		}
		button:nth-child(2){
			margin-left: 5px;
			@include sp{
	    		margin-left: 0;
	    	}
		}
	}
}
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn-shop-list,
.btn-shop-online{
	width: 250px;
	@include sp{
		width: 100%;
		margin-bottom: 7px;
	}
	img{
		margin: auto;
	}
}
.btn-shop-list{
	background: $blue;
	padding: 13px 0;
}
.btn-shop-online{
	background: $black-btn;
	padding: 7px 0 13px;
}
/* back to top button */
.btn-back-top{
	position: absolute;
	top: 0;
	right: 10px;
	margin-top: -40px;
}
/*------------------------------------------------------------
	Animation
------------------------------------------------------------*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}