@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "silder.scss";
/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
.banner{
	img{
		width: 100%;
	}
}
.btn-line-up{
	width: 100%;
	padding: 0 100px;
	@include sp{
		padding: 0 25px;
	}
}
.label, .name, .all-line, .icon{
	float: left;
}
.btn-sugo{
	background: #dee5ea;
	height: 107px;
	border-radius: 20px;
	cursor: pointer;
	@include sp{
		height: 84px;
		border-radius: 10px;
	}
	.label{
		padding: 20px 53px;
		@include sp{
			width: 93%;
			padding: 10px 10px;
			img{
				margin: auto;
				width: 100%;
			}
		}
	}
	.name{
		padding: 25px 65px 0;
		@include sp{
			width: 93%;
			padding: 0;
			img{
				margin: auto;
			}
		}
	}
	.all-line{
		padding: 44px 50px;
	}
	.icon{
		padding: 44px 0;
		@include sp{
			padding: 0;
		}
	}
}
.btn-coat{
	background: #c3ccd2;
	height: 107px;
	border-radius: 20px;
	cursor: pointer;
	@include sp{
		height: 84px;
		border-radius: 10px;
	}
	.label{
		padding: 20px 41px 0 53px;
		@include sp{
			width: 93%;
			padding: 10px 10px;
			img{
				margin: auto;
				width: 100%;
			}
		}
	}
	.name{
		padding: 25px 0px 0;
		@include sp{
			width: 93%;
			padding: 0 10px;
			img{
				margin: auto;
				width: 100%;
			}
		}
	}
	.all-line{
		padding: 44px 40px;
	}
	.icon{
		padding: 44px 0;
		@include sp{
			padding: 0;
		}
	}
}
/*------------------------------------------------------------
	Section 1
------------------------------------------------------------*/
.p-index-1{
	font-size: 1.6rem;
	padding-top: 44px;
	padding-bottom: 102px;
	@include sp{
		font-size: 1.2rem;
		padding: 20px 40px 37px;;
	}
}
/*------------------------------------------------------------
	Section 2
------------------------------------------------------------*/
.p-index-2{
	width: 100%;
	padding: 0 50px;
	@include sp{
		padding: 0 25px;
	}
}
/*------------------------------------------------------------
	Section 3
------------------------------------------------------------*/
.p-index-3{
	font-size: 1.6rem;
	margin: 40px 50px;
	background-color: $cloud;
	padding: 70px 0 79px;
	border-radius: 10px;
	@include sp{
		padding: 0;
		font-size: 1.2rem;
		margin: 40px 25px;
		button{
			width: 100%;
			margin: auto;
			padding: 18px 10px 25px;
		}
	}
	.text{
		width: 520px;
		float: left;
		padding-left: 70px;
   		padding-right: 35px;
   		padding-top: 18px;
   		img{
			margin: auto;
		}
   		@include sp{
			width: 100%;
			padding: 11px 15px;
		}
   		p{
   			padding: 43px 0 34px;
    		line-height: 2;
    		@include sp{
				width: 100%;
				padding: 30px 0 0;
				line-height: 1.4;
			}
   		}
	}
	.image{
		float: left;
		padding-left: 8px;
		@include sp{
			width: 100%;
			padding-left: 0;
			padding: 0 10px;
			img{
				margin: auto;
			}
		}
	}
}
/*------------------------------------------------------------
	Section 4
------------------------------------------------------------*/
.p-index-4{
	width: 100%;
	padding: 85px 50px 92px;
	@include sp{
		padding: 65px 25px;
	}
	.slide{
		float: right !important;
		padding-left: 30px;
		@include sp{
			padding: 0;
		}
	}
	.content{
		padding-left: 0;
		.more-info{
			padding: 40px;
			visibility: hidden;
			@include sp{
				display: none;
			}
		}
		.price{
			padding-top: 0;
		}
	}
}
/*------------------------------------------------------------
	Section 5
------------------------------------------------------------*/
.p-index-5{
	width: 100%;
	padding: 0 50px 76px;
	@include sp{
		padding: 0 25px 48px;
	}
	.more-info{
		visibility: hidden;
		padding: 22px;
		@include sp{
			display: none;
		}
	}
}