@charset "UTF-8";
/* button */
.c-button{
	height: 40px;
	border: solid 1px #d6d6d6;
	border-radius: 50px;
	font-size: 1.4rem;
	color: #333;
	padding: 12px 20px;
	display: inline-block;
	//-------------------------------------------------------
	&:after{
		content: '';
		background: url('./../img/icon_arrow.png') no-repeat;
		background-position: center;
		padding: 0 10px;
	}
}

/* button email */
.c-button-email{
	border: solid 1px #bfccd9;
	border-radius: 5px;
	height: 60px;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 20px;
	text-align: center;
	color: $white;
	//-------------------------------------------------------
	//-------------------------------------------------------
	&:before{
		content: '';
		background: url('./../img/icon_mail.png') no-repeat;
		background-position: center;
		padding-left: 8px;
		padding-right: 30px;
	}
}

