@charset "UTF-8";
/* card */
.c-card{
	border-radius: 5px;
	width: 300px;
	overflow:hidden;
	@include sp{
		width: 100%;
		margin-bottom: 10px;
	}
	//-------------------------------------------------------
	&__image{
		height: 169px;
		img{
			width: 100%;
			height: auto;
		}
		@include sp{
			height: auto;
		}
	}
	//-------------------------------------------------------
	&__text{
		height: 125px;
		position: relative;
		text-align: center;
		@include bg-rgb(#0075a9, .75);
		h3, h4, h5, h6{
			color: $white;
			font-size: 1.6rem;
			padding-bottom: 14px;
			padding-top: 30px;
			@include sp{
				font-size: 1.5rem;
			}
		}
		p{
			color: $white;
			font-size: 1.4rem;
			//line-height: 2.1rem;
			@include line-height(14, 21);
			@include sp{
				font-size: 1.3rem;
			}
		}
		&:before{
			content: '';
			background: url('./../img/bg_card.png');
			width: 18px;
			height: 30px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
/* card 2 */
.c-card-2{
	@include sp{
		margin-bottom: 10px;
	}
	//-------------------------------------------------------
	&__image{
		height: 120px;
		img{
			width: 100%;
		}
		@include sp{
			height: auto;
		}
	}
	//-------------------------------------------------------
	&__text{
		text-align: center;
		h3, h4, h5, h6{
			color: #0068b7;
			font-size: 1.6rem;
			padding-bottom: 14px;
			padding-top: 20px;
			font-weight: normal;
		}
		p{
			color: #333;
			font-size: 1.4rem;
		}
	}
}