@charset "UTF-8";
/* contact */
.c-contact{
	width: 231px;
	font-weight: bold;
	color: $white;
	font-size: 1rem;
	@include sp{
		font-size: 1.1rem;
		width: 100%;
		border: solid 2px $white;
		border-radius: 5px;
		padding: 20px;
		text-align: center;
		img{
			margin: auto;
		}
	}
	//-------------------------------------------------------
	&__text{
		margin-bottom: 13px;
		span{
			padding: 4px 9px;
			border-radius: 3px;
			@include sp{
				padding: 2px 5px;
			}
		}
		span:first-child{
			background: #ffcc00;
			color: #111;
		}
		span:last-child{
			background: #0075a9;
		}
	}
}

/* button back to top */
.c-btn-backTop{
	position: absolute;
	right: 20px;
	bottom: 20px;
	@include sp{
		right: 10px;
		bottom: 10px;
	}
	img{
		border-radius: 5px;
		@include sp{
			width: 40px;
			height: 40px;
		}
	}
}