@charset "UTF-8";
/* title */
.c-title{
	background: url('./../img/bg_title.png') no-repeat;
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	@include sp{
		justify-content: center;
		background-position: center;
		background-size: 18px 30px;
	}
	//-------------------------------------------------------
	h2{
		font-size: 2.4rem;
		padding-left: 40px;
		@include sp{
			font-size: 1.6rem;
			padding-left: 0;
			padding-top: 64px;
		}
	}
}