@charset "UTF-8";
//*******************************
// Mixin and Function
//********************************

// Breakpoint
@mixin sp {
 	@media screen and (max-width: #{$break1}) {
    	@content;
 	}
}

// Center by site width
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
	@content;
}

// Clearfix
@mixin clearfix {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

%cf{
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

// Font
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

// Background RGB
@mixin bg-rgb($color, $opacity : 1) {
	background: rgba(red($color), green($color), blue($color), $opacity);
}

// Keyframes and animations
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin ani($properties){
	animation: #{$properties};
}

// Calculate line height from PSD to HTML, and don't apply margin to first row
@mixin line-height($fontsize, $lineheight ){
    //line-height: ($lineheight) + px;
    line-height: ($lineheight/10) + rem;
    //margin-top: (($lineheight - $fontsize)/2 * -1) + px;
    margin-top: ((($lineheight - $fontsize)/2 * -1) / 10 ) + rem;
    //use
    // @include line-height(14, 21)
    // don't input the Unit
}