.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: fade;
  -moz-animation-duration: 1.5s;
  -o-animation-name: fade;
  -o-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.resize-logo{
	-webkit-transition: width 0.4s;
    transition: width 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-40deg) translate(-6px, 1px);
    -moz-transform: rotate(-40deg) translate(-6px, 1px);
    -o-transform: rotate(-40deg) translate(-6px, 1px);
    transform: rotate(-40deg) translate(-6px, 1px);
    transition: 0.25s;
}

.change .bar2 {opacity: 0; transition: 0.25s;}

.change .bar3 {
    -webkit-transform: rotate(40deg) translate(-6px, -2px);
    -moz-transform: rotate(40deg) translate(-6px, -2px);
    -o-transform: rotate(40deg) translate(-6px, -2px);
    transform: rotate(40deg) translate(-6px, -2px);
    transition: 0.25s;
}