#footer{
	width: 960px;
	margin: auto;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 75px;
	border-top: solid 1px #000;
	.social-icon{
		padding: 4px;
		a{
			padding: 0 5px;
		}img:nth-child(2){
				display: none;
		}
	}
	.lang{
		font-size: 1.6rem;
		padding-top: 2px;
		padding-bottom: 18px;
	}
	.copyright{
		font-size: 1.1rem;
		text-transform: uppercase;
	}
}
@media screen and (max-width: 736px){
	#footer{
		width: 85%;
		padding: 20px 0;
		.social-icon{
			padding: 0;
			a{
				padding: 0 2px;
			}img:nth-child(1){
				display: none;
			}img:nth-child(2){
				display: inline;
			}
		}
		.lang{
			font-size: 1.1rem;
			padding: 14px 0;
		}
		.copyright{
			font-size: 0.7rem;
			text-transform: none;
		}
	}
}