@charset "UTF-8";
* {box-sizing:border-box}
body,
html{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
	"Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-weight: 500;
	font-size: 62.5%;
}
a{
	text-decoration: none;
	color: #000;
}
p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
hr{
	margin-top: -10px;
	padding: 0;
	width: 960px;
	border: 0;
	border-bottom: solid 1px #000;
}
h2{
	margin: 0;
	padding: 0;
}
.head-title{
	padding-bottom: 32px;
	img{
		margin: auto;
	}
}
.img-pc{
	display: block;
}
.img-smp{
	display: none;
}
.fixed{
	position: fixed;
	top: 0;
}
.breadcrumb{
	text-align: right;
	padding-top: 15px;
	max-width: 960px;
	font-size: 1.3rem;
	margin: auto;
}
.banner{
	margin: auto;
	max-width: 1200px;
	height: 500px;
	.banner img{
		width: 100%;
	}
}
@media screen and (max-width: 736px) {
	html, body{
		width: 100%;
	}
	hr{
		width: 100%;
		padding: 0 25px;
	}
	.img-pc{
		display: none;
	}
	.img-smp{
		display: block;
	}
	.head-title{
		padding-bottom: 18px;
		margin-top: 35px;
		img{
			margin: auto;
		}
	}
	.banner{
		height: auto;
		margin-top: 11px;
		img{
			width: 100%;
		}
	}
	.breadcrumb{
		display: none;
	}
	.mg{
		margin-top: 21px;
	}
}