#header{
	width: 1200px;
	height: auto;
	background-color: #fff;
	z-index: 9;
	.menu{
		width: 960px;
		margin: auto;
		margin-top: 36px;
	}
	.menu-top{
		width: 100%;
		.logo{
			text-align: center;
			margin-top: -32px;
		}
		.logo-smp{
			display: none;
		}
		.social-icon{
			text-align: right;
			a{
				padding-right: 11px;
			}
		}
		.menu-icon{
			float: right;
			display: none;
			cursor: pointer;
			.bar1{
				width: 22px;
			    height: 2px;
			    background-color: black;
			    margin: 3px 15px;
			}
			.bar2{
				@extend .bar1;
			}
			.bar3{
				@extend .bar1;
			}
		}
	}
	nav{
		text-align: center;
		margin: 29px 0;
		ul li{
			list-style: none;
			display: inline-block;
			position: relative;
			padding: 6px 0px;
			a{
				padding-right: 51px;
			}
		}
		.sub-menu {
			background-color: #fff;
			color: #000;
		 	display: none;
		 	position: absolute;
		 	z-index: 9999;
		 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		 	padding: 10px;
			text-align: left;
			font-size: 1.4rem;
		}
		.dropdown:hover .sub-menu {
		 	display: block;
		}
	}
}
@media screen and (max-width: 736px){
	#header{
		width: 100%;
		.menu{
			width: 100%;
			margin-top: 10px;
		}
		.menu-top{
			.logo{
				margin-top: 0;
				display: none;
			}
			.social-icon{
				display: none;
			}
			.logo-smp{
				display: block;
				margin: auto;
				width: 88px;
				img{
					width: 100%;
				}
			}
			.menu-icon{
				display: block;
				margin-top: 3px;
			}
		}
		nav{
			display: none;
		}
	}
}