#main{
	max-width: 960px;
	padding-top: 88px;
	margin: auto;
	height: auto;
	font-size: 1.4rem;
	.news-content{
		width: 636px;
		margin: auto;
		margin-top: 65px;
		&:after{
			content: "";
		    display: table;
		    clear: both;
		}
		.news-img{
			width: 182px;
			float: left;
			img{
				width: 100%;
			}
		}
		.news-info{
			width: 454px;
			float: left;
			padding-left: 20px;
			line-height: 1.9;
			span{
				color: #f00;
				font-size: 1.1rem;
			}
		}
	}
	.news-more{
		img{
			margin: auto;
			margin-top: 48px;
			margin-bottom: 54px;
		}
	}
	//page gallery
	.concept{
		&:after{
			content: "";
		    display: table;
		    clear: both;
		}
		.concept-info{
			width: 50%;
			float: left;
			padding-right: 20px;
			line-height: 2;
		}
		.concept-img{
			width: 50%;
			float: left;
			text-align: right;
		}
	}
}
//page message
#main-mess{
	@extend #main;
	.mess{
		width: 100%;
		height: auto;
		color: #fff;
		position: relative;
		.mess-quote{
			width: 60%;
			padding: 76px 60px;
			line-height: 2;
			top: 0;
			position: absolute;
		}
	}
	.mess:nth-child(3){
		margin: 67px 0 114px;
	}
}
//page gallery
#access{
	width: 1200px;
	margin-top: 102px;
	margin-bottom: 75px;
	padding: 100px 0;
	background-color: #f7f8f9;
	.access{
		max-width: 960px;
		margin: auto;
		&:after{
			content: "";
		    display: table;
		    clear: both;
		}
		.access-map{
			width: 50%;
			float: left;
		}
		.access-info{
			width: 50%;
			float: left;
			padding-left: 20px;
			font-size: 1.4rem;
			p{
				padding-top: 22px;
				line-height: 2;
			}
		}
		.btn-map{
			background-color: #000;
		    color: #fff;
		    border: none;
		    border-radius: 5px;
		    padding: 5px 10px;
		    font-size: 1.2rem;
		    display: none;
		}
	}
}
//media query
@media screen and (max-width: 736px) {
	#main{
		width: 100%;
		padding: 0 25px;
		.news-content{
			width: 100%;
			margin-top: 17px;
			padding-bottom: 16px;
			.news-img{
				width: 100%;
			}
			.news-info{
				width: 100%;
				padding-left: 0;
				font-size: 1rem;
				padding-top: 6px;
			}
		}
		.news-more{
			margin-bottom: 61px;
			img{
				margin: auto;
			}
		}
		.concept{
			width: 100%;
			.concept-info{
				width: 100%;
				padding: 0;
				font-size: 1.1rem;
			}
			.concept-img{
				width: 100%;
				img{
					width: 100%;
				}
			}
		}
	}
	#main-mess{
		width: 100%;
		padding: 0 10px;
		.mess{
			width: 100%;
			height: auto;
			background-color: #000;
			img{
				width: 100%;
			}
			.mess-quote{
				position: relative;
				margin-top: -73%;
				width: 100%;
				padding:0 16px;
				font-size: 1.1rem;
			}
			.name-sign{
				padding: 15px 85px;
			}
		}
	}
	#access{
		width: 100%;
		padding: 24px 0;
		margin-top: 10px;
		margin-bottom: 31px;
		.access{
			width: 100%;
			padding: 0 25px;
			.access-map{
				width: 100%;
				padding-bottom: 22px;
				img{
					width: 100%;
				}
			}
			.btn-map{
				display: block;
				cursor: pointer;
			}
			.access-info{
				width: 100%;
				padding: 0;
				font-size: 1.1rem;
				img{
					width: 100%;
				}
				p{
					padding-top: 16px;
				}
			}
		}
	}
}