#nav-smp{
	display: none;
	font-size: 1.1rem;
	margin-top: 15px;
	li{
		list-style: none;
		border-top: solid 1px #939598;
		padding-left: 44px;
		position: relative;
		a img{
			padding: 8px 0;
		}
		ul{
			padding: 17px 0;
			li{
				border: none;
				padding-left: 17px;
				font-weight: bold;
			}
		}
	}
	.accd-content{
		display: none;
	}
	.accIcon:before{
		content: '\02DF';
		font-size: 2rem;
		position: absolute;
   		top: 3px;
    	left: 25px;
	}
}