.slider{
  width: 1200px;
  position: relative;
}
.slide-inner{
  width: 100%;
  display: none;
  height: 500px;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 6px;
  transition: 0.6s ease;
}
.next{
  right: 0;
}
.dot-bar{
  text-align: center;
  margin-top: 30px;
}
.dot{
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 1px;
  background-color: #d1d2d4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #939598;
}
@media screen and (max-width: 736px){
 .slider{
    width: 100%;
    margin-top: 11px;
  }
  .slide-inner{
    height: auto;
  }
  .prev, .next{
    margin-top: -17px;
    padding: 0 0;
  }
  .slide-inner img{
    width: 100%;
  }
  .prev img, .next img{
    width: 50%;
  }
  .dot-bar{
    margin-top: 5px;
  }
  .dot{
    width: 6px;
    height: 6px;
  }
}
