@charset "UTF-8";
* {
  box-sizing: border-box; }

body,
html {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #000; }

p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

hr {
  margin-top: -10px;
  padding: 0;
  width: 960px;
  border: 0;
  border-bottom: solid 1px #000; }

h2 {
  margin: 0;
  padding: 0; }

.head-title {
  padding-bottom: 32px; }
  .head-title img {
    margin: auto; }

.img-pc {
  display: block; }

.img-smp {
  display: none; }

.fixed {
  position: fixed;
  top: 0; }

.breadcrumb {
  text-align: right;
  padding-top: 15px;
  max-width: 960px;
  font-size: 1.3rem;
  margin: auto; }

.banner {
  margin: auto;
  max-width: 1200px;
  height: 500px; }
  .banner .banner img {
    width: 100%; }

@media screen and (max-width: 736px) {
  html, body {
    width: 100%; }

  hr {
    width: 100%;
    padding: 0 25px; }

  .img-pc {
    display: none; }

  .img-smp {
    display: block; }

  .head-title {
    padding-bottom: 18px;
    margin-top: 35px; }
    .head-title img {
      margin: auto; }

  .banner {
    height: auto;
    margin-top: 11px; }
    .banner img {
      width: 100%; }

  .breadcrumb {
    display: none; }

  .mg {
    margin-top: 21px; } }
#header {
  width: 1200px;
  height: auto;
  background-color: #fff;
  z-index: 9; }
  #header .menu {
    width: 960px;
    margin: auto;
    margin-top: 36px; }
  #header .menu-top {
    width: 100%; }
    #header .menu-top .logo {
      text-align: center;
      margin-top: -32px; }
    #header .menu-top .logo-smp {
      display: none; }
    #header .menu-top .social-icon {
      text-align: right; }
      #header .menu-top .social-icon a {
        padding-right: 11px; }
    #header .menu-top .menu-icon {
      float: right;
      display: none;
      cursor: pointer; }
      #header .menu-top .menu-icon .bar1, #header .menu-top .menu-icon .bar2, #header .menu-top .menu-icon .bar3 {
        width: 22px;
        height: 2px;
        background-color: black;
        margin: 3px 15px; }
  #header nav {
    text-align: center;
    margin: 29px 0; }
    #header nav ul li {
      list-style: none;
      display: inline-block;
      position: relative;
      padding: 6px 0px; }
      #header nav ul li a {
        padding-right: 51px; }
    #header nav .sub-menu {
      background-color: #fff;
      color: #000;
      display: none;
      position: absolute;
      z-index: 9999;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 10px;
      text-align: left;
      font-size: 1.4rem; }
    #header nav .dropdown:hover .sub-menu {
      display: block; }

@media screen and (max-width: 736px) {
  #header {
    width: 100%; }
    #header .menu {
      width: 100%;
      margin-top: 10px; }
    #header .menu-top .logo {
      margin-top: 0;
      display: none; }
    #header .menu-top .social-icon {
      display: none; }
    #header .menu-top .logo-smp {
      display: block;
      margin: auto;
      width: 88px; }
      #header .menu-top .logo-smp img {
        width: 100%; }
    #header .menu-top .menu-icon {
      display: block;
      margin-top: 3px; }
    #header nav {
      display: none; } }
#nav-smp {
  display: none;
  font-size: 1.1rem;
  margin-top: 15px; }
  #nav-smp li {
    list-style: none;
    border-top: solid 1px #939598;
    padding-left: 44px;
    position: relative; }
    #nav-smp li a img {
      padding: 8px 0; }
    #nav-smp li ul {
      padding: 17px 0; }
      #nav-smp li ul li {
        border: none;
        padding-left: 17px;
        font-weight: bold; }
  #nav-smp .accd-content {
    display: none; }
  #nav-smp .accIcon:before {
    content: '\02DF';
    font-size: 2rem;
    position: absolute;
    top: 3px;
    left: 25px; }

#main, #main-mess {
  max-width: 960px;
  padding-top: 88px;
  margin: auto;
  height: auto;
  font-size: 1.4rem; }
  #main .news-content, #main-mess .news-content {
    width: 636px;
    margin: auto;
    margin-top: 65px; }
    #main .news-content:after, #main-mess .news-content:after {
      content: "";
      display: table;
      clear: both; }
    #main .news-content .news-img, #main-mess .news-content .news-img {
      width: 182px;
      float: left; }
      #main .news-content .news-img img, #main-mess .news-content .news-img img {
        width: 100%; }
    #main .news-content .news-info, #main-mess .news-content .news-info {
      width: 454px;
      float: left;
      padding-left: 20px;
      line-height: 1.9; }
      #main .news-content .news-info span, #main-mess .news-content .news-info span {
        color: #f00;
        font-size: 1.1rem; }
  #main .news-more img, #main-mess .news-more img {
    margin: auto;
    margin-top: 48px;
    margin-bottom: 54px; }
  #main .concept:after, #main-mess .concept:after {
    content: "";
    display: table;
    clear: both; }
  #main .concept .concept-info, #main-mess .concept .concept-info {
    width: 50%;
    float: left;
    padding-right: 20px;
    line-height: 2; }
  #main .concept .concept-img, #main-mess .concept .concept-img {
    width: 50%;
    float: left;
    text-align: right; }

#main-mess .mess {
  width: 100%;
  height: auto;
  color: #fff;
  position: relative; }
  #main-mess .mess .mess-quote {
    width: 60%;
    padding: 76px 60px;
    line-height: 2;
    top: 0;
    position: absolute; }
#main-mess .mess:nth-child(3) {
  margin: 67px 0 114px; }

#access {
  width: 1200px;
  margin-top: 102px;
  margin-bottom: 75px;
  padding: 100px 0;
  background-color: #f7f8f9; }
  #access .access {
    max-width: 960px;
    margin: auto; }
    #access .access:after {
      content: "";
      display: table;
      clear: both; }
    #access .access .access-map {
      width: 50%;
      float: left; }
    #access .access .access-info {
      width: 50%;
      float: left;
      padding-left: 20px;
      font-size: 1.4rem; }
      #access .access .access-info p {
        padding-top: 22px;
        line-height: 2; }
    #access .access .btn-map {
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 1.2rem;
      display: none; }

@media screen and (max-width: 736px) {
  #main, #main-mess {
    width: 100%;
    padding: 0 25px; }
    #main .news-content, #main-mess .news-content {
      width: 100%;
      margin-top: 17px;
      padding-bottom: 16px; }
      #main .news-content .news-img, #main-mess .news-content .news-img {
        width: 100%; }
      #main .news-content .news-info, #main-mess .news-content .news-info {
        width: 100%;
        padding-left: 0;
        font-size: 1rem;
        padding-top: 6px; }
    #main .news-more, #main-mess .news-more {
      margin-bottom: 61px; }
      #main .news-more img, #main-mess .news-more img {
        margin: auto; }
    #main .concept, #main-mess .concept {
      width: 100%; }
      #main .concept .concept-info, #main-mess .concept .concept-info {
        width: 100%;
        padding: 0;
        font-size: 1.1rem; }
      #main .concept .concept-img, #main-mess .concept .concept-img {
        width: 100%; }
        #main .concept .concept-img img, #main-mess .concept .concept-img img {
          width: 100%; }

  #main-mess {
    width: 100%;
    padding: 0 10px; }
    #main-mess .mess {
      width: 100%;
      height: auto;
      background-color: #000; }
      #main-mess .mess img {
        width: 100%; }
      #main-mess .mess .mess-quote {
        position: relative;
        margin-top: -73%;
        width: 100%;
        padding: 0 16px;
        font-size: 1.1rem; }
      #main-mess .mess .name-sign {
        padding: 15px 85px; }

  #access {
    width: 100%;
    padding: 24px 0;
    margin-top: 10px;
    margin-bottom: 31px; }
    #access .access {
      width: 100%;
      padding: 0 25px; }
      #access .access .access-map {
        width: 100%;
        padding-bottom: 22px; }
        #access .access .access-map img {
          width: 100%; }
      #access .access .btn-map {
        display: block;
        cursor: pointer; }
      #access .access .access-info {
        width: 100%;
        padding: 0;
        font-size: 1.1rem; }
        #access .access .access-info img {
          width: 100%; }
        #access .access .access-info p {
          padding-top: 16px; } }
#footer {
  width: 960px;
  margin: auto;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 75px;
  border-top: solid 1px #000; }
  #footer .social-icon {
    padding: 4px; }
    #footer .social-icon a {
      padding: 0 5px; }
    #footer .social-icon img:nth-child(2) {
      display: none; }
  #footer .lang {
    font-size: 1.6rem;
    padding-top: 2px;
    padding-bottom: 18px; }
  #footer .copyright {
    font-size: 1.1rem;
    text-transform: uppercase; }

@media screen and (max-width: 736px) {
  #footer {
    width: 85%;
    padding: 20px 0; }
    #footer .social-icon {
      padding: 0; }
      #footer .social-icon a {
        padding: 0 2px; }
      #footer .social-icon img:nth-child(1) {
        display: none; }
      #footer .social-icon img:nth-child(2) {
        display: inline; }
    #footer .lang {
      font-size: 1.1rem;
      padding: 14px 0; }
    #footer .copyright {
      font-size: 0.7rem;
      text-transform: none; } }
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: fade;
  -moz-animation-duration: 1.5s;
  -o-animation-name: fade;
  -o-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.resize-logo {
  -webkit-transition: width 0.4s;
  transition: width 0.4s; }

.change .bar1, .change #header .menu-top .menu-icon .bar2, #header .menu-top .menu-icon .change .bar2, .change #header .menu-top .menu-icon .bar3, #header .menu-top .menu-icon .change .bar3 {
  -webkit-transform: rotate(-40deg) translate(-6px, 1px);
  -moz-transform: rotate(-40deg) translate(-6px, 1px);
  -o-transform: rotate(-40deg) translate(-6px, 1px);
  transform: rotate(-40deg) translate(-6px, 1px);
  transition: 0.25s; }

.change .bar2 {
  opacity: 0;
  transition: 0.25s; }

.change .bar3 {
  -webkit-transform: rotate(40deg) translate(-6px, -2px);
  -moz-transform: rotate(40deg) translate(-6px, -2px);
  -o-transform: rotate(40deg) translate(-6px, -2px);
  transform: rotate(40deg) translate(-6px, -2px);
  transition: 0.25s; }

.slider {
  width: 1200px;
  position: relative; }

.slide-inner {
  width: 100%;
  display: none;
  height: 500px; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 6px;
  transition: 0.6s ease; }

.next {
  right: 0; }

.dot-bar {
  text-align: center;
  margin-top: 30px; }

.dot {
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 1px;
  background-color: #d1d2d4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #939598; }

@media screen and (max-width: 736px) {
  .slider {
    width: 100%;
    margin-top: 11px; }

  .slide-inner {
    height: auto; }

  .prev, .next {
    margin-top: -17px;
    padding: 0 0; }

  .slide-inner img {
    width: 100%; }

  .prev img, .next img {
    width: 50%; }

  .dot-bar {
    margin-top: 5px; }

  .dot {
    width: 6px;
    height: 6px; } }

/*# sourceMappingURL=monte.css.map */
