@charset "UTF-8";
.c-header-PC__inner:after, .c-gnavi-PC ul:after, footer .c-foot-nav__inner:after, .c-contentBox:after, .c-list-type1:after, .c-list-type1__info:after, .c-list-type1--col3:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/* color */
.u-text-red {
  color: #f00;
}

.u-text-green {
  color: #8CC152;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	display
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  font-size: 1.4rem;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
    font-size: 1.2rem;
  }
}

/* layout container
------------------------------------------------------------*/
.l-container {
  width: 1050px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}

/* layout main
------------------------------------------------------------*/
.l-main {
  width: 800px;
  margin-top: 50px;
  float: left;
}

@media screen and (max-width: 767px) {
  .l-main {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* layout side
------------------------------------------------------------*/
.l-side {
  width: 220px;
  margin-top: 50px;
  float: right;
}

@media screen and (max-width: 767px) {
  .l-side {
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
/* PC
------------------------------------------------------------*/
.c-header-PC {
  border-bottom: 1px solid #CCC;
}

.c-header-PC__inner {
  height: 80px;
  width: 1050px;
  margin: 0 auto;
  padding: 15px 0;
}

@media screen and (max-width: 767px) {
  .c-header-PC__inner {
    width: auto;
  }
}

.c-header-PC .c-logo-PC {
  float: left;
}

.c-header-PC .c-link-PC ul {
  float: right;
  padding: 15px 0;
}

.c-header-PC .c-link-PC li {
  display: inline-block;
  margin-left: 20px;
}

.c-header-PC .c-link-PC li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

/* SP
------------------------------------------------------------*/
.c-header-SP {
  border-bottom: 1px solid #CCC;
  background: #FFF;
  height: 60px;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 10px;
}

.c-header-SP__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-menuSP {
  width: 30px;
  height: 30px;
  top: 11px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}

.c-menuSP__bar {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menuSP.is-open .c-menuSP__bar:first-child {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.c-menuSP.is-open .c-menuSP__bar:nth-child(2) {
  opacity: 0;
}

.c-menuSP.is-open .c-menuSP__bar:last-child {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

.c-menulistSP {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
}

.c-menulistSP ul {
  background: #FFF;
}

.c-menulistSP li {
  border-bottom: 1px solid #CCC;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px 10px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.c-gnavi-PC {
  border-bottom: 1px solid #CCC;
}

.c-gnavi-PC ul {
  width: 1050px;
  margin: 0 auto;
  border-left: 1px solid #CCC;
}

@media screen and (max-width: 767px) {
  .c-gnavi-PC ul {
    width: auto;
  }
}

.c-gnavi-PC li {
  width: 20%;
  border-right: 1px solid #CCC;
  background-color: #efefef;
  float: left;
}

.c-gnavi-PC a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #333;
  height: 40px;
  font-size: 1.4rem;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
.c-breadcrumb {
  padding: 10px 10px;
}

.c-breadcrumb ul {
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .c-breadcrumb ul {
    width: auto;
  }
}

.c-breadcrumb li {
  line-height: 1;
  font-size: 1.2rem;
  display: inline;
}

@media screen and (max-width: 767px) {
  .c-breadcrumb li {
    font-size: 1.0rem;
  }
}

.c-breadcrumb li + li:before {
  content: "›";
  margin: 0 7px;
}

.c-breadcrumb a {
  color: #333;
}

.c-breadcrumb--topline {
  border-top: 1px solid #CCC;
}

.c-breadcrumb--botline {
  border-bottom: 1px solid #CCC;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
.c-side {
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-bottom: 30px;
}

.c-side__head {
  border-bottom: 1px solid #CCC;
  padding: 12px 10px;
  background: #E6E9ED;
}

.c-side__head p {
  font-size: 1.4rem;
  line-height: 1;
}

.c-side__body {
  padding: 13px 10px;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  margin-top: 30px;
}

footer .c-foot-nav {
  border-top: 1px solid #CCC;
  background: #EFEFEE;
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  footer .c-foot-nav {
    padding: 15px 10px 5px 10px;
  }
}

footer .c-foot-nav__inner {
  width: 1050px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  footer .c-foot-nav__inner {
    width: auto;
  }
}

footer .c-foot-nav__block {
  width: 20%;
  float: left;
}

@media screen and (max-width: 767px) {
  footer .c-foot-nav__block {
    width: 48%;
    margin-bottom: 20px;
  }
  footer .c-foot-nav__block:first-child {
    margin-top: 0;
  }
}

footer .c-foot-nav p {
  font-weight: bold;
  font-size: 1.4rem;
}

footer .c-foot-nav li {
  margin-top: 6px;
}

footer .c-foot-nav a {
  text-decoration: none;
  color: #000;
}

/* Copyright
------------------------------------------------------------*/
.c-footCopy {
  padding: 20px 0;
  border-top: 1px solid #CCC;
}

@media screen and (max-width: 767px) {
  .c-footCopy {
    padding: 10px 0;
  }
}

.c-footCopy p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .c-footCopy p {
    font-size: 1.0rem;
  }
}

/* Title base
------------------------------------------------------------*/
.c-title {
  border-left: 8px solid #8CC152;
  margin-bottom: 10px;
}

.c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
  font-size: 1.6rem;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
    font-size: 1.4rem;
  }
}

.c-title--warning {
  border-left-color: #F6BB42;
}

.c-title--danger {
  border-left-color: #E9573F;
}

.c-title--topline {
  border-top: solid 1px #ccc;
}

.c-title--botline {
  border-bottom: solid 1px #ccc;
}

/* Title large
------------------------------------------------------------*/
.c-title-lg {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.c-title-lg h1, .c-title-lg h2, .c-title-lg h3, .c-title-lg h4, .c-title-lg h5, .c-title-lg h6 {
  font-size: 1.8rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-title-lg h1, .c-title-lg h2, .c-title-lg h3, .c-title-lg h4, .c-title-lg h5, .c-title-lg h6 {
    font-size: 1.4rem;
  }
}

.c-title-lg--color {
  border-bottom-color: #8CC152;
}

.c-title-lg--color h1, .c-title-lg--color h2, .c-title-lg--color h3, .c-title-lg--color h4, .c-title-lg--color h5, .c-title-lg--color h6 {
  color: #8CC152;
}

/* Title small
------------------------------------------------------------*/
.c-title-sm h1, .c-title-sm h2, .c-title-sm h3, .c-title-sm h4, .c-title-sm h5, .c-title-sm h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Title extra large
------------------------------------------------------------*/
.c-title-xlg {
  line-height: 1;
  border-bottom: 1px solid #CCC;
}

.c-title-xlg__inner {
  padding-top: 30px;
  margin: auto;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1050px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .c-title-xlg__inner {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .c-title-xlg__inner {
    padding: 15px 10px;
    height: 70px;
  }
}

.c-title-xlg h1, .c-title-xlg h2 {
  font-size: 2.2rem;
}

@media screen and (max-width: 767px) {
  .c-title-xlg h1, .c-title-xlg h2 {
    font-size: 1.6rem;
  }
}

.c-title-xlg p, .c-title-xlg h3, .c-title-xlg h4, .c-title-xlg h5, .c-title-xlg h6, .c-title-xlg span {
  margin-top: 8px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .c-title-xlg p, .c-title-xlg h3, .c-title-xlg h4, .c-title-xlg h5, .c-title-xlg h6, .c-title-xlg span {
    font-size: 1.0rem;
  }
}

.c-title-xlg--bg-blue {
  background-color: #5D9CEC;
  color: #fff;
}

/* Button base
------------------------------------------------------------*/
.c-btn {
  display: inline-block;
}

.c-btn a {
  color: #FFF;
  background: #FC6E51;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  min-width: 200px;
  padding: 13px 0;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

.c-btn a:hover {
  text-decoration: underline;
}

.c-btn--green a {
  background: #37BC9B;
}

.c-btn--blue a {
  background: #3BAFDA;
}

/* layout
------------------------------------------------------------*/
.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.l-btn--2btn-center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-btn--2btn-center {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.l-btn--2btn-center div {
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  .l-btn--2btn-center div:last-child {
    margin-left: 2%;
  }
}

.l-btn--2btn-between div:last-child {
  float: right;
}

/* base
------------------------------------------------------------*/
.c-navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-navi ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-navi li {
  width: 180px;
}

.c-navi a {
  text-decoration: none;
  background: #4FC1E9;
  color: #FFF;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.c-navi a:hover {
  opacity: 1;
  background: #3BAFDA;
}

.c-navi a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -4px;
}

/* base
------------------------------------------------------------*/
.c-contentBox {
  border: 1px solid #CCC;
  padding: 15px;
}

.c-contentBox__img {
  width: 150px;
  margin-right: 10px;
  float: left;
}

.c-contentBox__text h3 {
  font-size: 2.0rem;
  font-weight: normal;
}

.c-contentBox__text p {
  font-size: 1.2rem;
}

.c-contentBox--bg {
  background: #F5F7FA;
}

.c-contentBox--round {
  border-radius: 10px;
}

.c-contentBox--imgright {
  float: right !important;
  margin-right: 0;
  margin-left: 10px;
}

/* list style 1
------------------------------------------------------------*/
.c-list-type1__card {
  width: 185px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}

@media screen and (max-width: 767px) {
  .c-list-type1__card {
    width: 49%;
    margin-left: 2%;
  }
}

.c-list-type1__card:nth-child(4n+1) {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .c-list-type1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-list-type1__mainImg img {
    width: 100%;
    height: auto;
  }
}

.c-list-type1__info {
  margin-top: 10px;
}

.c-list-type1__subImg {
  width: 50px;
  margin-right: 10px;
  float: left;
}

.c-list-type1__text h3 {
  font-size: 1.4rem;
}

.c-list-type1__text p {
  font-size: 1.2rem;
}

.c-list-type1--col3 .c-list-type1__card {
  width: 253px;
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card {
    width: 49%;
    margin-left: 2%;
  }
}

.c-list-type1--col3 .c-list-type1__card:nth-child(4n+1) {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card:nth-child(4n+1) {
    margin-left: 2%;
  }
}

.c-list-type1--col3 .c-list-type1__card:nth-child(3n+1) {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card:nth-child(3n+1) {
    margin-left: 2%;
  }
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

/* list style 2
------------------------------------------------------------*/
.c-list-type2 ul {
  margin-left: 1.7rem;
}

.c-list-type2 li {
  list-style-type: disc;
  font-size: 1.4rem;
}

/* list style 3
------------------------------------------------------------*/
.c-list-type3 ol {
  margin-left: 1.7rem;
}

.c-list-type3 li {
  list-style-type: decimal;
  font-size: 1.4rem;
}

/* list style 4
------------------------------------------------------------*/
.c-list-type4 ul {
  border-top: 1px solid #CCC;
}

.c-list-type4 li {
  border-bottom: 1px solid #CCC;
}

.c-list-type4 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

/* list style 5
------------------------------------------------------------*/
.c-list-type5 li {
  margin-top: 15px;
}

.c-list-type5 li:first-child {
  margin-top: 0;
}

/* base
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .c-table--spBlock th, .c-table--spBlock td {
    display: block;
  }
}

.c-table table {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse;
}

.c-table th, .c-table td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}

.c-table thead th {
  background: #8CC152;
  color: #FFF;
  font-size: 1.4rem;
}

.c-table tbody th {
  font-weight: normal;
  font-size: 1.4rem;
  background: #E6E9ED;
}

.c-table tbody td {
  text-align: center;
  font-size: 1.4rem;
}

.c-table .u-gray {
  background: #434A54;
  color: #FFF;
}

/*
------------------------------------------------------------*/
.c-line {
  position: relative;
}

.c-line hr {
  height: 0;
  border: 0;
  border-top: 1px solid #CCC;
  text-align: center;
}

.c-line hr:after {
  content: '§';
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background: #FFF;
  color: #bbb;
  font-size: 1.4rem;
  left: 50%;
  top: 50%;
  line-height: 1;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
}

/*
------------------------------------------------------------*/
.c-message {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 30px 10px;
  overflow: hidden;
}

.c-message p {
  text-align: center;
  font-size: 1.4rem;
}

.c-message--green {
  border-color: #37BC9B;
  background: #48CFAD;
}

.c-message--green p {
  color: #FFF;
}

.c-message--red {
  border-color: #d50000;
  background: #e53935;
}

.c-message--red p {
  color: #FFF;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-headline1,
.c-headline2,
.c-headline3 {
  line-height: 1;
  font-size: 1.3rem;
  padding: 6px 0 6px 15px;
  margin: 40px 0 20px 0;
  border-radius: 5px;
}

.c-headline2,
.c-headline3 {
  margin-top: 20px;
}

.c-headline1 {
  font-size: 1.6rem;
  background: #000;
  color: #FFF;
}

.c-headline2 {
  background: #888;
  color: #FFF;
  padding-left: 30px;
}

.c-headline3 {
  background: #DDD;
  color: #000;
  padding-left: 35px;
}
