@charset "UTF-8";
.c-contentBox:after, .c-list-type1:after, .c-list-type1__info:after, .c-list-type1--col3:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Title base
------------------------------------------------------------*/
.c-title {
  border-left: 8px solid #8CC152;
  margin-bottom: 10px;
}

.c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
  font-size: 1.6rem;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
    font-size: 1.4rem;
  }
}

.c-title--warning {
  border-left-color: #F6BB42;
}

.c-title--danger {
  border-left-color: #E9573F;
}

.c-title--topline {
  border-top: solid 1px #ccc;
}

.c-title--botline {
  border-bottom: solid 1px #ccc;
}

/* Title large
------------------------------------------------------------*/
.c-title-lg {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.c-title-lg h1, .c-title-lg h2, .c-title-lg h3, .c-title-lg h4, .c-title-lg h5, .c-title-lg h6 {
  font-size: 1.8rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-title-lg h1, .c-title-lg h2, .c-title-lg h3, .c-title-lg h4, .c-title-lg h5, .c-title-lg h6 {
    font-size: 1.4rem;
  }
}

.c-title-lg--color {
  border-bottom-color: #8CC152;
}

.c-title-lg--color h1, .c-title-lg--color h2, .c-title-lg--color h3, .c-title-lg--color h4, .c-title-lg--color h5, .c-title-lg--color h6 {
  color: #8CC152;
}

/* Title small
------------------------------------------------------------*/
.c-title-sm h1, .c-title-sm h2, .c-title-sm h3, .c-title-sm h4, .c-title-sm h5, .c-title-sm h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Title extra large
------------------------------------------------------------*/
.c-title-xlg {
  line-height: 1;
  border-bottom: 1px solid #CCC;
}

.c-title-xlg__inner {
  padding-top: 30px;
  margin: auto;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1050px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .c-title-xlg__inner {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .c-title-xlg__inner {
    padding: 15px 10px;
    height: 70px;
  }
}

.c-title-xlg h1, .c-title-xlg h2 {
  font-size: 2.2rem;
}

@media screen and (max-width: 767px) {
  .c-title-xlg h1, .c-title-xlg h2 {
    font-size: 1.6rem;
  }
}

.c-title-xlg p, .c-title-xlg h3, .c-title-xlg h4, .c-title-xlg h5, .c-title-xlg h6, .c-title-xlg span {
  margin-top: 8px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .c-title-xlg p, .c-title-xlg h3, .c-title-xlg h4, .c-title-xlg h5, .c-title-xlg h6, .c-title-xlg span {
    font-size: 1.0rem;
  }
}

.c-title-xlg--bg-blue {
  background-color: #5D9CEC;
  color: #fff;
}

/* Button base
------------------------------------------------------------*/
.c-btn {
  display: inline-block;
}

.c-btn a {
  color: #FFF;
  background: #FC6E51;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  min-width: 200px;
  padding: 13px 0;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

.c-btn a:hover {
  text-decoration: underline;
}

.c-btn--green a {
  background: #37BC9B;
}

.c-btn--blue a {
  background: #3BAFDA;
}

/* layout
------------------------------------------------------------*/
.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.l-btn--2btn-center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-btn--2btn-center {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.l-btn--2btn-center div {
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  .l-btn--2btn-center div:last-child {
    margin-left: 2%;
  }
}

.l-btn--2btn-between div:last-child {
  float: right;
}

/* base
------------------------------------------------------------*/
.c-navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-navi ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-navi li {
  width: 180px;
}

.c-navi a {
  text-decoration: none;
  background: #4FC1E9;
  color: #FFF;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.c-navi a:hover {
  opacity: 1;
  background: #3BAFDA;
}

.c-navi a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -4px;
}

/* base
------------------------------------------------------------*/
.c-contentBox {
  border: 1px solid #CCC;
  padding: 15px;
}

.c-contentBox__img {
  width: 150px;
  margin-right: 10px;
  float: left;
}

.c-contentBox__text h3 {
  font-size: 2.0rem;
  font-weight: normal;
}

.c-contentBox__text p {
  font-size: 1.2rem;
}

.c-contentBox--bg {
  background: #F5F7FA;
}

.c-contentBox--round {
  border-radius: 10px;
}

.c-contentBox--imgright {
  float: right !important;
  margin-right: 0;
  margin-left: 10px;
}

/* list style 1
------------------------------------------------------------*/
.c-list-type1__card {
  width: 185px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}

@media screen and (max-width: 767px) {
  .c-list-type1__card {
    width: 49%;
    margin-left: 2%;
  }
}

.c-list-type1__card:nth-child(4n+1) {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .c-list-type1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-list-type1__mainImg img {
    width: 100%;
    height: auto;
  }
}

.c-list-type1__info {
  margin-top: 10px;
}

.c-list-type1__subImg {
  width: 50px;
  margin-right: 10px;
  float: left;
}

.c-list-type1__text h3 {
  font-size: 1.4rem;
}

.c-list-type1__text p {
  font-size: 1.2rem;
}

.c-list-type1--col3 .c-list-type1__card {
  width: 253px;
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card {
    width: 49%;
    margin-left: 2%;
  }
}

.c-list-type1--col3 .c-list-type1__card:nth-child(4n+1) {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card:nth-child(4n+1) {
    margin-left: 2%;
  }
}

.c-list-type1--col3 .c-list-type1__card:nth-child(3n+1) {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card:nth-child(3n+1) {
    margin-left: 2%;
  }
}

@media screen and (max-width: 767px) {
  .c-list-type1--col3 .c-list-type1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

/* list style 2
------------------------------------------------------------*/
.c-list-type2 ul {
  margin-left: 1.7rem;
}

.c-list-type2 li {
  list-style-type: disc;
  font-size: 1.4rem;
}

/* list style 3
------------------------------------------------------------*/
.c-list-type3 ol {
  margin-left: 1.7rem;
}

.c-list-type3 li {
  list-style-type: decimal;
  font-size: 1.4rem;
}

/* list style 4
------------------------------------------------------------*/
.c-list-type4 ul {
  border-top: 1px solid #CCC;
}

.c-list-type4 li {
  border-bottom: 1px solid #CCC;
}

.c-list-type4 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

/* list style 5
------------------------------------------------------------*/
.c-list-type5 li {
  margin-top: 15px;
}

.c-list-type5 li:first-child {
  margin-top: 0;
}

/* base
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .c-table--spBlock th, .c-table--spBlock td {
    display: block;
  }
}

.c-table table {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse;
}

.c-table th, .c-table td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}

.c-table thead th {
  background: #8CC152;
  color: #FFF;
  font-size: 1.4rem;
}

.c-table tbody th {
  font-weight: normal;
  font-size: 1.4rem;
  background: #E6E9ED;
}

.c-table tbody td {
  text-align: center;
  font-size: 1.4rem;
}

.c-table .u-gray {
  background: #434A54;
  color: #FFF;
}

/*
------------------------------------------------------------*/
.c-line {
  position: relative;
}

.c-line hr {
  height: 0;
  border: 0;
  border-top: 1px solid #CCC;
  text-align: center;
}

.c-line hr:after {
  content: '§';
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background: #FFF;
  color: #bbb;
  font-size: 1.4rem;
  left: 50%;
  top: 50%;
  line-height: 1;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
}

/*
------------------------------------------------------------*/
.c-message {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 30px 10px;
  overflow: hidden;
}

.c-message p {
  text-align: center;
  font-size: 1.4rem;
}

.c-message--green {
  border-color: #37BC9B;
  background: #48CFAD;
}

.c-message--green p {
  color: #FFF;
}

.c-message--red {
  border-color: #d50000;
  background: #e53935;
}

.c-message--red p {
  color: #FFF;
}
