.p-company-1 {
  margin-bottom: 40px;
}

.p-company-1 p {
  margin-bottom: 20px;
}

.p-company-2 {
  margin-bottom: 40px;
}

.p-company-2 .c-table {
  margin-bottom: 30px;
}

.p-company-3 p {
  margin-bottom: 10px;
}

.p-company-3 p:nth-child(8) {
  color: #F00;
  font-size: 1.2rem;
}

.p-company-3 .c-list-type2 {
  margin-bottom: 30px;
}

.p-company-3 .c-line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-company-3 .c-contentBox {
  border: none;
  padding-left: 0;
}

.p-company-3 .c-contentBox__img {
  width: 180px;
}

@media screen and (max-width: 767px) {
  .p-company-3 .c-contentBox__img {
    width: 30%;
  }
  .p-company-3 .c-contentBox__img img {
    width: 100%;
  }
}

.p-company-3 .c-contentBox__text p {
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .p-company-3 .c-contentBox__text {
    width: 65%;
    float: right;
  }
}
