.p-service-1 {
  margin-bottom: 30px;
}

.p-service-2 {
  margin-bottom: 30px;
}

.p-service-3 {
  margin-bottom: 30px;
}

.p-service-3 .text {
  margin-bottom: 20px;
}

.p-service-4 {
  margin-bottom: 30px;
}

.p-service-4 .c-table {
  margin-bottom: 30px;
}

.p-service-4 .l-btn {
  margin-top: 30px;
}

.p-service-5__text {
  margin: 20px 0;
}
